<div class="page-container" id="tran-admin-div-1">
    <div class="page-title">Transaction Admin</div>
    <div class="row mt-2">
        <div class="col-12 position-relative">
            <ul class="d-flex color-light-grey" id="tran-admin-ui-1">
                <li id="tran-admin-li-1" (click)="switchTab('types')" [ngClass]="{active: tab == 'types'}">Transactions
                    Types</li>
                <li id="tran-admin-li-2" (click)="switchTab('codes')" [ngClass]="{active: tab == 'codes'}">Transactions
                    Codes</li>
                <li id="tran-admin-li-3" (click)="switchTab('links')" [ngClass]="{active: tab == 'links'}"
                    *ngIf="permissions.updateLink">
                    Transactions Links
                </li>
            </ul>
            <div class="tabs-underline"></div>
        </div>
    </div>
    <div [ngSwitch]="tab" class="mt-2" id="tran-admin-div-2s">
        <div *ngSwitchCase="'types'">
            <app-transaction-types [permissions]="permissions"></app-transaction-types>
        </div>
        <div *ngSwitchCase="'codes'">
            <app-transaction-codes [permissions]="permissions"></app-transaction-codes>
        </div>
        <div *ngSwitchCase="'links'">
            <app-transaction-links></app-transaction-links>
        </div>
    </div>
</div>