<div *ngIf="customerBalances | async as customerInfo">
    <button (click)="toggleReasonDialog()" style="display: none" #updateBalanceAndDateBtn></button>

    <div class="row">
        <div class="col-4 roboto-medium position-relative">
            <div class="divider"></div>
            <div class="text-left color-light-grey heading-18">Balance</div>
            <span
                [ngClass]="{
                    'line-through':
                        (newBalanceToDisplay || newBalanceToDisplay === 0) &&
                        customerInfo.balance !== newBalanceToDisplay
                }"
            >
                {{ customerInfo.balance | number : '1.1-2' }}
            </span>
            {{ (customerInfo.currency | number : '1.1-2') || '-' }}
            <span
                class="new-balance heading-22"
                [ngClass]="{
                    'new-balance-show':
                        (newBalanceToDisplay || newBalanceToDisplay === 0) &&
                        customerInfo.balance !== newBalanceToDisplay
                }"
            >
                {{ newBalanceToDisplay | number : '1.1-2' }} {{ (customerInfo.currency | number : '1.1-2' )|| '-' }}
            </span>

            <div class="d-flex align-items-center input-container position-relative mt-3">
                <div class="icon-wrapper-green">
                    <i class="pi pi-plus-circle"></i>
                </div>
                <div class="ms-2 heading-14" style="color: #60b660">Add Amount</div>
                <span
                    [class]="addAmount ? 'p-float-label show-input show-input-have-values' : 'p-float-label show-input'"
                    *ngIf="permissions.addBalance"
                >
                    <input
                        type="number"
                        [(ngModel)]="addAmount"
                        (keyup)="calculateAddBalance(customerInfo.balance)"
                        inputId="add"
                        placeholder="Write the amount here"
                        pInputText
                        [appFocus]="true"
                        [OnlyNumber]="true"
                        oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);"
                        min="0"
                        max="9999999999"
                    />
                </span>
            </div>
            <div class="d-flex align-items-center position-relative input-container mt-3">
                <div class="icon-wrapper-red">
                    <i class="pi pi-minus-circle"></i>
                </div>
                <div class="ms-2 heading-14" style="color: #640909">Substract Amount</div>
                <span
                    [class]="subAmount ? 'p-float-label show-input show-input-have-values' : 'p-float-label show-input'"
                >
                    <input
                        step="any"
                        type="number"
                        [(ngModel)]="subAmount"
                        (keyup)="calculateSubBalance(customerInfo.balance)"
                        inputId="sub"
                        placeholder="Write the amount here"
                        styleClass="w-100"
                        pInputText
                        min="0"
                        oninput="validity.valid||(value='');"
                        oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);"
                        min="0"
                        max="9999999999"
                    />
                </span>
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex align-items-center">
                <p-inputSwitch class="login" [(ngModel)]="sendSMS"></p-inputSwitch>
                <label class="heading-14 color-dark-grey ms-2 bolder-w">Send SMS</label>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="color-light-grey heading-12">Supervision Fee Expiry Date</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.supervisionFeePeriodExpiryDate | timestamp }}
                        <!-- <span class="icon-circle icon-circle-grey ms-2" (click)="showSuperVisionFeeDialog()">
                                <i class="pi pi-pencil heading-13 color-white"></i>
                            </span> -->
                    </div>
                </div>
                <div class="col-6">
                    <label class="color-light-grey heading-12">Supervision Fee Period</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.supervisionFeePeriod || '-' }} days
                        <!-- <span class="icon-circle icon-circle-grey ms-2"
                                (click)="showSuperVisionFeePeriodDialog(customerInfo.supervisionFeePeriod)">
                                <i class="pi pi-pencil heading-13 color-white"></i>
                            </span> -->
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Service Fee Expiry Date</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.serviceFeePeriodExpiryDate | timestamp }}
                        <!-- <span class="icon-circle icon-circle-grey ms-2" (click)="showServiceFeeDialog()">
                                <i class="pi pi-pencil heading-13 color-white"></i>
                            </span> -->
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Service Fee Period</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.serviceFeePeriod || '-' }} days
                        <!-- <span class="icon-circle icon-circle-grey ms-2"
                                (click)="showServiceFeePeriodDialog(customerInfo.serviceFeePeriod)">
                                <i class="pi pi-pencil heading-13 color-white"></i>
                            </span> -->
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Original service class</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.originalServiceClass || '-' }}
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Credit Clearance</label>
                    <div class="roboto-medium heading-14">
                        {{ customerInfo.creditClearance || '-' }}
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Maximum Service Fee Period</label>
                    <div class="roboto-medium heading-14">{{ customerInfo.maxServiceFeePeriod || '-' }} days</div>
                </div>
                <div class="col-6 mt-3">
                    <label class="color-light-grey heading-12">Maximum Supervision Period</label>
                    <div class="roboto-medium heading-14">{{ customerInfo.maxSupervisionPeriod || '-' }} days</div>
                </div>
            </div>
        </div>

        <!-- <div class="col-3">
            <div *ngIf="positiveValuesValidation() == true" class="color-red">
                Please Enter Positive Values in either Add or Substract Amounts
            </div>
        </div>
        <div class="col-3">
            <span class="color-red" *ngIf="subAmount > customerInfo.balance">
                The Amount is greater than the actual balance
            </span>
        </div> -->
    </div>
    <div class="row mt-3"></div>
    <div class="row mt-3"></div>
    <!-- <div class="row mt-4">
        <div class="col-6">
            <label class="color-light-grey heading-12">Currency Type</label>
            <div class="roboto-medium heading-14">
                {{ customerInfo.currrency || '-'}}
            </div>
        </div>
        <div class="col-6">
            <label class="color-light-grey heading-12">
                Max supervision period
            </label>
            <div class="roboto-medium heading-14">
                {{customerInfo.maxSupervesionPeriodExpiry || '-'}} days
            </div>
        </div>
    </div> -->
    <div class="row mt-3">
        <!-- <div class="col-6">
            <label class="color-light-grey heading-12">
                Max service fee period
            </label>
            <div class="roboto-medium heading-14">
                {{customerInfo.maxServicePeriodExpiry || '-'}} days
            </div>
        </div> -->
    </div>
    <div class="row mt-3"></div>

    <!-- edit balance and date dialog-->
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Service Fee Period "
        [(visible)]="serviceFeePeriodDialog"
        [style]="{width: '50vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        class="edit-admin-account-dialog"
        [closable]="true"
        [closeOnEscape]="true"
    >
        <div class="container popup-container">
            <div class="row mt-3">
                <div class="col-12 heading-12 roboto-medium">
                    <label for="" class="d-block">Service Fee Period</label>
                    <p-inputNumber
                        inputId="integeronly"
                        [(ngModel)]="customerInfo.serviceFeePeriod"
                        [maxlength]="5"
                    ></p-inputNumber>
                </div>
            </div>
        </div>

        <p-footer>
            <button type="button" (click)="serviceFeePeriodDialog = false" class="btn-grey btn">Cancel</button>
            <button type="button" (click)="serviceFeePeriodDialog = false" class="btn-red btn">Save</button>
        </p-footer>
    </p-dialog>
    <!-- edit balance and date dialog-->
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Super Vision Fee Period "
        [(visible)]="superVisionFeePeriodDialog"
        [style]="{width: '50vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        class="edit-admin-account-dialog"
        [closable]="true"
        [closeOnEscape]="true"
    >
        <div class="container popup-container">
            <div class="row mt-3">
                <div class="col-12 heading-12 roboto-medium">
                    <div class="row mt-3">
                        <div class="col-12 heading-12 roboto-medium">
                            <label for="" class="d-block">Supervision Fee Period</label>
                            <p-inputNumber
                                inputId="integeronly"
                                [(ngModel)]="customerInfo.supervisionFeePeriod"
                                [maxlength]="5"
                            ></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-footer>
            <button type="button" (click)="superVisionFeePeriodDialog = false" class="btn-grey btn">Cancel</button>
            <button type="button" (click)="superVisionFeePeriodDialog = false" class="btn-red btn">Save</button>
        </p-footer>
    </p-dialog>
    <!-- edit balance and date dialog-->
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Service Fee Expiry Date"
        [(visible)]="serviceFeeDialog"
        [style]="{width: '50vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        class="edit-admin-account-dialog"
        [closable]="true"
        [closeOnEscape]="true"
    >
        <div class="container">
            <div class="row mt-3">
                <div class="col-12 heading-12 roboto-medium position-relative">
                    <span>
                        <p-calendar
                            (ngModelChange)="customerInfo.serviceFeePeriodExpiryDate = $event"
                            [ngModel]="customerInfo.serviceFeePeriodExpiryDate | timestamp"
                            [inline]="true"
                            [readonlyInput]="true"
                            dateFormat="dd/mm/yy"
                            [yearNavigator]="true"
                            yearRange="2000:2030"
                            styleClass="w-100"
                        ></p-calendar>
                    </span>
                </div>
            </div>
        </div>

        <p-footer>
            <button type="button" (click)="serviceFeeDialog = false" class="btn-grey btn">Cancel</button>
            <button type="button" (click)="serviceFeeDialog = false" class="btn-red btn">Save</button>
        </p-footer>
    </p-dialog>
    <!-- edit balance and date dialog-->
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Super Vision Fee Expiry Date"
        [(visible)]="superVisionFeeDialog"
        [style]="{width: '50vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        class="edit-admin-account-dialog"
        [closable]="true"
        [closeOnEscape]="true"
    >
        <div class="container">
            <div class="row mt-3">
                <div class="col-12 heading-12 roboto-medium position-relative">
                    <span>
                        <p-calendar
                            (ngModelChange)="customerInfo.supervisionFeePeriodExpiryDate = $event"
                            [ngModel]="customerInfo.supervisionFeePeriodExpiryDate | timestamp"
                            [inline]="true"
                            [readonlyInput]="true"
                            dateFormat="dd/mm/yy"
                            [yearNavigator]="true"
                            yearRange="2000:2030"
                            styleClass="w-100"
                        ></p-calendar>
                    </span>
                </div>
            </div>
        </div>

        <p-footer>
            <button type="button" (click)="superVisionFeeDialog = false" class="btn-grey btn">Cancel</button>
            <button type="button" (click)="superVisionFeeDialog = false" class="btn-red btn">Save</button>
        </p-footer>
    </p-dialog>

    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Reason"
        [(visible)]="ReasonDialog"
        [style]="{width: '35vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [modal]="true"
        [blockScroll]="true"
        [closable]="true"
        [closeOnEscape]="true"
        (onHide)="reason = null"
        (keydown.enter)="submitReason(customerInfo, true)"
    >
        <div class="container">
            <input type="text" [(ngModel)]="reason" class="form-control" />
        </div>

        <p-footer>
            <button type="button" (click)="ReasonDialog = false" class="btn-grey btn">Cancel</button>
            <button type="button" [disabled]="!reason" (click)="submitReason(customerInfo)" class="btn-red btn">
                Save
            </button>
        </p-footer>
    </p-dialog>
</div>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
