.amount-icons {
    position: absolute;
    right: 27px;
    bottom: 12px;
    font-size: 13px;
}

.icon-circle {
    background-color: #fbfbfc;
    height: 15px;
    border-radius: 30px;
    padding: 5px 5px;
    cursor: pointer;
    &-grey {
        background: #929292;
    }
    &:hover {
        background-color: #ed1b2e;
        color: white !important;
        .color-light-grey {
            color: white;
        }
    }
}

.popup-container {
    padding: 0px 162px;
}

label {
    margin-bottom: 5px;
}

.icon-wrapper-green {
    background: #b9ecb9;
    padding: 5px 10px 10px 10px;
    border-radius: 6px;
    color: #144814;
}
.icon-wrapper-red {
    background: #8000003d;
    padding: 5px 10px 10px 10px;
    border-radius: 6px;
    color: #640909;
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red !important;
        opacity: 1; /* Firefox */
    }
}
.show-input-have-values{
    display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 200px !important;
        height: 35px !important;
        opacity: 1 !important;
}
.input-container {
    padding-top: 5px;
    padding-bottom: 5px;
   
    .show-input {
        position: absolute;
        opacity: 0;
    }
    
    &:hover {
        .show-input {
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 200px;
            height: 35px;
            opacity: 1;
        }
    }
}
.new-balance {
    height: 0px;
    margin-left: 4px;
    opacity: 0;
    &-show {
        height: max-content;
        opacity: 1;
    }
}
.line-through {
    text-decoration: line-through;
}
.divider {
    width: 1px;
    background: #0000002b;
    position: absolute;
    right: 5%;
    height: 200px;
}