<button (click)="updateDedicatedAccount()" style="display: none" #updateDedicatedAccountsBtn></button>
<table class="table">
    <thead class="custom-table-header">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Balance</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Units</th>
            <th scope="col">Description</th>
            <th scope="col" *ngIf="showEdit">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of dedicatedAccounts; let i = index">
            <th scope="row">
                <i class="pi pi-file-o color-red mr-1 file-icon"></i>
                {{ account.id }}
            </th>
            <td>
                <span>{{ values[i].balance }}</span>
            </td>
            <td>{{ values[i].date | timestamp }}</td>
            <td>{{ account.units }}</td>
            <td>{{ account.description }}</td>
            <td *ngIf="showEdit">
                <span class="icon-circle" (click)="showEditAccountDialog(account)">
                    <i class="pi pi-pencil heading-13 color-light-grey"></i>
                </span>
                <!-- edit admin account dialog-->
            </td>
        </tr>
    </tbody>
</table>
<!-- edit row popup -->
<p-dialog
    [resizable]="false"
    [draggable]="false"
    [header]="'Edit Account ' + id"
    [(visible)]="editAccountdialog"
    [style]="{width: '40vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    [blockScroll]="true"
    [closable]="true"
    [closeOnEscape]="true"
    [contentStyle]="{overflow: 'visible'}"
    (onHide)="hideDialog()"
>
    <div class="container popup-container">
        <div class="row">
            <div class="col-12">
                <span class="p-float-label">
                    <input
                        id="balance-amount"
                        type="text"
                        size="30"
                        [disabled]="true"
                        pInputText
                        [(ngModel)]="currentDedicatedBalance"
                    />
                    <label for="balance-amount">Balance</label>
                </span>
            </div>
        </div>
        <div class="row"></div>
        <div class="row mt-2">
            <div class="col-6 position-relative" *ngIf="permissions.addBalance">
                <span class="p-float-label">
                    <input
                        type="number"
                        [(ngModel)]="accountAddAmount"
                        id="sub"
                        min="0"
                        pInputText
                        (input)="accountSubAmount = null; accountSetAmount = null"
                        oninput="validity.valid||(value='');"
                    />
                    <label for="add">Add Amount</label>
                </span>
                <i class="pi pi-plus amount-icons"></i>
            </div>
            <div class="col-6 position-relative" *ngIf="permissions.deductBalance">
                <span class="p-float-label">
                    <input
                        type="number"
                        [(ngModel)]="accountSubAmount"
                        id="sub"
                        min="0"
                        pInputText
                        (input)="accountAddAmount = null; accountSetAmount = null"
                        oninput="validity.valid||(value='');"
                    />
                    <label for="sub">Subtract</label>
                </span>
                <i class="pi pi-minus amount-icons"></i>
            </div>
            <div class="col-12 mt-2">
                <span class="p-float-label">
                    <input
                        type="number"
                        [(ngModel)]="accountSetAmount"
                        id="sub"
                        min="0"
                        pInputText
                        (input)="accountSubAmount = null; accountAddAmount = null"
                        oninput="validity.valid||(value='');"
                    />
                    <label for="sub">Set Amount</label>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label">
                    <p-calendar
                        (ngModelChange)="accountExpiryDate = $event"
                        [ngModel]="accountExpiryDate || null | timestamp"
                        dateFormat="dd/mm/yy"
                        [readonlyInput]="true"
                        [yearNavigator]="true"
                        yearRange="1950:2100"
                        inputId="accCalender"
                        [showIcon]="true"
                        [style]="{width: '100%'}"
                    ></p-calendar>
                    <label for="accCalender">Expiry Date</label>
                </span>
            </div>
            <div class="col-12 color-red text-center" *ngIf="dateValidation()">Invalid Date</div>
        </div>

        
    </div>

    <p-footer>
        <button type="button" (click)="hideDialog()" class="btn-grey btn">Cancel</button>
        <button
            type="button"
            (click)="updateAccountList()"
            [ngClass]="!selectedType && !selectedCode ? 'valid-opacity' : ''"
            class="btn-red btn"
        >
            Save
        </button>
    </p-footer>
</p-dialog>
<p-dialog
    [resizable]="false"
    [draggable]="false"
    header="Reason"
    [(visible)]="ReasonDialog"
    [style]="{width: '35vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    [blockScroll]="true"
    class="edit-admin-account-dialog reason-dialog"
    [closable]="true"
    [closeOnEscape]="true"
    (onHide)="reason = null"
>
    <div class="container">
        <input type="text" [(ngModel)]="reason" class="form-control" />
    </div>

    <p-footer>
        <button type="button" (click)="ReasonDialog = false; reason = null" class="btn-grey btn">Cancel</button>
        <button type="button" [disabled]="!reason" (click)="submitReason()" class="btn-red btn">Save</button>
    </p-footer>
</p-dialog>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
