<form class="page-container" name="addPamForm" [formGroup]="addPamForm" id="addPam">
    <div class="d-flex justify-content-between">
        <div class="heading-24 roboto-medium" id="addPam-1">PAM Information</div>
        <div>
            <button
                class="btn btn-submit-red"
                [ngClass]="!addPamForm.valid ? 'valid-opacity' : ''"
                [disabled]="!isFormVaild"
                (click)="addPam()"
                id="addPam-2"
            >
                Add
            </button>
            <button class="p-mr-2 ms-2 btn btn-black" style="font-size: 13px" pButton id="addPam-3" routerLink="/customer-care/pam-information">
                Back to list
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-dropdown
                    [options]="serviceClass"
                    formControlName="pamId"
                    [(ngModel)]="pamServiceClass"
                    optionLabel="description"
                    optionValue="id"
                    [filter]="true"
                    inputId="pamServiceClass"
                    [autoDisplayFirst]="false"
                    label
                    id="addPam-4"
                ></p-dropdown>
                <label for="pamServiceClass" id="addPam-5">
                    PAM Service Class ID
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                id="addPam-6"
                [control]="addPamForm.controls.pamId"
            ></app-forms-errors>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-dropdown
                    [options]="pamPeriod"
                    [(ngModel)]="pamCurrentPeriod"
                    formControlName="currentPamPeriodId"
                    optionLabel="description"
                    optionValue="id"
                    [filter]="true"
                    inputId="pamCurrentPeriod"
                    [autoDisplayFirst]="false"
                    id="addPam-7"
                ></p-dropdown>
                <label for="pamCurrentPeriod" id="addPam-8">
                    Current PAM Period
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                id="addPam-9"
                [control]="addPamForm.controls.currentPamPeriodId"
            ></app-forms-errors>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-dropdown
                    [(ngModel)]="pamClassItem"
                    [options]="pamClass"
                    onChan
                    formControlName="pamClassId"
                    optionLabel="description"
                    optionValue="id"
                    [filter]="true"
                    inputId="pamClass"
                    [autoDisplayFirst]="false"
                    id="addPam-10"
                ></p-dropdown>
                <label for="pamClass" id="addPam-11">
                    PAM Class
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                id="addPam-12"
                [control]="addPamForm.controls.pamClassId"
            ></app-forms-errors>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-calendar
                    class="calender-100w"
                    (onSelect)="onSelectDate()"
                    [(ngModel)]="deferredDate"
                    [ngModelOptions]="{standalone: true}"
                    [showTime]="true"
                    [showIcon]="true"
                    inputId="pamCalender"
                    hourFormat="12"
                    id="addPam-13"
                ></p-calendar>
                <label for="pamCalender" id="addPam-14">
                    Deferred Date
                </label>
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-dropdown
                    [(ngModel)]="pamScheduleID"
                    [options]="pamSchedule"
                    formControlName="pamScheduleId"
                    optionLabel="description"
                    optionValue="id"
                    [filter]="true"
                    inputId="pamSchedule"
                    [autoDisplayFirst]="false"
                    id="addPam-15"
                ></p-dropdown>
                <label for="pamSchedule" id="addPam-6">
                    Pam Schedule
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                id="addPam-17"
                [control]="addPamForm.controls.pamScheduleId"
            ></app-forms-errors>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <p-dropdown
                    [(ngModel)]="pamServicePariority"
                    [options]="pamPriority"
                    formControlName="pamServicePriorityId"
                    optionLabel="description"
                    optionValue="id"
                    [filter]="true"
                    inputId="pamServicePariority"
                    [autoDisplayFirst]="false"
                    id="addPam-18"
                ></p-dropdown>
                <label for="pamServicePariority" id="addPam-19">
                    PAM Service Priority
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="addPamForm.controls.pamServicePriorityId"
                id="addPam-20"
            ></app-forms-errors>
        </div>
    </div>
</form>
