<form [formGroup]="businessPlanForm" (ngSubmit)="submit()" id="bp-dia-form-1">
    <p-dialog
        id="bp-dia-dia-1"
        [resizable]="false"
        [draggable]="false"
        [header]="editMode ? 'Edit Business Plan' : 'Add Business Plan'"
        [(visible)]="visiablity"
        [style]="{width: '40vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        (onHide)="hideDialog()"
        [blockScroll]="true"
        [modal]="true"
        [contentStyle]="{overflow: 'visible'}"
        [closeOnEscape]="true"
        (onShow)="onShowDialog()"
    >
        <div class="container" id="bp-dia-div-1">
            <div class="row" id="bp-dia-div-2">
                <div class="col-12" id="bp-dia-div-3">
                    <span class="p-float-label" id="bp-dia-span-1">
                        <p-inputNumber
                            [useGrouping]="false"
                            [disabled]="editMode"
                            formControlName="businessPlanCode"
                            inputId="integeronly"
                            class="w-100"
                            inputId="bPCode"
                            [maxlength]="4"
                            #in
                            id="bpCode"
                        ></p-inputNumber>
                        <label for="bPCode" id="bp-dia-label-1">
                            Business Plan Code
                            <span class="text-danger required-star" id="bp-dia-span-2">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        id="bp-dia-err-1"
                        class="text-danger"
                        [control]="businessPlanForm.controls.businessPlanCode"
                    ></app-forms-errors>
                </div>
            </div>
            <div class="row mt-3" id="bp-dia-div-4">
                <div class="col-12" id="bp-dia-div-5">
                    <span class="p-float-label" id="bp-dia-span-3">
                        <input type="text" formControlName="businessPlanName" pInputText id="bPName" />
                        <label for="bPName" id="bp-dia-label-2">
                            Business Plan Name
                            <span class="text-danger required-star" id="bp-dia-span-4">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        id="bp-dia-err-2"
                        class="text-danger"
                        [control]="businessPlanForm.controls.businessPlanName"
                    ></app-forms-errors>
                </div>
            </div>
            <div class="row mt-3" id="bp-dia-div-6">
                <div class="col-12" id="bp-dia-div-7">
                    <span class="p-float-label" id="bp-dia-span-5">
                        <p-dropdown
                            [filter]="true"
                            filterBy="hlrId"
                            formControlName="hlrProfileId"
                            [options]="hlrProfiles | async"
                            optionLabel="code"
                            optionValue="hlrId"
                            class="full-width-dropdown"
                            inputId="hlr"
                            id="hlr"
                            [autoDisplayFirst]="false"
                        ></p-dropdown>
                        <label for="hlr" id="bp-dia-label-3">
                            HLR Profile
                            <span class="text-danger required-star" id="bp-dia-span-6">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        id="bp-dia-err-3"
                        class="text-danger"
                        [control]="businessPlanForm.controls.hlrProfileId"
                    ></app-forms-errors>
                </div>
            </div>
            <div class="row mt-3" id="bp-dia-div-8">
                <div class="col-12" id="bp-dia-div-9">
                    <span class="p-float-label" id="bp-dia-span-7">
                        <p-dropdown
                            [filter]="true"
                            filterBy="name"
                            formControlName="serviceClassId"
                            [options]="serviceClasses | async"
                            optionLabel="name"
                            optionValue="code"
                            class="full-width-dropdown"
                            [autoDisplayFirst]="false"
                            inputId="sClass"
                            id="sClass"
                        ></p-dropdown>
                        <label for="sClass" id="bp-dia-label-4">
                            Service Class
                            <span class="text-danger required-star" id="bp-dia-span-8">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="businessPlanForm.controls.serviceClassId"
                        id="bp-dia-err-4"
                    ></app-forms-errors>
                </div>
            </div>
        </div>

        <p-footer id="bp-dia-foot-1">
            <button id="bp-dia-btn-1" type="button" (click)="hideDialog()" class="btn-grey btn">Cancel</button>
            <button id="bp-dia-btn-2" type="submit" class="btn-red btn" [disabled]="!businessPlanForm.valid">
                Save
            </button>
        </p-footer>
    </p-dialog>
</form>
