<div class="container page-container" id="serviceClass">
    <form [formGroup]="serviceClassForm" (ngSubmit)="onSubmit()" id="serviceClass-1">
        <div class="row header">
            <div class="col-6 heading-24 roboto-medium">Service Class</div>
            <div class="col-6 text-end">
                <button
                    *ngIf="permissions.editServiceClass"
                    class="btn btn-submit-red"
                    [disabled]="
                        this.selectedService?.name === this.currentSubscriber?.serviceClass?.name ||
                        !serviceClassForm.valid
                    "
                    id="serviceClass-2"
                >
                    Submit
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4 my-2">
                <span class="p-float-label">
                    <input
                        id="float-input"
                        [value]="currentSubscriber?.serviceClass?.name"
                        type="text"
                        pInputText
                        disabled
                    />
                    <label for="float-input">Current Service Class</label>
                </span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-2" *ngIf="allServicesSubject$ | async as services">
                <span class="p-float-label">
                    <p-dropdown
                        [filter]="true"
                        [options]="services"
                        [(ngModel)]="selectedService"
                        optionLabel="name"
                        formControlName="service"
                        [autoDisplayFirst]="false"
                        inputId="serviceClassDropdown"
                        id="serviceClass-3"
                    ></p-dropdown>
                    <label for="serviceClassDropdown">
                        New Service Class
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    class="color-red"
                    id="serviceClass-4"
                    [control]="serviceClassForm.controls.service"
                ></app-forms-errors>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <p-inputSwitch
                        class="login"
                        [(ngModel)]="sendSMS"
                        id="serviceClass-5"
                        [ngModelOptions]="{standalone: true}"
                    ></p-inputSwitch>
                    <label class="heading-14 color-dark-grey ms-2 bolder-w">Send SMS</label>
                </div>
            </div>
        </div>

        <!-- <div class="row mt-4">
            <div class="col-12 col-md-4">
                
                <p-inputSwitch></p-inputSwitch>
                <div class="title sms">Send SMS</div>
            </div>
        </div> -->
    </form>
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Reason"
        [(visible)]="ReasonDialog"
        [style]="{width: '35vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [modal]="true"
        [blockScroll]="true"
        [closeOnEscape]="true"
        id="serviceClass-6"
        (onHide)="reason=null"
        (keydown.enter)="submitReason(true)"
    >
        <div class="container">
            <input type="text" [(ngModel)]="reason" class="form-control" id="serviceClass-7" />
        </div>
        <p-footer>
            <button type="button" (click)="ReasonDialog = false" class="btn-grey btn" id="serviceClass-8">
                Cancel
            </button>
            <button type="button" [disabled]="!reason" (click)="submitReason()" class="btn-red btn" id="serviceClass-9">
                Save
            </button>
        </p-footer>
    </p-dialog>
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        header="Are you sure you want to change this?"
        [(visible)]="parentDialog"
        [style]="{width: '50vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [modal]="true"
        [blockScroll]="true"
        class="edit-admin-account-dialog reason-dialog"
        [closeOnEscape]="true"
        id="serviceClass-10"
        
    >
        <p-footer>
            <button type="button" (click)="changeParent()" class="btn-red btn" id="serviceClass-11">Save</button>
        </p-footer>
    </p-dialog>
    <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}" id="serviceClass-12"></ngx-loading>
</div>
