.label {
    display: inline-block;
}

.data {
    font-weight: 600;
}
:host {
    flex-grow: 1;
}
.account-admin {
    ul {
        list-style: none;
        font-size: 22px;
        padding: 0px;
        width: fit-content;
        font-family: roboto-medium;
        &::after {
            content: '';
            height: 1px;
            background-color: #eceaea;
            position: absolute;
            right: -24px;
            top: 33px;
        }
        li {
            width: auto;
            margin: auto;
            position: relative;
            cursor: pointer;
            font-size: 13px;
            padding: 12px 0px;
            &:first-child {
                width: auto;
                margin-left: 0px !important;
                margin: auto;
                position: relative;
                cursor: pointer;
                font-size: 13px;
                padding: 12px 0px;
            }
            &:nth-child(2) {
                margin: 0px 85px;
            }
        }
    }

    .active {
        color: black;
        border-bottom: 1px solid #ed1b2e;
        position: relative;
        z-index: 1;
    }
}

.file-icon {
    position: relative;
    top: 2px;
}

.tabs-underline {
    width: 100%;
    height: 1px;
    background: #eceaea;
    position: relative;
    top: -17px;
    z-index: 0;
}

.required-star {
    font-size: 16px;
}
