<div class="page-container" id="not-authorized">
    <div class="row d-flex justify-content-center align-items-center text-center h-100" id="not-authorized-1">
        <div class="text-center" id="not-authorized-2">
            <img src="./../../../../assets/images/logo_2x.png" id="not-authorized-3" />
            <h1 class="header-unauth" id="not-authorized-4"><code class="color-red">Access Denied</code></h1>
            <hr class="" style="margin: auto; width: 50%" id="not-authorized-5" />
            <h3 class="color-light-grey" id="not-authorized-6">You don't have permission to view this page.</h3>
            <i class="pi pi-ban" style="font-size: 3rem; color: #ed1b2e" id="not-authorized-7"></i>
        </div>
    </div>
</div>
