<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">/home/app/logs</Property>
        <Property name="baseFilename">balance-dispute-service</Property>
    </Properties>
    <Appenders>
        <RollingFile name="errorFileAppender" fileName="${basePath}/${baseFilename}_error.log" filePattern="${basePath}/${baseFilename}_error_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="businessFileAppender" fileName="${basePath}/${baseFilename}_business.log" filePattern="${basePath}/${baseFilename}_business_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="interfaceFileAppender" fileName="${basePath}/${baseFilename}_interface.log" filePattern="${basePath}/${baseFilename}_footprint_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="springframeworkFileAppender" fileName="${basePath}/${baseFilename}_spring.log" filePattern="${basePath}/${baseFilename}_spring_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="hikariFileAppender" fileName="${basePath}/${baseFilename}_hikari.log" filePattern="${basePath}/${baseFilename}_hikari_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="statisticsTPSFileAppender" fileName="${basePath}/${baseFilename}_statistics_TPS.log" filePattern="${basePath}/${baseFilename}_air_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="errorLogger" level="error" additivity="false">
            <appender-ref ref="errorFileAppender" level="error"/>
        </Logger>
        <Logger name="businessLogger" level="debug" additivity="false">
            <appender-ref ref="businessFileAppender" level="debug"/>
            <appender-ref ref="console" level="debug"/>
        </Logger>
        <Logger name="interface" level="debug" additivity="false">
            <appender-ref ref="interfaceFileAppender" level="debug"/>
            <appender-ref ref="console" level="debug"/>
        </Logger>
        <Logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="springframeworkFileAppender" level="debug"/>
            <appender-ref ref="console" level="info"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="debug" additivity="false">
            <appender-ref ref="hikariFileAppender" level="debug"/>
        </Logger>
        <Logger name="statisticsTPSLogger" level="debug" additivity="false">
            <appender-ref ref="statisticsTPSFileAppender" level="debug"/>
            <!--<appender-ref ref="console" level="debug"/>-->
        </Logger>
        <Root level="INFO" additivity="false">
            <appender-ref ref="console" level="debug"/>
            <appender-ref ref="errorFileAppender" level="error"/>
            <appender-ref ref="businessFileAppender" level="debug"/>
            <appender-ref ref="interfaceFileAppender" level="debug"/>
            <appender-ref ref="statisticsTPSFileAppender" level="debug"/>
        </Root>
    </Loggers>
</Configuration>