<div [class]="'page-container account-admin ' + classNameCon"  id="superFlexView">
    <div class="d-flex justify-content-between">
        <div class="heading-24 roboto-medium">Super Flex</div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="d-flex color-light-grey">
                <li (click)="switchTab('mi-add-on')" [ngClass]="{active: tab == 'mi-add-on'}" id="superFlexView-1">
                    MI Add-on
                </li>
                <li
                    (click)="switchTab('mi-threshold')"
                    [ngClass]="{active: tab == 'mi-threshold'}"
                    id="superFlexView-2"
                >
                    MI Threshold
                </li>
            </ul>
            <div class="tabs-underline"></div>
        </div>
    </div>
    <div [ngSwitch]="tab" class="mt-2" id="superFlexView-3">
        <div *ngSwitchCase="'mi-add-on'" id="superFlexView-4">
            <div class="row mt-4">
                <form [formGroup]="addOnForm">
                    <div class="d-flex justify-content-between">
                        <div class="heading-24 roboto-medium"></div>
                        <div>
                            <button
                                class="btn btn-submit-red"
                                [disabled]="!addOnForm.valid"
                                (click)="activateAddOn()"
                                id="superFlexView-5"
                            >
                                Activate
                            </button>
                            <button class="btn btn-submit-red ms-2" (click)="deactivateAddOn()" id="superFlexView-6">
                                Deactivate
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mt-4">
                            <span class="p-float-label">
                                <input
                                    disabled
                                    id="float-input"
                                    type="text"
                                    pInputText
                                    [appFocus]="true"
                                    [value]="addOnesModel?.currentAddonsList.join(',')"
                                />
                                <label for="float-input" id="superFlexView-7">
                                    Opted In Adds-ons
                                    <span class="text-danger required-star">*</span>
                                </label>
                            </span>
                        </div>
                        <!-- <div class="col-12 col-md-6 col-lg-4 mt-4">
                        <label class="mb-0">Opted In Adds-ons:</label>
                        <span class="ms-2">{{ addOnesModel?.currentAddonsList.join(',') }}</span>
                    </div> -->

                        <div class="col-lg-4 col-12 col-md-6 position-relative mt-4">
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="addOnesModel?.addonsList"
                                    optionLabel="name"
                                    inputId="typeDropdown"
                                    [autoDisplayFirst]="false"
                                    [filter]="true"
                                    filterBy="name"
                                    formControlName="packageId"
                                    id="superFlexView-8"
                                ></p-dropdown>
                                <label for="typeDropdown" id="superFlexView-9">
                                    Avaliable Add-on
                                    <span class="text-danger required-star">*</span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngSwitchCase="'mi-threshold'">
            <div class="row mt-4">
                <form>
                    <div class="d-flex justify-content-between">
                        <div class="heading-24 roboto-medium"></div>
                        <div>
                            <button class="btn btn-submit-red" (click)="openThresholdDialog()" id="superFlexView-10">
                                Activate/set
                            </button>
                            <button
                                class="btn btn-submit-red ms-2"
                                (click)="deactivateThreshold()"
                                id="superFlexView-11"
                            >
                                Deactivate
                            </button>
                            <button class="btn btn-submit-red ms-2" (click)="stopMI()" id="superFlexView-12">
                                Stop MI
                            </button>
                            <button class="btn btn-submit-red ms-2" (click)="deactivateStopMI()" id="superFlexView-13">
                                Deactivate Stop MI
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mt-4">
                            <span class="p-float-label">
                                <input
                                    disabled
                                    id="float-input"
                                    type="text"
                                    pInputText
                                    [appFocus]="true"
                                    [value]="thresholdModel?.thresholdName"
                                />
                                <label for="float-input" id="superFlexView-14">
                                    Flex Threshold
                                    <span class="text-danger required-star">*</span>
                                </label>
                            </span>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mt-4">
                            <p-inputSwitch
                                [(ngModel)]="sendSMSThreshold"
                                [ngModelOptions]="{standalone: true}"
                                id="superFlexView-15"
                            ></p-inputSwitch>
                            <div class="title sms data ms-2 heading-15">Send SMS</div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-4">
                            <label class="mb-0">Threshold View:</label>
                            <div class="overflow-y-auto mt-4">
                                <p-table
                                    [value]="thresholdProductList"
                                    responsiveLayout="scroll"
                                    [rows]="10"
                                    [totalRecords]="thresholdProductList.length"
                                    [paginator]="true"
                                    [scrollable]="true"
                                    scrollHeight="500px"
                                    [responsive]="true"
                                    #dt
                                    id="superFlexView-16"
                                >
                                    <ng-template pTemplate="header">
                                        <tr class="heading-12">
                                            <th>
                                                <div class="d-flex">MSISDN</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Status</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Limit</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Consumed value</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Remaining value</div>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr class="heading-12 break-word">
                                            <td>{{ msisdn }}</td>
                                            <td>Active</td>
                                            <td>{{ product.maxQuota }}</td>
                                            <td>{{ product.consumedQuota }}</td>
                                            <td>{{ product.remainingQuota }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <app-no-data-found
                                    *ngIf="dt?.filteredValue?.length === 0"
                                    id="superFlexView-17"
                                ></app-no-data-found>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ngx-loading
        [show]="loading$ | async"
        [config]="{backdropBorderRadius: '22px'}"
        id="superFlexView-18"
    ></ngx-loading>
</div>
<p-dialog
    [resizable]="false"
    [draggable]="false"
    header="Threshold value"
    [(visible)]="thresholdDialog"
    [style]="{width: '30vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    [blockScroll]="true"
    class="edit-admin-account-dialog reason-dialog"
    [closeOnEscape]="true"
    id="superFlexView-19"
>
    <div class="container">
        <input type="text" [(ngModel)]="thresholdValue" class="form-control" id="superFlexView-20" />
        <div class="err color-red" *ngIf="thresholdValue % 50 !== 0" id="superFlexView-21">
            Threshold value must be multiple of 50s.
        </div>
    </div>
    <p-footer>
        <button type="button" (click)="thresholdDialog = false" class="btn-grey btn" id="superFlexView-22">
            Cancel
        </button>

        <button
            type="button"
            (click)="activateThreshold()"
            [disabled]="!thresholdValue || thresholdValue % 50 !== 0"
            class="btn-red btn"
            id="superFlexView-23"
        >
            Ok
        </button>
    </p-footer>
</p-dialog>
