<form>
    <div class="row">
        <div class="col-12 text-end my-4">
            <button class="btn btn-submit-red">Change SIM</button>
        </div>
        <div class="col-12 col-md-4 mt-3">
            <div>Subscriber Number:</div>
            <input type="text" pInputText />
        </div>
        <div class="col-12 col-md-4 mt-3">
            <div>SIM:</div>
            <input type="text" pInputText />
        </div>
        <div class="col-12 col-md-4 mt-3">
            <div>IMSI:</div>
            <input type="text" pInputText />
        </div>
        <div class="col-12 col-md-4 mt-3">
            <div>PUK1:</div>
            <input type="text" pInputText />
        </div>
        <div class="col-12 col-md-4 mt-3">
            <div>PUK2:</div>
            <input type="text" pInputText />
        </div>
    </div>
</form>
