<ng-container *ngIf="session$ | async as session">
    <app-navbar *ngIf="session.token"></app-navbar>
    <div class="d-flex flex-column main-area">
        <app-header *ngIf="session.token"></app-header>
        <div class="d-flex flex-row workspace">
            <div class="d-flex flex-column flex-fill">
                <router-outlet></router-outlet>
            </div>
            <ng-container *ngIf="subscriber$ | async as subscriber">
                <app-subscriber-info [isNotSubscriberAdmin]="isNotSubscriberAdmin" *ngIf="session.token && subscriber && !isAdministrationUrl"></app-subscriber-info>
            </ng-container>
        </div>
    </div>
</ng-container>

<ngx-smart-modal class="msisdn-modal" #myModal identifier="myModal">
    <app-msisdn-search-popup></app-msisdn-search-popup>
</ngx-smart-modal>
