<div class="page-container" id="esa-marqu-div-1">
    <div class="row mb-2">
        <div class="col-6">
            <div class="page-title" id="esa-marqu-div-2">Es2alny Marquee</div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="esa-marqu-btn-1" *ngIf="permissions.addMarquee" type="button" pButton pRipple
                    icon="pi pi-plus heading-13" class="p-mr-2 me-2 btn btn-black" (click)="addMarquee()"
                    [disabled]="es2alnyMarqueeList?.length >= 5" pTooltip="Add Marquee"></button>
                <button id="esa-marqu-btn-2" type="button" pButton pRipple icon="pi pi-trash"
                    class="p-mr-2 me-2 btn btn-black" (click)="confirmDeleteAllMarquees()" pTooltip="Delete Marquee"
                    *ngIf="permissions.deleteAllMarquees" [disabled]="es2alnyMarqueeList?.length === 0"></button>
            </div>
        </div>
    </div>
    <div id="esa-marqu-div-4">
        <p-table id="esa-marqu-table-1" [value]="es2alnyMarqueeList"
            [paginator]="es2alnyMarqueeList?.length !== 0 && permissions.getMarquees ? true : false" [rows]="5"
            [rowHover]="true" dataKey="id" responsiveLayout="scroll" styleClass="mt-4" [autoLayout]="true">
            <ng-template pTemplate="header" id="esa-marqu-temp-2">
                <tr *ngIf="es2alnyMarqueeList?.length !== 0 && permissions.getMarquees" id="esa-marqu-tr-1">
                    <th id="esa-marqu-th-1">Title</th>
                    <th id="esa-marqu-th-2">Description</th>
                    <th *ngIf="permissions.updateAllMarquees || permissions.deleteMarquee" id="esa-marqu-th-3">
                        Actions
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-marquee id="esa-marqu-temp-3">
                <tr id="esa-marqu-tr-2">
                    <td id="esa-marqu-td-1">
                        {{ marquee.title }}
                    </td>
                    <td id="esa-marqu-td-2">
                        {{ marquee.description }}
                    </td>
                    <td id="esa-marqu-td-3">
                        <span *ngIf="permissions.updateAllMarquees" class="icon-circle"
                            (click)="editMarquee(marquee.id)" id="esa-marqu-span-1">
                            <i class="pi pi-pencil color-light-grey"></i>
                        </span>
                        <span *ngIf="permissions.deleteMarquee" class="icon-circle ms-1"
                            (click)="confirmDeleteMarque(marquee.id)" id="esa-marqu-span-1">
                            <i class="pi pi-trash color-light-grey"></i>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data-found *ngIf="es2alnyMarqueeList?.length === 0 || !es2alnyMarqueeList" id="esa-marqu-err-1">
        </app-no-data-found>
    </div>
    <app-es2alny-marquee-form id="esa-marqu-form-1" [editingMarque]="editingMarquee" [visability]="addMarqueeDialoag"
        (closeModal)="addMarqueeDialoag = false" [editMode]="editMode" (editAddForm)="submit($event)">
    </app-es2alny-marquee-form>
    <p-confirmDialog id="esa-marqu-cofirm-1" header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
        acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>
    <ngx-loading id="esa-marqu-loading-1" [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}">
    </ngx-loading>
</div>