<div class="page-container" id="prepaid-vbp">
    <div class="d-flex justify-content-between">
        <div class="heading-20 roboto-medium mt-2 mb-2">Transaction Information</div>
        <div>
            <button
                class="btn btn-submit-red"
                *ngIf="isSubscribed && permissions.unsubscribePrepaidVbp"
                (click)="unSubscribe()"
                id="prepaid-vbp-1"
            >
                Unsubscribe
            </button>
            <button
                class="btn btn-submit-red"
                *ngIf="!isSubscribed && permissions.subscribePrepaidVbp"
                (click)="subscribe()"
                id="prepaid-vbp-2"
            >
                Subscribe
            </button>
        </div>
    </div>
    <form [formGroup]="prepaidForm" id="prepaid-vbp-3">
        <div class="row" *ngIf="!isSubscribed">
            <div class="col-lg-4 col-12 col-md-6 position-relative">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="types | async"
                        optionLabel="name"
                        optionValue="id"
                        (onChange)="getTransactionsCode($event)"
                        inputId="typeDropdown"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                        filterBy="name"
                        formControlName="transactionType"
                        id="prepaid-vbp-4"
                    ></p-dropdown>
                    <label for="typeDropdown" id="prepaid-vbp-5">
                        Type:
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    class="text-danger"
                    [control]="prepaidForm.controls.transactionType"
                    id="prepaid-vbp-6"
                ></app-forms-errors>
            </div>
            <div class="col-lg-4 col-12 col-md-6 position-relative">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="codes | async"
                        optionLabel="name"
                        optionValue="id"
                        class="full-width-dropdown"
                        inputId="codeDropdown"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                        filterBy="name"
                        formControlName="transactionCode"
                        id="prepaid-vbp-7"
                    ></p-dropdown>
                    <label for="typeDropdown" id="prepaid-vbp-8">
                        Code:
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    class="text-danger"
                    [control]="prepaidForm.controls.transactionCode"
                    id="prepaid-vbp-9"
                ></app-forms-errors>
            </div>
        </div>
        <div class="row" *ngIf="!isSubscribed">
            <div class="col-12 heading-20 roboto-medium my-2">Prepaid VBP</div>
            <div class="col-12 col-md-6 col-lg-4">
                <span class="p-float-label">
                    <input
                        id="float-input"
                        minlength="10"
                        maxlength="10"
                        formControlName="transactionAmount"
                        type="number"
                        pInputText
                        [appFocus]="true"
                        id="prepaid-vbp-11"
                    />
                    <label for="float-input" id="prepaid-vbp-12">
                        Amount:
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    class="text-danger"
                    [control]="prepaidForm.controls.transactionAmount"
                    id="prepaid-vbp-13"
                ></app-forms-errors>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex align-items-center">
                <p-inputSwitch
                    class="login"
                    [(ngModel)]="sendSms"
                    [ngModelOptions]="{standalone: true}"
                    id="serviceClass-5"
                    [ngModelOptions]="{standalone: true}"
                ></p-inputSwitch>
                <label class="heading-14 color-dark-grey ms-2 bolder-w">Send SMS</label>
            </div>
        </div>

        <ngx-loading
            [show]="loading$ | async"
            [config]="{backdropBorderRadius: '22px'}"
            id="prepaid-vbp-15"
        ></ngx-loading>
    </form>
</div>
