<form [formGroup]="disconnCodesForm" (ngSubmit)="submit()" id="dis-codes-dia-form-1">
    <p-dialog id="dis-codes-dia-dia-1" [resizable]="false" [closeOnEscape]="true" [draggable]="false"
        [header]="editMode ? 'Edit Disconnection code' : 'Add Disconnection code'" [(visible)]="visiablity"
        [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true" (onHide)="hideDialog()"
        [blockScroll]="true" [modal]="true" [contentStyle]="{overflow: 'visible'}" class="edit-admin-account-dialog"
        (onShow)="onFocusInput()">
        <div class="container" id="dis-codes-dia-div-1">
            <div class="row" id="dis-codes-dia-div-2">
                <div class="col-12" id="dis-codes-dia-div-3">
                    <span class="p-float-label" id="dis-codes-dia-span-1">
                        <p-inputNumber #codeInput [disabled]="editMode" formControlName="code" inputId="descCode"
                            id="descCode" class="w-100" [useGrouping]="false" [maxlength]="15"
                            (onInput)="checkIDExist($event)"></p-inputNumber>
                        <label for="descCode" id="dis-codes-dia-label-1">
                            Disconnection Code
                            <span class="text-danger required-star" id="dis-codes-dia-span-2">*</span>
                        </label>
                    </span>
                    <div class="err text-danger" *ngIf="isFoundedError" id="dis-codes-dia-div-4">
                        Disconnection code should be unique
                    </div>
                    <app-forms-errors id="dis-codes-dia-err-1" class="text-danger"
                        [control]="disconnCodesForm.controls.code"></app-forms-errors>
                </div>
            </div>
            <div class="row mt-3" id="dis-codes-dia-div-5">
                <div class="col-12" id="dis-codes-dia-div-6">
                    <span class="p-float-label" id="dis-codes-dia-span-3">
                        <input type="text" formControlName="description" pInputText id="descCodeName" />
                        <label for="descCodeName" id="dis-codes-dia-label-2">
                            Disconnection Code Name
                            <span class="text-danger required-star" id="dis-codes-dia-span-4">*</span>
                        </label>
                    </span>
                    <app-forms-errors id="dis-codes-dia-err-2" class="text-danger"
                        [control]="disconnCodesForm.controls.description"></app-forms-errors>
                </div>
            </div>
        </div>

        <p-footer id="dis-codes-dia-footer-1">
            <button type="button" (click)="hideDialog()" class="btn-grey btn" id="dis-codes-dia-btn-1">Cancel</button>
            <button type="submit" class="btn-red btn" [disabled]="!disconnCodesForm.valid || isFoundedError"
                id="dis-codes-dia-btn-2">
                Save
            </button>
        </p-footer>
    </p-dialog>
</form>