<ng-container *ngIf="permissions.viewCallReason">
    <form [formGroup]="callActivityForm" (ngSubmit)="onSubmit()" id="callActivityForm">
        <div class="container page-container" id="callActivityForm-1">
            <div class="row header">
                <div class="col-6 heading-24 roboto-medium" id="callActivityForm-2">Call Activity</div>
                <div class="col-6 text-end">
                    <button
                        class="btn btn-submit-red"
                        type="submit"
                        [disabled]="!callActivityForm.valid"
                        id="callActivityForm-3"
                    >
                        Submit
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <span class="p-float-label">
                            <input id="float-input" [value]="msisdn" type="text" pInputText disabled />
                            <label for="float-input" id="callActivityForm-4">MSISDN:</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <span class="p-float-label">
                            <p-dropdown
                                id="callActivityForm-5"
                                [filter]="true"
                                [options]="directions"
                                optionLabel="activityName"
                                inputId="directions"
                                [autoDisplayFirst]="false"
                                formControlName="directions"
                                (onChange)="changeDropDown('directions', $event)"
                            ></p-dropdown>
                            <label for="directions" id="callActivityForm-6">
                                Directions
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors class="color-red" id="callActivityForm-7"></app-forms-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <span class="p-float-label">
                            <p-dropdown
                                [filter]="true"
                                [options]="families"
                                optionLabel="activityName"
                                inputId="families"
                                [autoDisplayFirst]="false"
                                formControlName="families"
                                (onChange)="changeDropDown('families', $event)"
                                id="callActivityForm-8"
                            ></p-dropdown>
                            <label for="families" id="callActivityForm-9">
                                Families
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors class="color-red" id="callActivityForm-10"></app-forms-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <span class="p-float-label">
                            <p-dropdown
                                [filter]="true"
                                [options]="types"
                                optionLabel="activityName"
                                inputId="types"
                                [autoDisplayFirst]="false"
                                formControlName="types"
                                (onChange)="changeDropDown('types', $event)"
                                id="callActivityForm-11"
                            ></p-dropdown>
                            <label for="types" id="callActivityForm-12">
                                Types
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors class="color-red" id="callActivityForm-13"></app-forms-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <span class="p-float-label">
                            <p-dropdown
                                [filter]="true"
                                [options]="reasons"
                                optionLabel="activityName"
                                inputId="reasons"
                                [autoDisplayFirst]="false"
                                formControlName="reasons"
                                id="callActivityForm-14"
                            ></p-dropdown>
                            <label for="reasons" id="callActivityForm-15">
                                Reasnons
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors class="color-red" id="callActivityForm-16"></app-forms-errors>
                    </div>
                </div>
            </div>
            <ngx-loading
                [show]="loading$ | async"
                [config]="{backdropBorderRadius: '22px'}"
                id="callActivityForm-17"
            ></ngx-loading>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="!permissions.viewCallReason">
    <div class="row d-flex justify-content-center align-items-center text-center h-100" id="batch-div-29">
        <app-not-authorized
            id="batch-unauth-1"
        ></app-not-authorized>
    </div>
</ng-container>