<div class="page-container" id="ext-profile-fea-div-1">
    <div class="heading-24 roboto-medium" id="ext-profile-fea-div-2">Extract Profile Features</div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3" id="extr-profile-div-5">
            <span class="p-float-label" id="extr-profile-span-1">
                <p-dropdown
                    [filter]="true"
                    [options]="profiles$ | async"
                    optionLabel="profileName"
                    optionValue="profileId"
                    [autoDisplayFirst]="false"
                    inputId="profiles"
                    id="profiles"
                    [(ngModel)]="profileId"
                ></p-dropdown>
                <label for="profiles" id="extr-profile-label-1">Profiles</label>
            </span>
        </div>
    </div>
    <div class="row mt-3" id="ext-profile-fea-div-3">
        <div class="col-12 col-lg-6  position-relative" id="ext-profile-fea-div-4">
            <ul class="d-flex color-light-grey w-100" id="ext-profile-fea-ul-1">
                <li id="ext-profile-fea-li-1" (click)="switchTab('profile')" [ngClass]="{active: tab == 'profile'}"
                    *ngIf="permissions.getProfileUsers">Profile Users</li>
                <li id="ext-profile-fea-li-2" (click)="switchTab('feature')" [ngClass]="{active: tab == 'feature'}"
                    *ngIf="permissions.getProfileFeatures">Profile Features</li>
            </ul>
            <div class="tabs-underline" id="ext-profile-fea-div-5"></div>
        </div>
    </div>
    <div [ngSwitch]="tab" class="mt-2" id="ext-profile-fea-div-6">
        <div *ngSwitchCase="'profile'" id="ext-profile-fea-div-7">
            <app-extract-profile id="ext-profile-fea-com-1" [profileId]="profileId"></app-extract-profile>
        </div>
        <div *ngSwitchCase="'feature'" id="ext-profile-fea-div-8">
            <app-extract-feature id="ext-profile-fea-com-2" [profileId]="profileId"></app-extract-feature>
        </div>
    </div>