<div class="page-container" id="ser-div-1" style="position: relative;">
    <div class="row mb-2">
        <div class="col-3">
            <div class="heading-24 roboto-medium">Service Classes</div>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-end">
                <button type="button" *ngIf="permissions.addServiceClass" pButton pRipple icon="pi pi-plus"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Add Service Class" label="Add Service Class"
                    tooltipPosition="bottom" [routerLink]="['/admin/add-service-class/-1']" id="ser-btn-1"></button>
                <button type="button" *ngIf="permissions.addServiceClass" pButton pRipple icon="pi pi-download"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Export Service Class" label="Export Service Class"
                    tooltipPosition="bottom" (click)="exportServiceClass()" id="ser-btn-2"></button>
                <button type="button" *ngIf="permissions.addServiceClass" pButton pRipple icon="pi pi-upload"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Import Service Class" label="Import Service Class"
                    tooltipPosition="bottom" (click)="importServiceClass()" id="ser-btn-3"></button>
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Search" label="Search" tooltipPosition="bottom"
                    (click)="search=!search" [ngClass]="{'search-active' : search}"></button>
                <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                    icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                    pTooltip="Clear filter" label="Clear filter"></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label" *ngIf="permissions.getAllServiceClass && tableClasses?.length > 0">
                <input pInputText type="text" #input (input)="onSearchInput(input.value)" [(ngModel)]="searchText"
                    id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
        <div class="col-12 col-lg-8 mt-3 mt-lg-0 d-flex justify-content-end"></div>
    </div>
    <p-table id="ser-table-1" [value]="tableClasses" [rowHover]="true" [paginator]="
            dt?.filteredValue?.length !== 0 && permissions.getAllServiceClass && tableClasses?.length > 0 ? true : false
        " [rows]="5" [(selection)]="selectedUsers" dataKey="userName" responsiveLayout="scroll" class="mt-3" #dt
        [globalFilterFields]="['code', 'name']" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]">
        <!-- <ng-template pTemplate="caption" class="border-0">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <span class="p-float-label" *ngIf="permissions.getAllServiceClass && tableClasses?.length > 0">
                        <input
                            pInputText
                            type="text"
                            #input
                            (input)="dt.filterGlobal(input.value, 'contains')"
                            id="search"
                        />
                        <label for="search" id="ser-label-1">
                            <i class="pi pi-search"></i>
                            Global Search
                        </label>
                    </span>
                </div>
                <div
                    class="col-12 col-md-12 col-lg-9 d-lg-flex justify-content-start justify-content-lg-end mt-3 mt-lg-0"
                >
                    <div>

                    </div>
                </div>
            </div>
        </ng-template> -->

        <ng-template pTemplate="header">
            <tr *ngIf="permissions.getAllServiceClass && tableClasses?.length > 0">
                <th pSortableColumn="code">
                    <div class="d-flex">
                        Service Class Code
                        <p-sortIcon field="code"></p-sortIcon>
                        <p-columnFilter type="text" field="code" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="name">
                    <div class="d-flex">
                        Service Class Name
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th *ngIf="permissions.updateServiceClass || permissions.deleteServiceClass">
                </th>
                <th *ngIf="!permissions.updateServiceClass">Veiw</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-class>
            <tr>
                <td>{{ class.code }}</td>
                <td>{{ class.name }}</td>
                <td>
                    <span *ngIf="permissions.updateServiceClass" class="icon-circle"
                        [routerLink]="['/admin/add-service-class', class.code]">
                        <i class="pi pi-pencil heading-13 color-light-grey"></i>
                    </span>
                    <span *ngIf="permissions.deleteServiceClass" class="icon-circle ms-1" (click)="confirm(class.code)">
                        <i class="pi pi-trash cursor-pointer"></i>
                    </span>
                </td>
                <td *ngIf="!permissions.updateServiceClass">
                    <span class="icon-circle" [routerLink]="['/admin/add-service-class', class.code]">
                        <i class="pi pi-eye heading-13 color-light-grey"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found id="ser-notfoun-1"
        *ngIf="dt?.filteredValue?.length === 0 || !permissions.getAllServiceClass || tableClasses?.length === 0">
    </app-no-data-found>
    <div class="fetching-img" *ngIf="isFetchingList$ |async">
        <img src="./../../../../../assets/images/getData.png">
        <h3>Loading ...</h3>
    </div>
</div>

<p-dialog id="ser-dia-1" [resizable]="false" [draggable]="false" header="Upload Sheet" [(visible)]="importSheetDialog"
    [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true" [blockScroll]="true" [modal]="true"
    class="edit-admin-account-dialog" [closeOnEscape]="true">
    <div class="row mt-3">
        <div class="col-12">
            <p-fileUpload [showCancelButton]="false" [customUpload]="true" name="demo[]" accept=".xlsx,.xls"
                (uploadHandler)="onImport($event)" chooseLabel="Browse" id="file"></p-fileUpload>
        </div>
    </div>
    <p-footer></p-footer>
</p-dialog>

<p-confirmDialog id="ser-con-1" header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>
<ngx-loading id="ser-loading-1" [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<ngx-loading id="ser-loading-1" [show]="exportLoading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<ngx-loading id="ser-loading-1" [show]="uploadLoading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>