<div class="row" [formGroup]="scratchCardsForm" id="overScratch">
    <div class="d-flex justify-content-between">
        <div class="heading-24 roboto-medium"></div>
        <div>
            <button class="btn btn-submit-red me-2" (click)="reset()" id="overScratch-1">Reset</button>
            <button
                class="btn btn-submit-red"
                [disabled]="!scratchCardsForm.valid || !voucherNumberValueValidation"
                (click)="submit()"
                *ngIf="permissions.checkVoucherNumber"
                id="overScratch-2"
            >
                Submit
            </button>
        </div>
    </div>
    <div class="col-4">
        <span class="p-float-label">
            <input
                id="float-input"
                formControlName="voucherSerialNumber"
                type="text"
                maxlength="17"
                minlength="8"
                pInputText
                [appFocus]="true"
            />
            <label for="float-input" id="overScratch-3">
                Serial Number:
                <span class="text-danger required-star">*</span>
            </label>
        </span>
        <app-forms-errors
            class="text-danger"
            [control]="scratchCardsForm.controls.voucherSerialNumber"
            id="overScratch-4"
        ></app-forms-errors>
    </div>
    <div class="col-4">
        <p-radioButton name="serverId" value="1" formControlName="serverId" id="overScratch-5"></p-radioButton>
        <label class="switch-label mb-0 ms-2" id="overScratch-6">Server 1</label>
        <p-radioButton
            class="ms-4"
            name="serverId"
            value="2"
            formControlName="serverId"
            id="overScratch-7"
        ></p-radioButton>
        <label class="switch-label mb-0 ms-2" id="overScratch-8">Server 2</label>
    </div>
    <div class="col-md-12 col-lg-12 col-12 voucher-number mt-3">
        <div class="row">
            <label class="color-light-grey heading-13">Voucher Number:</label>
            <div class="col-12" formArrayName="voucherNumber" id="overScratch-9">
                <ng-container *ngFor="let number of voucherNumberControls; let i = index" id="overScratch-10">
                    <span class="p-float-label" style="margin-top: 8px;">
                        <input
                            [id]="i"
                            [formControlName]="i"
                            type="text"
                            maxlength="1" 
                            oninput="this.value=this.value.replace(/[^0-9]/g,'');" 
                            pInputText
                            [ngClass]="{'color-red': greenColor}"
                            (input)="autoFocus($event,i)"
                        />
                         <label for="float-input">
                            {{ i + 1 }}
                          
                        </label>
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="row mt-2" *ngIf="airVoucherNumberDigits" id="overScratch-11">
            <div class="col-12">
                <ng-container *ngFor="let number of airVoucherNumberDigits" id="overScratch-12">
                    <span class="p-float-label" style="margin-top: 8px;">
                        <input
                            id="float-input"
                            minlength="1"
                            maxlength="1"
                            type="text"
                            pInputText
                            [disabled]="true"
                            [value]="number.digit"
                            [ngClass]="{'color-red': number.status === true}"
                        />
                    </span>
                </ng-container>
            </div>
        </div>

        
        <div class="col-12 mt-3" *ngIf="permissions.skipValidation" id="overScratch-14">
            <div class="d-flex align-items-center">
                <p-inputSwitch
                    class="login"
                    formControlName="skipValidationFlag"
                ></p-inputSwitch>
                <label class="heading-14 color-dark-grey ms-2 bolder-w">Skip Validation Flag</label>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3" *ngIf="rightVoucherNumber" id="overScratch-15">
        <span class="p-float-label">
            <input
                id="float-input"
                type="text"
                pInputText
                [appFocus]="true"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="rightVoucherNumber"
                disabled="true"
            />
            <label for="float-input" id="overScratch-18">
                Right Voucher Number:
                <span class="text-danger required-star">*</span>
            </label>
        </span>
    </div>
</div>
