<form [formGroup]="httpForm" id="http-dyn-form-1">
    <div class="row mt-3" id="http-dyn-div-1">
        <div id="http-dyn-div-2" class="col-4">
            <div id="http-dyn-div-3" class="heading-16 roboto-medium">Http Configrations</div>
        </div>
    </div>
    <div class="row mt-3" id="http-dyn-div-4">
        <div class="col-md-6 col-lg-4" id="http-dyn-div-5">
            <span class="p-float-label" id="http-dyn-span-1">
                <input type="text" pInputText id="httpURL" formControlName="httpURL" />
                <label for="httpURL" id="http-dyn-label-1">
                    Http URL
                    <span class="text-danger required-star" id="http-dyn-span-2">*</span>
                </label>
            </span>
            <app-forms-errors
                id="http-dyn-form-error-1"
                class="text-danger"
                [control]="httpForm.controls.httpURL"
            ></app-forms-errors>
        </div>
        <div class="col-md-6 col-lg-4" id="http-dyn-div-6">
            <span class="p-float-label" id="http-dyn-span-3">
                <p-dropdown
                    [options]="httpMethods"
                    inputId="httpMethod"
                    id="httpMethod"
                    [autoDisplayFirst]="false"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="httpMethod"
                    (onChange)="onSelectHttpMethod($event.value)"
                ></p-dropdown>
                <label for="httpMethod" id="http-dyn-label-2">
                    Http Method
                    <span class="text-danger required-star" id="http-dyn-span-4">*</span>
                </label>
            </span>
            <app-forms-errors
                id="http-dyn-form-error-2"
                class="text-danger"
                [control]="httpForm.controls.httpMethod"
            ></app-forms-errors>
        </div>
    </div>
    <div id="http-dyn-div-7" class="row mt-3" *ngIf="formInputMethod === POST_HTTP_METHOD">
        <div class="col-md-6 col-lg-4" id="http-dyn-div-8">
            <span class="p-float-label" id="http-dyn-span-5">
                <p-dropdown
                    [options]="contentTypes"
                    inputId="requestContentType"
                    id="requestContentType"
                    [autoDisplayFirst]="false"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="requestContentType"
                ></p-dropdown>
                <label for="requestContentType" id="http-dyn-label-3">
                    Request Content Type
                    <span class="text-danger required-star" id="http-dyn-span-6">*</span>
                </label>
            </span>
            <app-forms-errors
                id="http-dyn-form-error-3"
                class="text-danger"
                [control]="httpForm.controls.requestContentType"
            ></app-forms-errors>
        </div>
        <div class="col-md-6 col-lg-4" id="http-dyn-div-9">
            <span class="p-float-label" id="http-dyn-span-7">
                <input type="text" pInputText id="requestBody" formControlName="requestBody" />
                <label for="requestBody" id="http-dyn-label-4">
                    Request Body
                    <span class="text-danger required-star" id="http-dyn-span-8">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.requestBody"
                id="http-dyn-form-error-4"
            ></app-forms-errors>
        </div>
    </div>

    <div id="http-dyn-div-10" class="row mt-3" *ngIf="formResponseContentType === TEXT_CONTENT_TYPE">
        <div id="http-dyn-div-11" class="col-md-6 col-lg-4">
            <span class="p-float-label" id="http-dyn-span-9">
                <input type="text" pInputText id="mainDelimiter" formControlName="mainDelimiter" />
                <label for="mainDelimiter" id="http-dyn-label-5">
                    Key Value Delimeter
                    <span class="text-danger required-star" id="http-dyn-span-10">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.mainDelimiter"
                id="http-dyn-form-error-5"
            ></app-forms-errors>
        </div>
        <div class="col-md-6 col-lg-4" id="http-dyn-div-12">
            <span class="p-float-label" id="http-dyn-span-11">
                <input type="text" pInputText id="keyValueDelimiter" formControlName="keyValueDelimiter" />
                <label for="keyValueDelimiter" id="http-dyn-label-6">
                    Main Delimiter
                    <span class="text-danger required-star" id="http-dyn-span-12">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.keyValueDelimiter"
                id="http-dyn-form-error-6"
            ></app-forms-errors>
        </div>
    </div>
    <div class="row mt-3" id="http-dyn-div-13">
        <div class="col-md-6 col-lg-4" id="http-dyn-div-14">
            <span class="p-float-label" id="http-dyn-span-13">
                <input type="text" pInputText formControlName="successCode" id="successCode" />
                <label for="successCode" id="http-dyn-label-7">
                    Http Success code
                    <span class="text-danger required-star" id="http-dyn-span-14">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.successCode"
                id="http-dyn-form-error-7"
            ></app-forms-errors>
        </div>
        <div class="col-md-6 col-lg-4" id="http-dyn-div-15">
            <span class="p-float-label" id="http-dyn-span-15">
                <p-inputNumber
                    class="w-100"
                    [useGrouping]="false"
                    formControlName="maxRecords"
                    inputId="maxNumRec"
                    id="maxNumRec"
                ></p-inputNumber>
                <label for="maxNumRec" id="http-dyn-label-8">
                    Maximum Number Of Records
                    <span class="text-danger required-star" id="http-dyn-span-16">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.maxRecords"
                id="http-dyn-form-error-8"
            ></app-forms-errors>
        </div>
    </div>
    <div class="row mt-3" id="http-dyn-div-16">
        <div class="col-md-6 col-lg-4" id="http-dyn-div-17">
            <span class="p-float-label" id="http-dyn-span-17">
                <p-dropdown
                    [options]="contentTypes"
                    inputId="responseContentType"
                    id="responseContentType"
                    [autoDisplayFirst]="false"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="responseContentType"
                    (onChange)="onSelectResponseContentType($event.value)"
                ></p-dropdown>
                <label for="responseContentType" id="http-dyn-label-9">
                    Response Content Type
                    <span id="http-dyn-span-18" class="text-danger required-star">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.responseContentType"
                id="http-dyn-form-error-9"
            ></app-forms-errors>
        </div>
        <div class="col-md-6 col-lg-4" *ngIf="formResponseContentType === TEXT_CONTENT_TYPE" id="http-dyn-div-18">
            <span class="p-float-label" id="http-dyn-span-19">
                <p-dropdown
                    [options]="httpResponseForms"
                    inputId="responseForm"
                    id="responseForm"
                    [autoDisplayFirst]="false"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="responseForm"
                ></p-dropdown>
                <label for="responseForm" id="http-dyn-label-10">
                    Response Form
                    <span class="text-danger required-star" id="http-dyn-span-20">*</span>
                </label>
            </span>
            <app-forms-errors
                class="text-danger"
                [control]="httpForm.controls.responseForm"
                id="http-dyn-form-error-10"
            ></app-forms-errors>
        </div>
    </div>
    <ng-container formArrayName="headers" id="http-dyn-conatiner-1">
        <div class="row mt-3" id="http-dyn-div-19">
            <div class="col-12" id="http-dyn-div-20">
                <div id="http-dyn-div-21">
                    <button
                        id="http-dyn-btn-1"
                        type="button"
                        label="Add Header"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        class="btn btn-black"
                        (click)="
                            addHeaderToFormArray({
                                key: null,
                                value: null
                            })
                        "
                    ></button>
                </div>
            </div>
        </div>

        <div
            class="row mt-3"
            *ngFor="let control of headersControl; let i = index"
            [formGroupName]="i"
            id="http-dyn-div-22"
        >
            <div class="col-6" id="http-dyn-div-23">
                <div class="row" id="http-dyn-div-24">
                    <div class="col-5" id="http-dyn-div-25">
                        <span class="p-float-label" id="http-dyn-span-21">
                            <input type="text" pInputText id="key" formControlName="key" />
                            <label for="key" id="http-dyn-label-11">key</label>
                        </span>
                    </div>
                    <div class="col-5" id="http-dyn-div-26">
                        <span class="p-float-label" id="http-dyn-span-22">
                            <input type="text" pInputText id="value" formControlName="value" />
                            <label for="value" id="http-dyn-label-12">Value</label>
                        </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-center" id="http-dyn-div-27">
                        <div id="http-dyn-div-28">
                            <span
                                pTooltip="Delete Header"
                                tooltipPosition="bottom"
                                id="http-dyn-span-23"
                                class="icon-circle"
                                (click)="deleteFormHeaderFormArray(i)"
                            >
                                <i class="pi pi-trash cursor-pointer color-light-grey"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</form>
<div class="row mt-3" id="http-dyn-div-29">
    <div class="col-12" id="http-dyn-div-30">
        <div class="heading-16 roboto-medium" id="http-dyn-div-31">Http Input And Output Parameters</div>
        <p-table
            id="http-dyn-table-1"
            [value]="stepConfiguration?.parameters"
            [rows]="5"
            responsiveLayout="scroll"
            class="mt-3 mb-3"
            [rowHover]="true"
            dataKey="id"
            #dt
            [showCurrentPageReport]="true"
            [reorderableColumns]="true"
            (onRowReorder)="reorderTable()"
            [autoLayout]="true"
        >
            <ng-template pTemplate="caption" class="border-0" id="http-dyn-template-1">
                <div class="row" id="http-dyn-div-32">
                    <div class="col-md-6 col-lg-1" id="http-dyn-div-33"></div>
                    <div
                        id="http-dyn-div-34"
                        class="col-md-6 col-lg-11 d-flex justify-content-start justify-content-lg-end align-items-end"
                    >
                        <div id="http-dyn-div-35">
                            <button
                                id="http-dyn-btn-2"
                                type="button"
                                *ngIf="
                                    formResponseContentType === JSON_CONTENT_TYPE ||
                                    formResponseContentType === XML_CONTENT_TYPE
                                "
                                class="p-mr-2 me-2 btn btn-black"
                                pButton
                                pRipple
                                (click)="openReponseDialog()"
                            >
                                <fa-icon [icon]="faCode" class="me-2"></fa-icon>
                                Parse Response Parameter
                            </button>
                            <button
                                id="http-dyn-btn-3"
                                type="button"
                                *ngIf="
                                    formInputMethod === POST_HTTP_METHOD ||
                                    (formInputMethod === GET_HTTP_METHOD && formUrl)
                                "
                                class="p-mr-2 me-2 btn btn-black"
                                pButton
                                pRipple
                                (click)="parsehttpRequestParameters()"
                            >
                                <fa-icon [icon]="faCode" class="me-2"></fa-icon>
                                Parse Request Parameter
                            </button>
                            <button
                                id="http-dyn-btn-4"
                                type="button"
                                [label]="'Add Parameter (Order ' + (+stepConfiguration?.parameters?.length + 1) + ')'"
                                pButton
                                pRipple
                                icon="pi pi-plus"
                                class="ms-2 btn btn-black"
                                pTooltip="Add Parameter"
                                tooltipPosition="bottom"
                                (click)="switchAddMode()"
                            ></button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" id="http-dyn-template-2">
                <tr id="http-dyn-tr-1">
                    <th id="http-dyn-th-1" style="width: 3rem"></th>
                    <th id="http-dyn-th-2" pReorderableColumn>Order</th>
                    <th id="http-dyn-th-3" pReorderableColumn>Parameter Name</th>
                    <th id="http-dyn-th-4" pReorderableColumn>Display Name</th>
                    <th id="http-dyn-th-5" pReorderableColumn>Data Type</th>
                    <th id="http-dyn-th-6" pReorderableColumn>Param Type</th>
                    <th id="http-dyn-th-12" pReorderableColumn>Validation</th>
                    <th id="http-dyn-th-13" pReorderableColumn>Actions</th>
                    <th id="http-dyn-th-100" pReorderableColumn></th>
                </tr>
            </ng-template>
            <ng-template
                id="http-dyn-template-3"
                pTemplate="body"
                let-param
                let-rowIndex="rowIndex"
                let-expanded="expanded"
            >
                <tr id="http-dyn-tr-2" [pReorderableRow]="rowIndex">
                    <td id="http-dyn-td-1">
                        <span id="http-dyn-span-24" class="pi pi-bars" [pReorderableRowHandle]="rowIndex"></span>
                    </td>
                    <td id="http-dyn-td-2">{{ param.parameterOrder }}</td>
                    <td id="http-dyn-td-3">{{ param.parameterName }}</td>
                    <td id="http-dyn-td-4">{{ param.displayName }}</td>
                    <td id="http-dyn-td-5">{{ param.parameterDataType | appFind: dataTypes }}</td>
                    <td id="http-dyn-td-6">{{ param.parameterType | appFind: paramTypes }}</td>
                    <td id="http-dyn-td-12">
                        <fa-icon
                            [icon]="faCircleCheck"
                            class="ms-4"
                            [styles]="{color: '#4BB543', 'font-size': '20px'}"
                            *ngIf="param.valid"
                            pTooltip="Valid Parameter"
                            tooltipPosition="left"
                        ></fa-icon>
                        <fa-icon
                            [icon]="faXmarkCircle"
                            class="ms-4"
                            [styles]="{color: '#df4759', 'font-size': '20px'}"
                            *ngIf="!param.valid"
                            pTooltip="Not Valid Parameter"
                            tooltipPosition="left"
                        ></fa-icon>
                    </td>
                    <td id="http-dyn-td-13">
                        <span id="http-dyn-span-25" class="icon-circle" (click)="switchEditMode(param, rowIndex)">
                            <i class="pi pi-pencil heading-13 color-light-grey"></i>
                        </span>
                        <span id="http-dyn-span-26" class="icon-circle ms-1" (click)="deleteParameter(rowIndex)">
                            <i class="pi pi-trash cursor-pointer color-light-grey"></i>
                        </span>
                    </td>
                    <td>
                        <span id="http-dyn-span-26" class="icon-circle ms-1" [pRowToggler]="param">
                            <i
                                [class]="
                                    expanded
                                        ? 'pi pi-chevron-down cursor-pointer color-light-grey'
                                        : 'pi pi-chevron-right cursor-pointer color-light-grey'
                                "
                            ></i>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-param>
                <td colspan="9" class="expanded-row">
                    <div class="d-flex justify-content-between p-5" style="border-bottom: 1px solid #0000003b">
                        <div class="item">
                            <div class="roboto-medium">Input Method</div>
                            <div>{{ param.inputMethod || '-' | appFind: displayMethods }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Default</div>
                            <div>{{ param.defaultValue || '-' }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Is Response Code</div>
                            <div>{{ param.responseCode ? 'Yes' : 'No' }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Is Response Desc</div>
                            <div>{{ param.responseDescription ? 'Yes' : 'No' }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Is Hidden</div>
                            <div>{{ param.hidden ? 'Yes' : 'No' }}</div>
                        </div>
                    </div>
                </td>
            </ng-template>
        </p-table>
    </div>
    <div class="col-12 text-center mt-3 data" *ngIf="dt?._value?.length === 0" id="http-dyn-div-36">
        Add parameters to show here
    </div>
</div>
<form [formGroup]="parameterForm" id="http-dyn-form-2">
    <p-dialog
        id="http-dyn-dialog-1"
        [resizable]="false"
        [draggable]="false"
        [header]="addParameterMode ? 'Add Parameter' : 'Edit Parameter'"
        [(visible)]="dialogVisiabilty"
        [style]="{width: '80vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        [contentStyle]="{overflow: 'visible'}"
        [closeOnEscape]="true"
        (onHide)="resetParamForm()"
    >
        <div class="container mt-3" id="http-dyn-div-37">
            <div class="row" id="http-dyn-div-38">
                <div class="col-6" id="http-dyn-div-39">
                    <span class="p-float-label" id="http-dyn-span-27">
                        <input type="text" pInputText id="paraName" formControlName="parameterName" />
                        <label for="paraName" id="http-dyn-label-13">
                            Parameter Name
                            <span id="http-dyn-span-28" class="text-danger required-star">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="parameterForm.controls.parameterName"
                        id="http-dyn-form-error-11"
                    ></app-forms-errors>
                </div>
                <div class="col-6" id="http-dyn-div-40">
                    <span class="p-float-label" id="http-dyn-span-29">
                        <input type="text" pInputText id="displayName" formControlName="displayName" />
                        <label for="displayName" id="http-dyn-label-14">
                            Display Name
                            <span class="text-danger required-star" id="http-dyn-span-30">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="parameterForm.controls.displayName"
                        id="http-dyn-form-error-12"
                    ></app-forms-errors>
                </div>
                <div class="col-6 mt-3" id="http-dyn-div-41">
                    <span class="p-float-label" id="http-dyn-span-31">
                        <p-dropdown
                            [options]="paramTypes"
                            inputId="paramType"
                            id="paramType"
                            [autoDisplayFirst]="false"
                            optionLabel="name"
                            optionValue="value"
                            formControlName="parameterType"
                            (onChange)="setParaInputMethodValidation($event.value)"
                        ></p-dropdown>
                        <label for="paramType" id="http-dyn-label-15">
                            Param Type
                            <span class="text-danger required-star" id="http-dyn-span-32">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="parameterForm.controls.parameterType"
                        id="http-dyn-form-error-13"
                    ></app-forms-errors>
                </div>
                <div class="col-6 mt-3" id="http-dyn-div-42">
                    <span class="p-float-label" id="http-dyn-span-33">
                        <p-dropdown
                            [options]="dataTypes"
                            inputId="dataTypes"
                            id="dataTypes"
                            [autoDisplayFirst]="false"
                            optionLabel="name"
                            optionValue="value"
                            formControlName="parameterDataType"
                            optionDisabled="disable"
                            (onChange)="changeParameterDataType($event.value)"
                        ></p-dropdown>
                        <label for="dataTypes" id="http-dyn-label-16">
                            Data Type
                            <span class="text-danger required-star" id="http-dyn-span-34">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="parameterForm.controls.parameterDataType"
                        id="http-dyn-form-error-14"
                    ></app-forms-errors>
                </div>

                <ng-container *ngIf="formParamType === INPUT_PARAMETER_TYPE_VALUE" id="http-dyn-conatiner-2">
                    <div class="col-6 mt-3" id="http-dyn-div-43">
                        <span class="p-float-label" id="http-dyn-span-35">
                            <p-dropdown
                                [options]="displayMethods"
                                inputId="dMethod"
                                id="dMethod"
                                [autoDisplayFirst]="false"
                                optionLabel="name"
                                optionValue="value"
                                optionDisabled="disable"
                                formControlName="inputMethod"
                                (onChange)="onInputMethodChangeValue($event.value)"
                            ></p-dropdown>
                            <label for="dMethod" id="http-dyn-label-17">
                                Display Method
                                <span id="http-dyn-span-36" class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors
                            class="text-danger"
                            [control]="parameterForm.controls.inputMethod"
                            id="http-dyn-form-error-15"
                        ></app-forms-errors>
                    </div>
                    <ng-container *ngIf="formDisplayMethod !== MENU_INPUT_METHOD" id="http-dyn-conatiner-3">
                        <div class="col-6 mt-3" id="http-dyn-div-44">
                            <span class="p-float-label" id="http-dyn-span-37">
                                <input type="text" pInputText id="dValue" formControlName="defaultValue" />
                                <label for="dValue" id="http-dyn-label-18">Default Value</label>
                            </span>
                        </div>
                    </ng-container>
                </ng-container>

                <div class="col-6 mt-3" id="http-dyn-div-45">
                    <span class="p-float-label" id="http-dyn-span-38">
                        <p-inputNumber
                            class="w-100"
                            [useGrouping]="false"
                            formControlName="displayOrder"
                            inputId="displayOrder"
                            id="displayOrder"
                        ></p-inputNumber>
                        <label for="displayOrder" id="http-dyn-label-19">
                            Display Order
                            <span class="text-danger required-star" id="http-dyn-span-39">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        id="http-dyn-form-error-16"
                        class="text-danger"
                        [control]="parameterForm.controls.displayOrder"
                    ></app-forms-errors>
                </div>
                <ng-container
                    *ngIf="formDisplayMethod === OUTPUT_FROM_OTHER_STEP_INPUT_METHOD"
                    id="http-dyn-conatiner-4"
                >
                    <div class="col-6 mt-3" id="http-dyn-div-46">
                        <span class="p-float-label" id="http-dyn-span-40">
                            <p-dropdown
                                [options]="sourceStepParameters"
                                inputId="sStepParameter"
                                id="sStepParameter"
                                [autoDisplayFirst]="false"
                                optionLabel="parameterName"
                                optionValue="id"
                                formControlName="sourceStepParameterId"
                                (onChange)="selectSourceStepParameter($event.value)"
                            ></p-dropdown>
                            <label for="sStepParameter" id="http-dyn-label-20">Source Step Parameter</label>
                        </span>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="
                        formDisplayMethod === OUTPUT_FROM_OTHER_STEP_INPUT_METHOD &&
                        selectedOutputSourceParameter &&
                        sourceParameterNames.length > 0
                    "
                    id="http-dyn-conatiner-5"
                >
                    <div class="col-6 mt-3" id="http-dyn-div-47">
                        <span class="p-float-label" id="http-dyn-span-41">
                            <p-dropdown
                                [options]="sourceParameterNames"
                                inputId="sourceStepParameterName"
                                id="sourceStepParameterName"
                                [autoDisplayFirst]="false"
                                [optionLabel]="isProcedureSourceParameter ? 'displayColumnName' : 'headerDisplayName'"
                                [optionValue]="isProcedureSourceParameter ? 'displayColumnName' : 'headerDisplayName'"
                                formControlName="sourceStepParameterName"
                            ></p-dropdown>
                            <label for="sourceStepParameterName" id="http-dyn-label-21">
                                Source Step Parameter Name
                            </label>
                        </span>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="
                        formDisplayMethod === OUTPUT_FROM_OTHER_STEP_INPUT_METHOD &&
                        selectedOutputSourceParameter &&
                        sourceParameterNames.length === 0
                    "
                    id="http-dyn-conatiner-6"
                >
                    <div class="col-6 mt-3" id="http-dyn-div-48">
                        <span class="p-float-label" id="http-dyn-span-42">
                            <input
                                type="text"
                                pInputText
                                id="sourceStepParameterName"
                                formControlName="sourceStepParameterName"
                            />
                            <label for="sourceStepParameterName" id="http-dyn-label-22">
                                Source Step Parameter Name
                            </label>
                        </span>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="
                        (formResponseContentType === JSON_CONTENT_TYPE ||
                            formResponseContentType === XML_CONTENT_TYPE) &&
                        formParamType === OUTPUT_PARAMETER_TYPE_VALUE
                    "
                    id="http-dyn-conatiner-7"
                >
                    <div class="col-6 mt-3" id="http-dyn-div-49">
                        <span class="p-float-label" id="http-dyn-span-43">
                            <p-autoComplete
                                (completeMethod)="search($event)"
                                type="text"
                                [suggestions]="xPathsSuggestions"
                                inputId="xPath"
                                id="xPath"
                                formControlName="xPath"
                            ></p-autoComplete>
                            <label for="xPath" id="http-dyn-label-23">X Path</label>
                        </span>
                    </div>
                </ng-container>
                <div id="http-dyn-div-50" class="col-6 mt-3" *ngIf="parameterDataType === DATE_DATA_TYPE">
                    <span class="p-float-label" id="http-dyn-span-44">
                        <input type="text" pInputText id="dateFormat" formControlName="dateFormat" />
                        <label for="dateFormat" id="http-dyn-label-24">Date Format</label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="parameterForm.controls.dateFormat"
                        id="http-dyn-form-error-17"
                    ></app-forms-errors>
                </div>
                <ng-container
                    id="http-dyn-conatiner-8"
                    formArrayName="dropdownList"
                    *ngIf="formDisplayMethod === MENU_INPUT_METHOD && formParamType === INPUT_PARAMETER_TYPE_VALUE"
                >
                    <div class="row mt-3" id="http-dyn-div-51">
                        <div class="col-12" id="http-dyn-div-52">
                            <div id="http-dyn-div-53">
                                <button
                                    id="http-dyn-btn-5"
                                    type="button"
                                    label="Add Menu Item"
                                    pButton
                                    pRipple
                                    icon="pi pi-plus"
                                    class="btn btn-black"
                                    (click)="addDropDownToFormArray({label: null, value: null})"
                                ></button>
                            </div>
                        </div>
                    </div>
                    <div
                        id="http-dyn-div-54"
                        class="row mt-3"
                        *ngFor="let control of dropDownControls; let i = index"
                        [formGroupName]="i"
                    >
                        <div id="http-dyn-div-55" class="col-6">
                            <div id="http-dyn-div-56" class="row">
                                <div id="http-dyn-div-57" class="col-5">
                                    <span class="p-float-label" id="http-dyn-span-45">
                                        <input type="text" pInputText id="dropdownLabel" formControlName="label" />
                                        <label for="dropdownLabel" id="http-dyn-label-25">
                                            Label
                                            <span id="http-dyn-span-46" class="text-danger required-star">*</span>
                                        </label>
                                    </span>
                                    <app-forms-errors
                                        class="text-danger"
                                        [control]="getDropDownValidity(i).controls.label"
                                        id="http-dyn-form-error-18"
                                    ></app-forms-errors>
                                </div>
                                <div class="col-5" id="http-dyn-div-58">
                                    <span class="p-float-label" id="http-dyn-span-47">
                                        <input type="text" pInputText id="dropdownValue" formControlName="value" />
                                        <label for="dropdownValue" id="http-dyn-label-26">
                                            Value
                                            <span class="text-danger required-star" id="http-dyn-span-48">*</span>
                                        </label>
                                    </span>
                                    <app-forms-errors
                                        id="http-dyn-form-error-19"
                                        class="text-danger"
                                        [control]="getDropDownValidity(i).controls.value"
                                    ></app-forms-errors>
                                </div>
                                <div id="http-dyn-div-59" class="col-2 d-flex justify-content-end align-items-center">
                                    <div id="http-dyn-div-60">
                                        <span
                                            id="http-dyn-span-49"
                                            class="icon-circle"
                                            (click)="deleteFormDropDownFormArray(i)"
                                        >
                                            <i class="pi pi-trash cursor-pointer color-light-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container
                    id="http-dyn-conatiner-9"
                    formArrayName="httpResponseMappingModels"
                    *ngIf="formParamType === OUTPUT_PARAMETER_TYPE_VALUE && parameterDataType === LIST_DATA_TYPE"
                >
                    <div class="row mt-3" id="http-dyn-div-70">
                        <div class="col-12" id="http-dyn-div-71">
                            <div id="http-dyn-div-72">
                                <button
                                    id="http-dyn-btn-6"
                                    type="button"
                                    label="Add Http Response Mapping"
                                    pButton
                                    pRipple
                                    icon="pi pi-plus"
                                    class="btn btn-black"
                                    (click)="
                                        addHttpResponseMappingModelsFormArray({
                                            id: null,
                                            parameterId: null,
                                            headerName: null,
                                            headerDisplayName: null
                                        })
                                    "
                                ></button>
                            </div>
                        </div>
                    </div>
                    <div
                        id="http-dyn-div-73"
                        class="row mt-3"
                        *ngFor="let control of httpResponseMappingModelsControls; let i = index"
                        [formGroupName]="i"
                    >
                        <div class="col-6" id="http-dyn-div-74">
                            <div class="row" id="http-dyn-div-75">
                                <div class="col-5" id="http-dyn-div-76">
                                    <span id="http-dyn-span-50" class="p-float-label">
                                        <input type="text" pInputText id="headerName" formControlName="headerName" />
                                        <label for="headerName" id="http-dyn-label-27">Header Name</label>
                                    </span>
                                </div>
                                <div class="col-5" id="http-dyn-div-77">
                                    <span class="p-float-label" id="http-dyn-span-51">
                                        <input
                                            type="text"
                                            pInputText
                                            id="headerDisplayName"
                                            formControlName="headerDisplayName"
                                        />
                                        <label for="headerDisplayName" id="http-dyn-label-28">
                                            Header Display Name
                                        </label>
                                    </span>
                                </div>
                                <div class="col-2 d-flex justify-content-end align-items-center" id="http-dyn-div-78">
                                    <div id="http-dyn-div-79">
                                        <span
                                            id="http-dyn-span-52"
                                            class="icon-circle"
                                            (click)="deleteFormResponseMappingModelsFormArray(i)"
                                        >
                                            <i class="pi pi-trash cursor-pointer color-light-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="row mt-3" id="http-dyn-div-80">
                    <div class="col-6" id="http-dyn-div-81">
                        <p-checkbox [binary]="true" formControlName="responseCode" id="http-dyn-check-1"></p-checkbox>
                        <label class="switch-label mb-0 ms-2" id="http-dyn-label-29">Response Code</label>
                    </div>
                    <div class="col-6" id="http-dyn-div-82">
                        <p-checkbox
                            id="http-dyn-check-2"
                            [binary]="true"
                            formControlName="responseDescription"
                        ></p-checkbox>
                        <label id="http-dyn-label-30" class="switch-label mb-0 ms-2">Response Description</label>
                    </div>
                </div>
                <div class="row mt-3" id="http-dyn-div-83">
                    <div class="col-6" id="http-dyn-div-84">
                        <p-checkbox id="http-dyn-check-3" [binary]="true" formControlName="hidden"></p-checkbox>
                        <label class="switch-label mb-0 ms-2" id="http-dyn-label-31">Hidden</label>
                    </div>
                </div>
            </div>
        </div>
        <p-footer id="http-dyn-footer-1">
            <button id="http-dyn-btn-7" type="button" (click)="resetParamForm()" class="btn-grey btn">Cancel</button>
            <button
                id="http-dyn-btn-8"
                type="button"
                class="btn-red btn"
                (click)="addOrEditParameter()"
                [disabled]="!parameterForm.valid"
            >
                Save
            </button>
        </p-footer>
    </p-dialog>
</form>
<p-dialog
    id="http-dyn-dialog-2"
    [resizable]="false"
    [draggable]="false"
    header="Parse Post Request Parameter"
    [(visible)]="parsePostRequestParametersDialog"
    [style]="{width: '40vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [blockScroll]="true"
    [modal]="true"
    [contentStyle]="{overflow: 'visible'}"
    [closeOnEscape]="true"
    (onHide)="clearParseRequestData()"
>
    <p-fileUpload
        id="http-dyn-file-1"
        *ngIf="formRequestContentType !== TEXT_CONTENT_TYPE"
        [customUpload]="true"
        (uploadHandler)="onSelectParsedFile($event)"
        accept=".xml,.json"
        #resquestPostFile
        [disabled]="isInstalledRequestPostFile"
        [maxFileSize]="1000000"
        chooseLabel="Add"
        cancelLabel="Clear"
        styleClass="install-custom"
    ></p-fileUpload>
    <div class="container mt-3" *ngIf="formRequestContentType === TEXT_CONTENT_TYPE" id="http-dyn-div-85">
        <div class="row" id="http-dyn-div-86">
            <div class="col-12" id="http-dyn-div-87">
                <span class="p-float-label" id="http-dyn-span-53">
                    <textarea
                        type="text"
                        pInputText
                        id="parseParam"
                        [(ngModel)]="parsedRequestQuery"
                        rows="5"
                    ></textarea>
                    <label for="parseParam" id="http-dyn-label-32">
                        Parse Text Request Parameter
                        <span class="text-danger required-star" id="http-dyn-span-54">*</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <p-footer id="http-dyn-footer-2">
        <button id="http-dyn-btn-9" type="button" class="btn-grey btn" (click)="clearParseRequestData()">Cancel</button>
        <button
            id="http-dyn-btn-10"
            *ngIf="formRequestContentType === TEXT_CONTENT_TYPE"
            type="button"
            class="btn-red btn"
            (click)="parseRequestTextParameter()"
            [disabled]="!parsedRequestQuery"
        >
            Parse
        </button>
    </p-footer>
</p-dialog>

<p-dialog
    id="http-dyn-dialog-3"
    [resizable]="false"
    [draggable]="false"
    header="Parse Post Response Parameter"
    [(visible)]="parsePostResponseParametersDialog"
    [style]="{width: '40vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [blockScroll]="true"
    [modal]="true"
    [contentStyle]="{overflow: 'visible'}"
    [closeOnEscape]="true"
    (onHide)="clearResponseParsedFile()"
>
    <p-fileUpload
        id="http-dyn-file-2"
        [customUpload]="true"
        (uploadHandler)="onSelectResponseParsedFile($event)"
        (onSelect)="onSelectFile($event)"
        accept=".xml,.json,.xsd"
        #responsePostFile
        [disabled]="isInstalledRequestPostFile"
        [showUploadButton]="
            (responseParseExtensionFile && responseParseExtensionFile !== 'xsd') ||
            (responseParseExtensionFile === 'xsd' && rootName)
        "
        [maxFileSize]="1000000"
        chooseLabel="Add"
        cancelLabel="Clear"
        styleClass="install-custom"
        (onClear)="clearResponseParsedFile()"
        (onRemove)="clearResponseParsedFile()"
        (onHide)="onCloseParsePostResponseDialog()"
    ></p-fileUpload>
    <div class="mt-3">
        <span class="p-float-label" id="http-dyn-span-l" *ngIf="responseParseExtensionFile === 'xsd'">
            <input type="text" pInputText id="rootName" [(ngModel)]="rootName" />
            <label for="rootName" id="http-dyn-label-l">
                Root Name
                <span class="text-danger required-star" id="http-dyn-span-s">*</span>
            </label>
        </span>
    </div>
    <p-footer id="http-dyn-footer-3">
        <button id="http-dyn-btn-11" type="button" class="btn-grey btn" (click)="clearResponseParsedFile()">
            Cancel
        </button>
    </p-footer>
</p-dialog>
