<div [class]="'page-container account-admin ' + classNameCon" id="dispute-page">
    <div class="row mb-2">
        <div class="col-6 heading-24 roboto-medium" id="dispute-page-1">Balance Dispute</div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-download"
                    (click)="showReasonDialog('exportDaily')" class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Get Usage Daily Report" label="Export Usage Daily Report"
                    tooltipPosition="bottom"></button>
                <button *ngIf="details" id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-download"
                    label="Export Balance Dispute Report" (click)="showReasonDialog('exportBalanaceDispute')"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Get Balance Dispute Report"
                    tooltipPosition="bottom"></button>
                <!--
                <button
                    id="user-access-btn-4"
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    class="btn btn-black p-mr-2 me-2"
                    pTooltip="Clear Filter"
                    tooltipPosition="bottom"
                    *ngIf="tab === 'transacion'"
                    (click)="clearFilters()"
                ></button>
                -->
            </div>
        </div>
    </div>
    <div class="row hide-search" [ngClass]="{'show-search': search}" *ngIf="tab === 'transacion'">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label">
                <input [(ngModel)]="searchText" pInputText type="text" #input (input)="onSearchInput(input.value)"
                    id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
        <div class="col-12 col-lg-8 mt-3 mt-lg-0 d-flex justify-content-end"></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <div class="p-field">
                <span class="p-float-label">
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="dateFrom"
                        (onSelect)="onAddDateFrom($event, startDate)" id="accountHistory-form-2"
                        [maxDate]="lastDate.value ? lastDate.value : dateTime" #startDate></p-calendar>
                    <label for="fromDate">
                        Date From
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
            </div>
        </div>
        <div class="col-3">
            <div class="p-field">
                <span class="p-float-label">
                    <p-calendar [showIcon]="true" [minDate]="startDate.value" inputId="icon"
                        (onSelect)="onAddDateTo($event, lastDate)" id="accountHistory-form-2" [maxDate]="dateTime"
                        #lastDate></p-calendar>
                    <label for="fromDate">
                        Date To
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
            </div>
        </div>

        <div class="col-3 mt-1">
            <button class="btn btn-submit-red" id="dispute-page-25" (click)="showReasonDialog('getReport')">Get
                Report</button>
        </div>
    </div>
    <ng-container *ngIf="balanceSheetSummary || usageSheetSummary || details">
        <div class="row mt-2">
            <div class="col-12 position-relative">
                <ul class="d-flex color-light-grey" id="tran-admin-ui-1">
                    <li id="tran-admin-li-1" (click)="switchTab('summary')" [ngClass]="{active: tab == 'summary'}">
                        Summary Report
                    </li>
                    <li id="tran-admin-li-2" (click)="switchTab('transacion')"
                        [ngClass]="{active: tab == 'transacion'}">
                        Transaction Details
                    </li>
                </ul>
                <div class="tabs-underline"></div>
            </div>
        </div>
        <div [ngSwitch]="tab" class="mt-2" id="tran-admin-div-2s">
            <div *ngSwitchCase="'summary'">
                <p-table [value]="balanceSheetSummary" rowGroupMode="rowspan" groupRowsBy="balanceSheetSummary.name"
                    sortMode="single" styleClass="p-datatable-striped" #dtone [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Group</th>
                            <th>Type</th>
                            <th>Credit</th>
                            <th>Debit</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-balance>
                        <tr>
                            <td class="b-r bold">
                                {{ balance.name }}
                            </td>
                            <td>
                        <tr *ngFor="let item of balance.data; let i = index" style="display: block">
                            <td [class]="item.isTotal ? 'bold' : ''">
                                {{
                                item.isTotal && isopened && isopenedNav
                                ? (item.type | threeDots)
                                : item.type
                                }}
                            </td>

                            <hr *ngIf="i !== balance.data?.length - 1" />
                        </tr>
                        </td>
                        <td>
                            <tr *ngFor="let item of balance.data; let i = index" style="display: block">
                                <td [class]="item.isTotal || item.isGrandTotal ? 'bold' : ''">
                                    {{ item.Credit || '-' }}
                                </td>
                                <hr *ngIf="i !== balance.data?.length - 1" />
                            </tr>
                        </td>
                        <td>
                            <tr *ngFor="let item of balance.data; let i = index" style="display: block">
                                <td [class]="item.isTotal || item.isGrandTotal ? 'bold' : ''">
                                    {{ item.Debit || '-' }}
                                </td>
                                <hr *ngIf="i !== balance.data?.length - 1" />
                            </tr>
                        </td>
                        </tr>
                    </ng-template>
                </p-table>
                <app-no-data-found *ngIf="balanceSheetSummary?.length === 0" id="notepad-14"></app-no-data-found>
                <h6 class="mt-5" style="font-weight: bold">Usage Summary Sheet</h6>
                <p-table [value]="usageSheetSummary" sortMode="single" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Group</th>
                            <th>Type</th>
                            <th>Usage</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-balance>
                        <tr>
                            <td class="b-r bold">
                                {{ balance.name }}
                            </td>
                            <td>
                        <tr *ngFor="let item of balance.data; let i = index" class="p-datatable-gridlines"
                            style="display: block">
                            <td>{{ item.type }}</td>
                            <hr *ngIf="i !== balance.data?.length - 1" />
                        </tr>
                        </td>
                        <td>
                            <tr *ngFor="let item of balance.data; let i = index" style="display: block">
                                <td>{{ item.total }}</td>
                                <hr *ngIf="i !== balance.data?.length - 1" />
                            </tr>
                        </td>
                        </tr>
                    </ng-template>
                </p-table>
                <app-no-data-found *ngIf="usageSheetSummary?.length === 0" id="notepad-14"></app-no-data-found>
            </div>
            <div *ngSwitchCase="'transacion'">
                <div>
                    <p-table [value]="details" scrollHeight="500px" responsiveLayout="scroll" class="no-flex-table"
                        [autoLayout]="true" [rowHover]="true" [globalFilterFields]="detailsCols" #dt [lazy]="true"
                        (onLazyLoad)="loadBalanceDisputeData($event)" [paginator]="true" [rows]="5"
                        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 25, 50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of detailsCols" [pSortableColumn]="'' + col + ''">
                                    {{ col }}
                                    <!--
                                    <div class="d-flex">
                                        {{ col }}
                                        <p-sortIcon [field]="'' + col + ''" id="voda-redeem-sort-1"></p-sortIcon>
                                        <p-columnFilter
                                            id="voda-redeem-filter-1"
                                            display="menu"
                                            [showOperator]="false"
                                            [showAddButton]="false"
                                            [field]="'' + col + ''"
                                            class="p-ml-auto"
                                            [matchModeOptions]="newMatchModeOptions"
                                        ></p-columnFilter>
                                    </div>
                                    -->
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-detail>
                            <tr>
                                <td *ngFor="let col of detailsCols">
                                    {{ detail[col] || '-' }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <app-no-data-found *ngIf="dt?.filteredValue?.length === 0 || details?.length === 0"
                        id="notepad-14"></app-no-data-found>
                </div>
            </div>
        </div>
    </ng-container>
    <p-dialog [resizable]="false" [draggable]="false" header="Reason" [(visible)]="reasonDialog"
        [style]="{width: '35vw'}" [baseZIndex]="10000" [dismissableMask]="true" [modal]="true" [blockScroll]="true"
        [closeOnEscape]="true" id="balance-dispute-6" (onHide)="reason = null">
        <div class="container">
            <input type="text" [(ngModel)]="reason" class="form-control" id="balance-dispute-7" />
        </div>
        <p-footer>
            <button type="button" (click)="reasonDialog = false" class="btn-grey btn" id="balance-dispute-8">
                Cancel
            </button>
            <button type="button" [disabled]="!reason" class="btn-red btn" id="balance-dispute-9" (click)="addReason()">
                Save
            </button>
        </p-footer>
    </p-dialog>
    <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}" id="language-10"></ngx-loading>
</div>