.b-r {
    border-right: 1px solid #00000030 !important;
}
hr {
    margin: 0.75rem -0.75rem;
}
.bold{
    font-weight: bold;
}
.dark{
    background-color: gray;
    border-bottom: 0;
}
.d-test-none{
    display: none;
}