<div class="container text-center" id="notFound">
    <div class="logo">
        <div class="number">4</div>
        <div class="image">
            <img src="./assets/images/logo_2x.png" />
        </div>
        <div class="number">4</div>
    </div>
    <div class="msg">
        <div class="title">Ooopps !!</div>
        <div class="info">That page or data you're looking for isn't found.</div>
    </div>
    <div class="button">
        <button routerLink="/find-subscriber">Find a subscriber</button>
    </div>
</div>
