<div class="page-container account-history">
    <div class="d-flex justify-content-between mb-4">
        <div class="heading-24 roboto-medium">CCAT Balance Dispute</div>
        <button class="btn btn-submit-red">Get Report</button>
    </div>
    <div class="row mt-4">
        <form>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <span class="p-float-label">
                    <input
                        id="float-input"
                        minlength="10"
                        maxlength="10"
                        formControlName="msisdn"
                        type="text"
                        pInputText
                        [appFocus]="true"
                    />
                    <label for="float-input">
                        From:
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <span class="p-float-label">
                    <input
                        id="float-input"
                        minlength="10"
                        maxlength="10"
                        formControlName="msisdn"
                        type="text"
                        pInputText
                        [appFocus]="true"
                    />
                    <label for="float-input">
                        To:
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
            </div>
            <div class="col-lg-6 col-12 col-md-6 position-relative mt-4">
                <span class="p-float-label">
                    <p-dropdown
                        formControlName="transactionType"
                        [options]="types"
                        optionLabel="name"
                        inputId="typeDropdown"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                        filterBy="name"
                    ></p-dropdown>
                    <label for="typeDropdown">
                        New Account Group
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
            </div>
        </form>
    </div>
</div>
