<div *ngIf="(viewNBAModal && isNotSubscriberAdmin) || (viewHOSIModal && !isNotSubscriberAdmin)" class="arrow"
    (click)="toggleModal()" [ngClass]="opened ? 'opened' : ''" id="subscriberInfo">
    <i class="pi" [ngClass]="opened ? 'pi-chevron-right' : 'pi-chevron-left'"></i>
</div>
<div *ngIf="(viewNBAModal && isNotSubscriberAdmin) || (viewHOSIModal && !isNotSubscriberAdmin)" class="content"
    [ngClass]="opened ? 'opened' : ''" id="subscriberInfo-1">
    <ng-template [ngIf]="opened && !isNotSubscriberAdmin" id="subscriberInfo-2">
        <app-nba-gifts id="subscriberInfo-3"></app-nba-gifts>
    </ng-template>
    <ng-template [ngIf]="opened && isNotSubscriberAdmin" id="subscriberInfo-4">
        <div class="data admin">
            <div>
                <div class="text-center">
                    <div>
                        <span class="number" id="subscriberInfo-5">{{ subscriber.subscriberNumber }}</span>

                    </div>
                    <div>
                        <span class="type" id="subscriberInfo-6">{{ products?.productName }}</span>

                    </div>
                </div>
                <div class="host row">
                    <p-tabView>
                        <p-tabPanel leftIcon="icon-list">
                            <div class="container">
                                <div class="head-title">Profile Details</div>
                                <div class="menu row">
                                    <div class="col-6">
                                        <ul>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-8">Balance</div>
                                                <!-- <div class="data">-</div> -->
                                                <div class="data" id="subscriberInfo-7">
                                                    {{ subscriber.balance || '0' }} {{ subscriber.curruncy || 'EGP' }}
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-9">Status</div>
                                                <div class="data" id="subscriberInfo-10">
                                                    {{ subscriber.status || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-11">Language</div>
                                                <div class="data" id="subscriberInfo-12">
                                                    {{ subscriber.language || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-13">Supervision Fee Period</div>
                                                <div class="data" id="subscriberInfo-14">
                                                    {{ subscriber.supervisionFeePeriod || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-15">Credit Clearance</div>
                                                <div class="data" id="subscriberInfo-16">
                                                    {{ subscriber.creditClearance || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-17">Refill Bared Until</div>
                                                <div class="data" id="subscriberInfo-18">
                                                    {{ subscriber.refillBarredUntil || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-19">Service Class</div>
                                                <!-- <div class="data">-</div> -->
                                                <div class="data" id="subscriberInfo-20">
                                                    {{ subscriber.serviceClass.name || '-' }}
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="title" id="subscriberInfo-21">Barring Status</div>
                                                <div class="data" id="subscriberInfo-22">
                                                    {{ subscriber.barringStatus || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title">Activation Date</div>
                                                <div class="data" id="subscriberInfo-23">
                                                    {{ subscriber.activationDate | date: 'dd/MM/yyyy' || '-' }}
                                                </div>
                                                <!-- <div class="data">-</div> -->
                                            </li>
                                            <li class="item">
                                                <div class="title">Service Fee Period</div>
                                                <!-- <div class="data">-</div> -->
                                                <div class="data" id="subscriberInfo-24">
                                                    {{ subscriber.serviceFeePeriod || '-' }}
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="title">Service Removal</div>
                                                <div class="data" id="subscriberInfo-25">
                                                    {{ subscriber.serviceRemoval }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel leftIcon="icon-timelapse" *ngIf="products" id="subscriberInfo-26">
                            <div class="container">
                                <div class="head-title">Usage This Month Consumptionn</div>
                                <div class="row timelapse">
                                    <span *ngFor="let bucket of products | mergeProducts"
                                        class="col col-6 d-flex align-items-center circular-progress">
                                        <circle-progress [percent]="
                                                (bucket?.bucketReport?.consumedUnits /
                                                    bucket?.bucketReport?.totalUnits) *
                                                100
                                            " [radius]="40" [outerStrokeWidth]="5" [innerStrokeWidth]="0"
                                            [outerStrokeColor]="'#F33939'" [animation]="true" [animationDuration]="300"
                                            [showSubtitle]="false" [showBackground]="true"
                                            [backgroundStroke]="'#F5F7FA'" [backgroundStrokeWidth]="5"
                                            [backgroundPadding]="-2"></circle-progress>

                                        <span>
                                            <div class="title">{{ bucket?.bucketReport?.unit }}</div>
                                            <div class="data">
                                                {{ bucket?.bucketReport?.remainingUnits }}
                                                {{ bucket?.bucketReport?.unit }}
                                            </div>
                                        </span>
                                    </span>

                                    <!-- <div class="col col-6 d-flex align-items-center circular-progress"
                                        *ngFor="let product of products.quotas">
                                        <div>
                                            <circle-progress
                                                [percent]="(product?.consumedQuota / product?.maxQuota) * 100"
                                                [radius]="40" [outerStrokeWidth]="5" [innerStrokeWidth]="0"
                                                [outerStrokeColor]="'#F33939'" [animation]="true"
                                                [animationDuration]="300" [showSubtitle]="false" [showBackground]="true"
                                                [backgroundStroke]="'#F5F7FA'" [backgroundStrokeWidth]="5"
                                                [backgroundPadding]="-2"></circle-progress>
                                        </div>
                                        <div>
                                            <div class="title">{{ product?.quotaUnit }}</div>
                                            <div class="data">
                                                {{ product?.remainingQuota }} {{ product?.quotaUnit }}
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<div [ngClass]="{
        'nogift-popup': !(isNotSubscriberAdmin && viewNBAModal),
        'gifts-popup': !isNotSubscriberAdmin || viewNBAModal

    }">
    <div class="number">{{ giftsCounter$ | async }}</div>
    <div class="gifts" (click)="openPopup()">
        <img src="./assets/images/gift.png" />
    </div>
</div>
<ngx-smart-modal #giftsModal identifier="giftsModal">
    <app-nba-gifts (closeModal)="closeModal(giftsModal)"></app-nba-gifts>
</ngx-smart-modal>
<div class="content-block" [ngClass]="opened ? 'opened' : ''"></div>