<form [formGroup]="pageConfigsForm" (ngSubmit)="sumbitPageInfo()" id="page-dyn-form-1">
    <div class="row" id="page-dyn-div-1">
        <div class="col-4" id="page-dyn-div-2">
            <div id="page-dyn-div-3" class="heading-16 roboto-medium">Page Configrations</div>
        </div>
        <div id="page-dyn-div-4" class="col-8 d-flex justify-content-end">
            <button id="page-dyn-btn-1" class="btn btn-submit-red" type="submit" [disabled]="!pageConfigsForm.valid">
                {{ pageIdFormControl ? 'Edit Page' : 'Add page' }}
            </button>
        </div>
    </div>
    <div id="page-dyn-div-5" class="row mt-3">
        <div id="page-dyn-div-6" class="col-md-6 col-lg-4">
            <span class="p-float-label" id="page-dyn-span-1">
                <input type="text" pInputText id="pageName" formControlName="pageName" />
                <label for="pageName" id="page-dyn-label-1">
                    Page Name
                    <span class="text-danger required-star" id="page-dyn-span-2">*</span>
                </label>
            </span>
            <app-forms-errors id="page-dyn-err-1" class="text-danger" [control]="pageConfigsForm.controls.pageName"></app-forms-errors>
        </div>
        <div id="page-dyn-div-7" class="col-md-6 col-lg-4">
            <span class="p-float-label" id="page-dyn-span-3">
                <input type="text" pInputText id="privilegeName" formControlName="privilegeName" />
                <label for="privilegeName" id="page-dyn-label-2">
                    Privilege Name
                    <span class="text-danger required-star" id="page-dyn-span-4">*</span>
                </label>
            </span>
            <app-forms-errors id="page-dyn-err-2" class="text-danger" [control]="pageConfigsForm.controls.privilegeName"></app-forms-errors>
        </div>
    </div>
    <div id="page-dyn-div-8" class="row mt-3">
        <div id="page-dyn-div-9" class="col-md-6 col-lg-4">
            <p-checkbox [binary]="true" formControlName="requireSubscriber" id="page-dyn-check-1"></p-checkbox>
            <label id="page-dyn-label-3" class="switch-label mb-0 ms-2">Require Subscriber</label>
        </div>
    </div>
</form>
