<form [formGroup]="disconnectForm" id="disconnect-form">
    <div class="row mt-3">
        <!-- <div class="col-12 text-end my-4">
            <button class="btn btn-submit-red">Disconnect</button>
        </div> -->
        <div class="col-12 col-md-6 col-lg-4" id="disconnect-form-1">
            <span class="p-float-label">
                <input
                    id="float-input"
                    [minlength]="4"
                    [maxlength]="15"
                    formControlName="msisdn"
                    type="text"
                    pInputText
                    [appFocus]="true"
                    id="disconnect-form-2"
                />
                <label for="float-input" id="disconnect-form-3">
                    Subscriber Number
                    <span class="text-danger required-star">*</span>
                </label>
            </span>
            <app-forms-errors
                class="color-red"
                [control]="disconnectForm.controls.msisdn"
                id="disconnect-form-4"
            ></app-forms-errors>
        </div>
        <!-- <div class="col-12 col-md-4 mt-3">
            <div class="label me-2">Enable Account Finder:</div>
            <p-checkbox formControlName="accountFinder" name="groupname" value="temp"></p-checkbox>
        </div> -->
        <div
            class="col-12 col-md-6 col-lg-4"
            *ngIf="allDisconnectionReasons | async as disconnectionReasons"
            id="disconnect-form-5"
        >
            <span class="p-float-label">
                <p-dropdown
                    [(ngModel)]="reason"
                    [options]="disconnectionReasons"
                    formControlName="reason"
                    [filter]="true"
                    inputId="reasonDropdown"
                    [autoDisplayFirst]="false"
                    optionLabel="description"
                    id="disconnect-form-6"
                ></p-dropdown>
                <label for="reasonDropdown" id="disconnect-form-7">
                    Disconnection Reason
                    <span class="text-danger required-star">*</span>
                </label>
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <p-inputSwitch class="login" formControlName="diconnect"></p-inputSwitch>
                <label class="heading-14 color-dark-grey ms-2 bolder-w">Disconnect From Charging System</label>
            </div>
        </div>
    </div>
</form>
