<div class="page-container" id="add-dyn-page-div-1">
    <div class="heading-24 roboto-medium" id="add-dyn-page-div-2">Admin Dynamic Page</div>
    <div class="row mt-3" id="add-dyn-page-div-3">
        <div id="add-dyn-page-div-4"
            class="offset-md-6 offset-lg-4 col-md-6 col-lg-8 d-flex justify-content-start justify-content-lg-end mt-3">
            <div id="add-dyn-page-div-5">
                <button id="add-dyn-page-btn-1" type="button" pButton pRipple icon="pi pi-arrow-left"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Back" label="Back" tooltipPosition="bottom"
                    (click)="back()"></button>
                <button pButton id="add-dyn-page-btn-2" label="Add Step" pTooltip="Add Step" class="btn custom-outline"
                    icon="pi pi-plus" [disabled]="disableAddPage$ | async" (click)="typeDialog = true"></button>
            </div>
        </div>
    </div>
    <div class="row mt-3" id="add-dyn-page-div-6">
        <p-steps id="add-dyn-page-steps-1" [(activeIndex)]="activeIndex" [model]="items" [readonly]="false"></p-steps>
    </div>

    <div class="stepsdemo-content mt-4" id="add-dyn-page-div-7">
        <p-card id="add-dyn-page-card-1" *ngIf="activeIndex === 0">
            <app-page-configs id="add-dyn-page-configs-1" (openAddStepDialog)="typeDialog = true" [addMode]="addMode"
                [pageId]="editedPageId"></app-page-configs>
        </p-card>
        <ng-container id="add-dyn-page-container-1" *ngFor="let step of steps; let i = index">
            <p-card id="add-dyn-page-card-2" *ngIf="activeIndex === i + 1">
                <app-general-configs id="add-dyn-page-configs-2" (deleteStepEmitter)="deleteStep($event)" [step]="step"
                    [stepType]="addMode ? stepType : step.stepType" [stepIndex]="i"></app-general-configs>
            </p-card>
        </ng-container>
    </div>
</div>
<p-dialog id="add-dyn-page-dialog-1" [resizable]="false" [draggable]="false" header="Select Step Type"
    [(visible)]="typeDialog" [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true"
    [blockScroll]="true" [modal]="true" [contentStyle]="{overflow: 'visible'}" [closeOnEscape]="true"
    (onHide)="typeDialog = false">
    <div class="container" id="add-dyn-page-div-8">
        <div class="row d-flex justify-content-center" id="add-dyn-page-div-9">
            <div class="col-md-6 col-lg-4" id="add-dyn-page-div-10">
                <div id="add-dyn-page-div-11" class="card-custom pt-4 pb-2" (click)="stepType = 1"
                    [ngClass]="{'card-active': stepType === 1}">
                    <fa-icon id="add-dyn-page-icon-1" [icon]="faDatabase" size="2x"></fa-icon>
                    <p id="add-dyn-page-p-1" class="mt-2">Procedure</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" id="add-dyn-page-div-12">
                <div class="card-custom pt-4 pb-2" id="add-dyn-page-div-13" (click)="stepType = 2"
                    [ngClass]="{'card-active': stepType === 2}">
                    <fa-icon id="add-dyn-page-icon-2" [icon]="faCode" size="2x"></fa-icon>
                    <p class="mt-2" id="add-dyn-page-p-2">Http</p>
                </div>
            </div>
        </div>
    </div>
    <p-footer id="add-dyn-page-footer-1">
        <button id="add-dyn-page-btn-3" type="button" (click)="typeDialog = false; stepType = null"
            class="btn-grey btn">
            Cancel
        </button>
        <button id="add-dyn-page-btn-4" type="button" class="btn-red btn" (click)="addStep()" [disabled]="!stepType">
            Ok
        </button>
    </p-footer>
</p-dialog>
<ngx-loading id="add-dyn-page-loading-1" [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}">
</ngx-loading>