<button (click)="updateAccumulators()" style="display: none" #updateAccumalotrsBtn></button>
<table class="table">
    <thead class="custom-table-header">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Value</th>
            <th scope="col">Start Date</th>
            <th scope="col">Reset Date</th>
            <th scope="col">Reset</th>
            <th scope="col" *ngIf="permissions.editAccumulators">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accum of accumulators; let i = index">
            <th scope="row">
                <i class="pi pi-file-o color-red mr-1 file-icon"></i>
                {{ accum.id }}
            </th>
            <td>
                <span>{{values[i].value}}</span>
            </td>
            <td>{{ (values[i].date | date: 'dd/MM/yyyy') || '-' }}</td>
            <td>{{ (values[i].resetDate | date: 'dd/MM/yyyy') || '-' }}</td>
            <td>
                <p-checkbox [(ngModel)]="accum.isReset" [binary]="true" (onChange)="addReset(accum)"></p-checkbox>
            </td>
            <td *ngIf="permissions.editAccumulators">
                <span class="icon-circle" (click)="ShowAccumulatorDialog(accum)">
                    <i class="pi pi-pencil heading-13 color-light-grey"></i>
                </span>
                <!-- edit admin account dialog-->
            </td>
        </tr>
    </tbody>
</table>
<p-dialog
    [resizable]="false"
    [draggable]="false"
    header="Reason"
    [(visible)]="ReasonDialog"
    [style]="{width: '35vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    [blockScroll]="true"
    class="edit-admin-account-dialog reason-dialog"
    [closable]="true"
    [closeOnEscape]="true"
    (onHide)="reason = null"
>
    <div class="container">
        <input type="text" [(ngModel)]="reason" class="form-control" />
    </div>

    <p-footer>
        <button type="button" (click)="ReasonDialog = false; reason = null" class="btn-grey btn">Cancel</button>
        <button type="button" [disabled]="!reason" (click)="submitReason()" class="btn-red btn">Save</button>
    </p-footer>
</p-dialog>
<p-dialog
    [resizable]="false"
    [draggable]="false"
    [header]="'Edit Accumulator ' + id"
    [(visible)]="accumulatorDialog"
    [style]="{width: '40vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [blockScroll]="true"
    [modal]="true"
    class="edit-admin-account-dialog"
    [closeOnEscape]="true"
    [contentStyle]="{overflow: 'visible'}"
    (onHide)="hideDialog()"
>
    <div class="container popup-container">
        <div class="row">
            <div class="col-12 py-2">
                <span class="p-float-label">
                    <input
                        id="balance-amount"
                        type="text"
                        size="30"
                        [disabled]="true"
                        pInputText
                        [(ngModel)]="currentAccBalance"
                    />
                    <label for="balance-amount">Balance</label>
                </span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 position-relative" *ngIf="permissions.addBalance">
                <span class="p-float-label">
                    <input
                        type="number"
                        [(ngModel)]="accumulatorAddAmount"
                        (input)="clearSub()"
                        id="add"
                        min="0"
                        pInputText
                        oninput="validity.valid||(value='');"
                    />
                    <label for="add">Add Amount</label>
                </span>
                <i class="pi pi-plus amount-icons"></i>
            </div>
            <div class="col-6 position-relative" *ngIf="permissions.deductBalance">
                <span class="p-float-label">
                    <input
                        type="number"
                        [(ngModel)]="accumulatorSubAmount"
                        id="sub"
                        min="0"
                        pInputText
                        (input)="clearAdd()"
                        oninput="validity.valid||(value='');"
                    />
                    <label for="sub">Subtract Amount</label>
                </span>
                <i class="pi pi-minus amount-icons"></i>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label w-100">
                    <p-calendar
                        [ngModel]="accumulatorStartDate"
                        [readonlyInput]="true"
                        [yearNavigator]="true"
                        yearRange="2000:2030"
                        [showIcon]="true"
                        inputId="accCalender"
                        [style]="{width: '100%'}"
                        [disabled]="true"
                    ></p-calendar>
                    <label for="accCalender">Start Date</label>
                </span>
            </div>
        </div>
    </div>

    <p-footer>
        <button type="button" (click)="hideDialog()" class="btn-grey btn ">Cancel</button>
        <button
                    type="button"
                    (click)="updateAccumulatorList(false)"
                    [ngClass]="!selectedType && !selectedCode ? 'valid-opacity' : ''"
                    class="btn-red btn"
                    
                >
                    Save
                </button>
    </p-footer>
</p-dialog>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
