<div class="page-container" *ngIf="serviceClassPlanDescObs | async as serviceClassesPlanDescription" id="ser-off-plan-desc-div">
    <form #f="ngForm" id="ser-off-plan-desc-form">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="col-4 row">
                    <div class="col-1 mt-1">
                        <span class="heading-20  icon-circle" (click)="back()" id="ser-off-plan-desc-span-1" >
                            <i class="heading-20   pi pi-arrow-left "></i>
                        </span>
                    </div>
                    <div class="col-9 heading-24 roboto-medium "> Service Offering Plan</div>
                </div>
                <div>
                    <button id="ser-off-plan-desc-btn-1" [disabled]="!f.valid||exist" (click)="onSubmit(f, 'add')" type="submit"
                        class="btn btn-submit-red" *ngIf="permissions.addServiceClassPlanDesc">Add</button>
                    <button id="ser-off-plan-desc-btn-2"  [disabled]="!f.valid||!exist" (click)="onSubmit(f, 'update')"
                        class="btn btn-submit-red ms-2" *ngIf="permissions.updateServiceClassPlanDesc">Update</button>
                    <button id="ser-off-plan-desc-btn-3"  [disabled]="!selectedRow" type="submit" (click)="onSubmit(f, 'delete')"
                        class="btn btn-submit-red ms-2" *ngIf="permissions.deleteServiceClassPlanDesc">Remove</button>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 mt-4">

                <div class="row">
                    <div class="col-12 mt-4">
                        <span class="p-float-label">
                            <input id="serClassDescription" minlength="10" maxlength="10" type="text" pInputText
                                [appFocus]="true" readonly [value]="serviceClassesPlanDescription.planId" />
                            <label for="serClassDescription" id="ser-off-plan-desc-label-1"  >
                                Plan ID:
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <span class="p-float-label">
                            <input id="serv-plan-name" type="text" pInputText
                                [value]="serviceClassesPlanDescription.planName" readonly />
                            <label for="serv-plan-name" id="ser-off-plan-desc-label-1" >
                                Service Offering Plan Name:
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-4">
                        <span class="p-float-label">

                            <p-dropdown
                                (onChange)="selectClass($event, serviceClassesPlanDescription.soServiceClassDescriptions)"
                                [required]="true" [ngModel]="selectedRow?.serviceClassId" name="classId"
                                [(ngModel)]="serviceClassId" [autoDisplayFirst]="false" id="service-class"
                                [options]="serviceClasses" optionLabel="name" optionValue="code"></p-dropdown>

                            <label for="service-class">
                                Service Class:
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors id="ser-off-plan-desc-err-1" class="text-danger" [control]="f.controls.classId ">
                        </app-forms-errors>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <span class="p-float-label">
                            <input required id="desc" type="text" pInputText name="description" maxlength="100"
                                [ngModel]="selectedRow?.description" />
                            <label for="desc">
                                Service Class Plan Name:
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors id="ser-off-plan-desc-err-2" class="text-danger" [control]="f.controls.description ">
                        </app-forms-errors>

                    </div>





                </div>


            </div>
            <div class="col-12 col-md-12 col-lg-8 mt-4">
                <p-table [value]=" serviceClassesPlanDescription.soServiceClassDescriptions" responsiveLayout="scroll"
                    selectionMode="single" [rows]="5" (onRowSelect)="onRowSelect($event)" #dt>
                    <ng-template pTemplate="header">
                        <tr *ngIf="serviceClassesPlanDescription.soServiceClassDescriptions.length && permissions.getServiceClassPlanDesc"
                            class="heading-12">
                            <th>
                                <div class="d-flex">Service Class</div>
                            </th>
                            <th>
                                <div class="d-flex">Description</div>
                            </th>

                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-class>
                        <tr class="heading-12 break-word" [pSelectableRow]="class">
                            <td>
                                {{ class.serviceClassId }}
                            </td>
                            <td>
                                {{ class.description }}
                            </td>

                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td></td>
                        <td>No Classes were added</td>
                        <td></td>
                    </tr>
                </ng-template> -->
                    <ng-template pTemplate="emptymessage">
                        <app-no-data-found *ngIf="!permissions.getServiceClassPlanDesc">
                        </app-no-data-found>
                    </ng-template>

                </p-table>
            </div>
            <!-- <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}"></ngx-loading> -->
        </div>
    </form>
</div>