<div class="page-container account-history" id="call-adm-div-1">
    <ng-container *ngIf="permissions.getAllReasons" id="call-adm-con-1">
        <div class="row" id="call-adm-div-2">
            <p-steps id="call-adm-step-1" [(activeIndex)]="activeIndex" [model]="items" [readonly]="true"></p-steps>
        </div>
        <div class="row mt-3 px-3" id="call-adm-div-3">
            <div class="col-12 d-flex justify-content-end" id="call-adm-div-4">
                <div id="call-adm-div-5">
                    <button id="call-adm-btn-1" type="button" pButton pRipple icon="pi pi-download"
                        class="p-mr-2 me-2 btn btn-black" pTooltip="Download Call Activity" tooltipPosition="bottom"
                        (click)="downloadCallActivity()" *ngIf="permissions.downloadFile"></button>
                    <button id="call-adm-btn-2" type="button" pButton pRipple icon="pi pi-upload"
                        class="p-mr-2 me-2 btn btn-black" pTooltip="Upload Call Acttivity" tooltipPosition="bottom"
                        *ngIf="permissions.uploadFile" (click)="uploadPopup = true"></button>
                </div>
            </div>
        </div>
        <div class="stepsdemo-content" id="call-adm-div-6">
            <p-card *ngIf="activeIndex === 0" id="call-adm-card-1">
                <app-activity-direction id="call-adm-dir-1" (next)="toFamlilyPage($event)" [permissions]="permissions">
                </app-activity-direction>
            </p-card>
            <p-card *ngIf="activeIndex === 1" id="call-adm-card-2">
                <app-activity-family id="call-adm-fam-1" [directionId]="directionId" (previous)="previousPage()"
                    (next)="toReasonTypePage($event)" [permissions]="permissions"></app-activity-family>
            </p-card>
            <p-card *ngIf="activeIndex === 2" id="call-adm-card-3">
                <app-activity-reason-type id="call-adm-reason-1" (previous)="previousPage()" [familyId]="familyId"
                    (next)="toReasonPage($event)" [permissions]="permissions"></app-activity-reason-type>
            </p-card>
            <p-card *ngIf="activeIndex === 3" id="call-adm-card-1">
                <app-activity-reason id="call-adm-reas-1" [permissions]="permissions" (previous)="previousPage()"
                    [reasonTypeId]="reasonTypeId"></app-activity-reason>
            </p-card>
        </div>
        <p-dialog id="call-adm-dia-1" [resizable]="false" [draggable]="false" header="Upload Call Activity"
            [(visible)]="uploadPopup" [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true"
            (onHide)="clearUpload(fileUpload)" [blockScroll]="true" [modal]="true"
            [contentStyle]="{overflow: 'visible'}" [closeOnEscape]="true">
            <div class="container" id="call-adm-div-7">
                <div class="row" id="call-adm-div-8">
                    <div class="col-12" id="call-adm-div-9">
                        <p-fileUpload id="call-adm-file-1" #fileUpload [customUpload]="true" name="demo[]"
                            url="./upload.php" (uploadHandler)="onUpload($event, fileUpload)" accept=".xlsx,.csv,.xls"
                            [disabled]="isFileInstallExist" [maxFileSize]="1000000" chooseLabel="Add"
                            cancelLabel="Clear" styleClass="install-custom" (onClear)="clearUpload(fileUpload)"
                            (onRemove)="clearUpload(fileUpload)" [files]="[installedFile]"></p-fileUpload>
                    </div>
                </div>
            </div>

            <p-footer id="call-adm-footer-1"></p-footer>
        </p-dialog>
        <ngx-loading id="call-adm-load-1" [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
    </ng-container>
    <app-not-authorized id="call-adm-auh-1" *ngIf="!permissions.getAllReasons"></app-not-authorized>
</div>