<div class="page-container" id="locking-div">
    <div class="row mb-2">
        <div class="col-6">
            <div class="page-title">Locking Adminstration</div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Search" label="Search" tooltipPosition="bottom"
                    (click)="search=!search" [ngClass]="{'search-active' : search}"></button>
                <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                    icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                    pTooltip="Clear filter" label="Clear filter"></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label" *ngIf="permissions.viewLockingAdmin && tableLockingList?.length > 0">
                <input pInputText type="text" #input (input)="onSearchInput(input.value)" [(ngModel)]="searchText"
                    id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
        <div class="col-12 col-lg-8 mt-3 mt-lg-0 d-flex justify-content-end"></div>
    </div>

    <p-table id="locking-table" [value]="tableLockingList" [paginator]="
            dt?.filteredValue?.length !== 0 && permissions.viewLockingAdmin && tableLockingList?.length > 0
                ? true
                : false
        " [rowHover]="true" [rows]="5" dataKey="id" responsiveLayout="scroll" class="mt-3" #dt
        [globalFilterFields]="['username', 'msisdn', 'date']" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]">

        <ng-template pTemplate="header">
            <tr *ngIf="permissions.viewLockingAdmin && tableLockingList?.length > 0">
                <th pSortableColumn="username">
                    <div class="d-flex">
                        User Name
                        <p-sortIcon field="username"></p-sortIcon>
                        <p-columnFilter type="text" field="username" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="msisdn">
                    <div class="d-flex">
                        Subscriber
                        <p-sortIcon field="msisdn"></p-sortIcon>
                        <p-columnFilter type="text" field="msisdn" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date">
                    <div class="d-flex">
                        Lock Date/Time
                        <p-sortIcon field="date"></p-sortIcon>
                        <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th>Unlock</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr *ngIf="tableLockingList">
                <td>{{ user.username }}</td>
                <td>{{ user.msisdn }}</td>
                <td>{{ user.date | date: 'M/d/y, h:mm:ss a' }}</td>
                <td>
                    <span class="icon-circle" (click)="confirm(user.msisdn, user.username)">
                        <i class="pi pi-unlock cursor-pointer"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found id="locking-nodata-1"
        *ngIf="dt?.filteredValue?.length === 0 || !permissions.viewLockingAdmin || tableLockingList?.length === 0">
    </app-no-data-found>
    <div class="fetching-img" *ngIf="isFetchingList$ |async">
        <img src="./../../../../../assets/images/getData.png">
        <h3>Loading ...</h3>
    </div>
</div>
<ngx-loading id="bp-loading-1" [show]="loading | async" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<p-confirmDialog id="locking-confirm-1" header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>