.side-nav {
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 80px;
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex: 0 1 80px;
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000001a;
    transition: 150ms all ease-in-out;
    overflow-y: auto;
    z-index: 2000;
    i {
        display: none; 
    }
    .pin-icon{
        display: none;
        
    
    }
    &:hover {
        width: 250px;
        .side-nav-search {
            display: unset !important;
        }
        i {
            display: inline-block;
            position: absolute;
            right: 32px;
            z-index: 10;
        }
        .pin-icon{
            display: inline-block;
            position: absolute;
            right: 32px;
            z-index: 10;
        }
        
        .logo {
            &:focus {
                outline: 0;
                border: none;
                outline-color: white !important;
            }
            &:active {
                outline: 0;
                border: none;
                outline-color: white !important;
            }
            .title {
                display: inline-block;
            }
            i,.pin-icon {
                display: inline-block;
                margin-left: 50px;
            }
        }

        .nav-item {
            label,
            i,
            .pin-icon,
            .title {
                display: inline-block;
                visibility: visible;
            }
        }
    }
    &-search {
        border-radius: 15px;
        border-color: #0000000f;
        width: 100%;
        padding-left: 35px;
        display: none;

        &-icon {
            position: absolute;
            left: 10px;
            top: 11px;
        }
    }

    .logo {
        width: 100%;
        height: 40px;
        display: flex;
        // overflow: hidden;
        margin-bottom: 2em;
        white-space: nowrap;
        margin-left: 6px;
        &:focus {
            outline: 0 !important;
            border: none !important;
            outline-color: white !important;
        }
        &:active {
            outline: 0 !important;
            border: none !important;
            outline-color: white !important;
        }

        img {
            width: 36px;
            height: 36px;
            margin-right: 1em;
        }
        i {
            display: none;
        }

        .title {
            display: none;

            .brand {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
            }
            .data {
                font-size: 13px;
                color: #b4b4b4;
                margin: 0;
            }
        }
    }

    .nav-item {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 48px;
        min-width: 112px;
        width: 100%;
        // overflow: hidden;
        padding: 2px;
        margin-left: 8px;
        margin-bottom: 4px;

        .item-head {
            align-items: flex-start;
            width: 100%;
        }

        .sub-tree {
            width: calc(100% - 50px);
            margin-left: 50px;
            label {
                color: #a5a5a5;
            }
        }

        img {
            margin-right: 16px;
            width: 26px;
            height: 26px;
        }

        label,
        i,
        .title {
            display: none;
            visibility: hidden;
            white-space: nowrap;
            font-size: 14px;
            margin: 0;
        }

        &:hover {
            .item-head {
                color: #e60000;
            }
        }
    }
}

.side-nav.fixed {
    position: fixed;
    min-width: 250px;
    i,.pin-icon {
        display: inline-block;
        position: absolute;
        right: 32px;
        z-index: 10;
    }
    .logo {
        .title {
            display: inline-block;
        }
        i {
            display: inline-block;
            margin-left: 50px;
        }
    }
    .nav-item {
        label,
        i,
        .title {
            display: inline-block;
            visibility: visible;
        }
    }
}
.sideMenuWidth {
    width: 80px;
}
.sideMeunFixedWidth {
    min-width: 250px;
}

.closeMenu {
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 250px;
    padding: 1em;
    overflow: hidden;
    display: flex;
    flex: 0 1 80px;
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: transparent;
    transition: 150ms all ease-in-out;
    overflow-y: auto;
    z-index: 1001;
}
::-webkit-input-placeholder {
    /* Edge */
    color: #a5a5a5;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a5a5a5ed;
}
::placeholder {
    color: #a5a5a5ed;
}
::-webkit-scrollbar {
    width: 4px;
}
// nav {
//     // width: 80px;
//     height: 100vh;
//     box-shadow: 0px 0px 10px #0000001a;
//     background-color: #fff;
//     // display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     transition: 3000ms width ease-in-out;
//     padding-left: 25px;

//     .on-hover {
//         display: none;
//         max-width: 120px;
//         overflow: hidden;

//         .brand {
//             font-size: 14px;
//             font-weight: 500;
//         }
//         .data {
//             font-size: 13px;
//             color: #b4b4b4;
//         }
//     }

//     &:hover {
//         width: 200px;
//         .on-hover {
//             display: inline-block;
//             vertical-align: middle;
//         }
//     }
// }
// nav .logo {
//     margin-top: 24px;
//     margin-bottom: 60px;
//     display: inline-block;
// }
// nav .call-center,
// nav .user-account,
// nav .settings {
//     margin-bottom: 30px;
// }
// img {
//     display: inline-block;
//     margin-right: 25px;
// }
