<div class="side-nav scroller" [ngClass]="{fixed: sideMenu}" (mouseleave)="leave()" id="sideMenu">
    <fa-icon
        class=" pi cursor-pointer pin-icon"
        (click)="pinSideMenu()"
        [icon]="faThumbtack"
        [ngClass]="sideMenu ? 'color-red' : 'color-light-grey' "
    ></fa-icon>
    <div class="logo " id="logo-container" >
        <img src="./assets/images/small-logo.png" id="logo" (click)="reset()" class="cursor-pointer" />
        <div class="title">
            <h4 class="brand" id="vodafoneLabel">Vodafone</h4>
            <label class="data" id="customercareLabel">Customer Care</label>
        </div>
    </div>

    <div class="nav-item d-flex justify-content-start position-relative">
        <span class="pi pi-search side-nav-search-icon color-light-grey d-flex"></span>
        <input
            type="text"
            placeholder="Search..."
            [(ngModel)]="filterSearch"
            (input)="filterMenu()"
            class="form-control side-nav-search"
            id="search-input"
        />
    </div>

    <div class="nav-item">
        <div class="item-head d-flex flex-row">
            <div class="d-inline-block flex-fill">
                <p-panelMenu
                    [model]="userMenuShow"
                    styleClass="navbar-panel-menu mt-2 mb-4"
                    [style]="{width: '100%'}"
                    #panelMenu
                    id="panelMenu"
                ></p-panelMenu>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="sideMenu ? 'sideMeunFixedWidth' : 'sideMenuWidth '"></div>
<div class="closeMenu" *ngIf="closeMenu"></div>
