<div class="page-container" id="communities-page">
    <div class="d-flex justify-content-between mb-4" id="communities-page-1">
        <div class="heading-24 roboto-medium" id="communities-page-2">Communities</div>
        <button class="btn btn-submit-red" id="communities-page-3" (click)="updateCommuinty()"
            *ngIf="permissions.updateCommunities">
            Submit
        </button>
    </div>
    <div>
        <p-pickList [source]="communityList" sourceHeader="Unselected Communities" targetHeader="Selected Communities"
            [target]="targetlist" id="communities-page-4">
            <ng-template let-community pTemplate="item">
                <div>{{ community.communityDescription }}</div>
            </ng-template>
        </p-pickList>
    </div>
    <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}"
        id="communities-page-5"></ngx-loading>
</div>