<div class="page-container product-view" id="productView" [ngClass]="{'table-width': isopened && isopenedNav}">
    <div class="row header mb-2">
        <div class="col-6 heading-24 roboto-medium">All Subscriber Bundles</div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Search" tooltipPosition="bottom"
                    (click)="search = !search" [ngClass]="{'search-active': search}"></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search': search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label">
                <input [(ngModel)]="searchText" pInputText type="text" #input
                    (input)="dt.filterGlobal(input.value, 'contains')" id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
    </div>
    <div *ngIf="products">
        <p-table [autoLayout]="true" [value]="products"
            [paginator]="dt?.filteredValue?.length !== 0 ? true : false" [rows]="5" dataKey="productId" #dt
            [globalFilterFields]="[
                'productId',
                'productName',
                'productType',
                'productStatus',
                'productRecurrence',
                'fafMembers'
            ]" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]" id="productView-1"
            class="no-flex-table">
            <ng-template pTemplate="header">
                <tr class="heading-12" *ngIf="dt?.filteredValue?.length !== 0">
                    <th pSortableColumn="productId">
                        <div class="d-flex">
                            ID
                            <p-sortIcon field="productId"></p-sortIcon>
                            <p-columnFilter type="text" field="productId" display="menu"
                                class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex">
                            Name
                            <p-sortIcon field="productName"></p-sortIcon>
                            <p-columnFilter type="text" field="productName" display="menu"
                                class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>

                    <!-- <th pSortableColumn="productType">
                            <div class="d-flex">
                                Type
                                <p-sortIcon field="productType"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="productType"
                                    display="menu"
                                    class="p-ml-auto"
                                ></p-columnFilter>
                            </div>
                        </th> -->
                    <th pSortableColumn="productStatus">
                        <div class="d-flex">
                            Status
                            <p-sortIcon field="productStatus"></p-sortIcon>
                            <p-columnFilter type="text" field="productStatus" display="menu"
                                class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="productRecurrence">
                        <div class="d-flex">
                            Recurrence
                            <p-sortIcon field="productRecurrence"></p-sortIcon>
                            <p-columnFilter type="text" field="productRecurrence" display="menu"
                                class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="productRenewalDate">
                        <div class="d-flex">
                            Renwel Date
                            <p-sortIcon field="productRenewalDate"></p-sortIcon>
                            <p-columnFilter type="date" field="productRenewalDate" display="menu"
                                class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th style="text-align: center" *ngIf="!isopened || !isopenedNav">Quotas</th>

                    <!--<th pSortableColumn="productStartDate">
                            <div class="d-flex">
                                Start Date
                                <p-sortIcon field="productStartDate"></p-sortIcon>
                                <p-columnFilter
                                    type="date"
                                    field="productStartDate"
                                    display="menu"
                                    class="p-ml-auto"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="productExpiryDate">
                            <div class="d-flex">
                                Expire Date
                                <p-sortIcon field="productExpiryDate"></p-sortIcon>
                                <p-columnFilter
                                    type="date"
                                    field="productExpiryDate"
                                    display="menu"
                                    class="p-ml-auto"
                                ></p-columnFilter>
                            </div>
                        </th>
                       
                        <th pSortableColumn="fafMembers">
                            <div class="d-flex">
                                FAF Members/MSISDN
                                <p-sortIcon field="fafMembers"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="fafMembers"
                                    display="menu"
                                    class="p-ml-auto"
                                ></p-columnFilter>
                            </div>
                        </th> -->
                    <!-- <th style="width: 40%; text-align: center;">Quota</th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr class="heading-12 break-word">
                    <!--<td>{{ product.productId }}</td>-->
                    <td>{{ product?.productId }}</td>
                    <td>{{ product?.productName }}</td>
                    <!-- <td>{{ product.productType }}</td> -->
                    <td>{{ product?.productStatus }}</td>
                    <td>{{ product?.productRecurrence }}</td>
                    <td>
                        {{
                        product?.productRenewalDate
                        ? product?.productRenewalDate >= dashDate
                        ? '-'
                        : (product?.productRenewalDate | timestamp)
                        : '-'
                        }}
                    </td>
                    <td *ngIf="!isopened || !isopenedNav">
                        <div class="d-flex align-items-center justify-content-around" *ngIf="!expanded">
                            <div *ngFor="let quota of product.quotas; let i = index" class="d-flex align-items-center">
                                <div style="transform: rotate(-90deg)" [ngClass]="{'d-none': i > 2}"
                                    tooltipPosition="top" [pTooltip]="
                                        'RemainingQuota= ' +
                                        quota?.remainingQuota +
                                        '\nConsumed Quota =' +
                                        quota?.consumedQuota
                                    ">
                                    <p-progressBar class="progress-bar-width" [ngClass]="{
                                            'background-green': (quota?.remainingQuota / quota?.maxQuota) * 100 >= 50,
                                            'background-red': 20 >= (quota?.remainingQuota / quota?.maxQuota) * 100,
                                            'background-orange':
                                                (quota?.remainingQuota / quota?.maxQuota) * 100 >= 30 &&
                                                50 > (quota?.remainingQuota / quota?.maxQuota) * 100
                                        }"
                                        [value]="(quota?.remainingQuota / quota?.maxQuota) * 100 | number : '1.0-0'"></p-progressBar>
                                </div>

                                <div [ngClass]="{'d-none': i > 2}">
                                    <div>{{ quota?.quotaName }}</div>
                                    <div>
                                        {{ (quota?.remainingQuota / quota?.maxQuota) * 100 | number : '1.0-0' }} %
                                    </div>
                                    <div>{{ quota?.remainingQuota }} / {{ quota?.maxQuota }}</div>
                                    <div>
                                        {{ quota?.quotaUnit }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span id="http-dyn-span-26" class="icon-circle ms-1 rel" [pRowToggler]="product"
                            style="position: relative">
                            <i [class]="
                                    expanded
                                        ? 'pi pi-chevron-down cursor-pointer color-light-grey'
                                        : 'pi pi-chevron-right cursor-pointer color-light-grey'
                                "></i>
                            <div class="notification-dot" *ngIf="product?.quotas?.length >= 3"></div>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <td colspan="6" class="expanded-row w-100">
                    <div *ngIf="product?.quotas?.length >= 1" class="px-4 py-2"
                        style="border-bottom: 1px solid #0000003b">
                        <div class="roboto-medium mb-2">Quotas</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div *ngFor="let quota of product?.quotas; let i = index" class="d-flex align-items-center">
                                <div style="transform: rotate(-90deg)" tooltipPosition="top" [pTooltip]="
                                        'RemainingQuota= ' +
                                        quota?.remainingQuota +
                                        '\nConsumed Quota =' +
                                        quota?.consumedQuota
                                    ">
                                    <p-progressBar class="progress-bar-width" [ngClass]="{
                                            'background-green': (quota?.remainingQuota / quota?.maxQuota) * 100 >= 50,
                                            'background-red': 20 >= (quota?.remainingQuota / quota?.maxQuota) * 100,
                                            'background-orange':
                                                (quota?.remainingQuota / quota?.maxQuota) * 100 >= 30 &&
                                                50 > (quota?.remainingQuota / quota?.maxQuota) * 100
                                        }"
                                        [value]="(quota?.remainingQuota / quota?.maxQuota) * 100 | number : '1.0-0'"></p-progressBar>
                                </div>

                                <div>
                                    <div>
                                        <div>{{ quota?.quotaName }}</div>
                                        <div>{{ quota?.location }}</div>
                                        <div>{{ quota?.quotaType }}</div>
                                        {{ (quota?.remainingQuota / quota?.maxQuota) * 100 | number : '1.0-0' }}
                                        %
                                    </div>
                                    <div>{{ quota?.maxQuota }} / {{ quota?.remainingQuota }}</div>
                                    <div>
                                        {{ quota?.quotaUnit }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2" style="border-bottom: 1px solid #0000003b"
                        *ngIf="product?.quotas &&product?.quotas.length>0">
                        <p-table [autoLayout]="true" [value]="product?.quotas">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Quota Name</th>
                                    <th>Quota Type</th>
                                    <th>Quota Unit</th>
                                    <th>Max Quota</th>
                                    <th>Remaining Quota</th>
                                    <th>Consumed Quota</th>
                                    <th>Location</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-quota>
                                <tr>
                                    <td>{{quota?.quotaName || "-"}}</td>
                                    <td>{{quota?.quotaType || "-"}}</td>
                                    <td>{{quota?.quotaUnit || "-"}}</td>
                                    <td>{{quota?.maxQuota || "-"}}</td>
                                    <td>{{quota?.remainingQuota || "-"}}</td>
                                    <td>{{quota?.consumedQuota || "-"}}</td>
                                    <td>{{quota?.location || "-"}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2" style="border-bottom: 1px solid #0000003b">
                        <div class="item">
                            <div class="roboto-medium">Type</div>
                            <div>{{ product?.productType }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Start Date</div>
                            <div>{{
                                product?.productStartDate
                                ? product?.productStartDate >= dashDate
                                ? '-'
                                : (product?.productStartDate | timestamp)
                                : '-'
                                }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Renewal Date</div>
                            <div>{{
                                product?.productRenewalDate
                                ? product?.productRenewalDate >= dashDate
                                ? '-'
                                : (product?.productRenewalDate | timestamp)
                                : '-'
                                }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">Renewal Recurrence</div>
                            <div>{{ product?.productRecurrence }}</div>
                        </div>
                    </div>
                    <div class="d-flex px-4 py-2" style="border-bottom: 1px solid #0000003b">
                        <div class="item" style="margin-right: 21.33%">
                            <div class="roboto-medium">Expiry Date</div>
                            <div>{{
                                product?.productExpiryDate
                                ? product?.productExpiryDate >= dashDate
                                ? '-'
                                : (product?.productExpiryDate | timestamp)
                                : '-'
                                }}</div>
                        </div>
                        <div class="item">
                            <div class="roboto-medium">FAF MEMBERS / MSISDN</div>
                            <div *ngIf="product?.fafmemebers?.msisdn && product?.fafmemebers?.msisdn?.length >0">
                                <div *ngFor="let msisdn of product?.fafmemebers?.msisdn">
                                    {{msisdn}}
                                </div>
                            </div>
                            <div
                                *ngIf="!product?.fafmemebers || !product?.fafmemebers?.msisdn || product?.fafmemebers?.msisdn?.length ===0">
                                -
                            </div>
                        </div>
                    </div>
                </td>
            </ng-template>
        </p-table>

    </div>
    <app-no-data-found *ngIf="dt?.filteredValue?.length === 0 || !products"></app-no-data-found>
    <div class="fetching-img" *ngIf="isFetchingList$ |async">
        <img src="./../../../../../assets/images/getData.png">
        <h3>Loading ...</h3>
    </div>
</div>
<!-- dialog for quotas -->
<p-dialog header="Quotas" [(visible)]="showQuotas" [resizable]="false" [draggable]="false" [modal]="true"
    [baseZIndex]="10000" [closable]="true" [style]="{width: '60vw'}" [dismissableMask]="true">
    <div class="quotas row justify-content-between" *ngIf="productQuotas?.length != 0">
        <div class="col col-3 align-items-center circular-progress mx-4" *ngFor="let product of productQuotas">
            <div class="labels">
                <div class="d-flex">
                    <label class="roboto-medium heading-12 me-3">Qouta Name :</label>
                    <div class="heading-12">{{ product?.quotaName }}</div>
                </div>
                <div class="d-flex">
                    <label class="roboto-medium heading-12 me-3">Qouta Type :</label>
                    <div class="heading-12">{{ product?.quotaType }}</div>
                </div>
            </div>
            <div class="d-flex d-flex align-items-center circular-progress mx-4">
                <div>
                    <circle-progress [percent]="(product?.consumedQuota / product?.maxQuota) * 100" [radius]="40"
                        [outerStrokeWidth]="5" [innerStrokeWidth]="0" [outerStrokeColor]="'#F33939'" [animation]="true"
                        [animationDuration]="300" [showSubtitle]="false" [showBackground]="true"
                        [backgroundStroke]="'#F5F7FA'" [backgroundStrokeWidth]="5"
                        [backgroundPadding]="-2"></circle-progress>
                </div>

                <div>
                    <div class="title">{{ product?.quotaUnit }}</div>
                    <div class="data">
                        {{ product?.remainingQuota }} / {{ product?.maxQuota }} {{ product?.quotaUnit }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="productQuotas.length === 0" class="text-danger">No Quotas Found</div>
    <p-footer></p-footer>
</p-dialog>
<!-- <button type="text" pButton label="Custom Target" (click)="op.show($event)"></button> -->
<div #actualTarget></div>
<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
    <ng-template pTemplate></ng-template>
</p-overlayPanel>

<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>