<div class="page-container" id="dynamic-page">
    <div *ngIf="!(loading$ | async)" id="dynamic-page-1">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="heading-24 roboto-medium" id="dynamic-page-2">{{ pageModel?.pageName }}</div>
            </div>
            <div class="mt-4">
                <p-steps [(activeIndex)]="activeIndex" [model]="items" [readonly]="true" id="dynamic-page-3"></p-steps>
            </div>
        </div>

        <div class="stepsdemo-content mt-4" *ngFor="let step of pageModel?.steps; let i = index" id="dynamic-page-4">
            <p-card *ngIf="activeIndex === i" id="dynamic-page-4">
                <form [formGroup]="currentForm" id="dynamic-page-5">
                    <div class="row">
                        <div class="col-6 heading-20 roboto-medium">
                            <button
                                pTooltip="Prev"
                                icon="pi pi-arrow-left"
                                pButton
                                pRipple
                                tooltipPosition="bottom"
                                class="btn btn-black"
                                (click)="prevStep()"
                                *ngIf="i>0"
                                id="dynamic-page-6"
                            ></button>
                        </div>

                        <div class="col-6 text-end">
                            <button class="btn btn-submit-red" type="submit" (click)="submitForm()" id="dynamic-page-7">
                                Submit
                            </button>
                            <!-- pageModel?.steps.length - 1 == i && -->
                            <button
                                class="btn btn-black ms-2"
                                (click)="nextStep()"
                                *ngIf="pageModel?.steps.length - 1 !== i && submitFlags[activeIndex] &&!pageModel?.steps[i+1].isHidden"
                                pTooltip="Next"
                                icon="pi pi-arrow-right"
                                pButton
                                pRipple
                                tooltipPosition="bottom"
                                id="dynamic-page-8"
                                
                            >
                            </button>
                        </div>
                        <!-- List input parameters -->
                        <div class="row mt-4">
                            <!-- display if it's not hidden -->
                            <div
                                *ngFor="let input of step?.stepInputParameters"
                                [ngClass]="input?.hidden ? 'd-none' : 'col-12 col-md-6 col-lg-4 mt-4'"
                                id="dynamic-page-9"
                            >
                                <div>
                                    <!-- From Other Step ?? -->
                                    <!-- <div *ngIf="input?.inputMethod === 4"> -->
                                    <!-- <input [formControlName]="input.displayName" /> -->
                                    <!-- </div> -->
                                    <!-- Not from other step -->
                                    <div
                                        *ngIf="
                                            input?.inputMethod === 1 ||
                                            input?.inputMethod === 3 ||
                                            input?.inputMethod === 4
                                        "
                                        id="dynamic-page-10"
                                    >
                                        <!-- Calendar input -->
                                        <div *ngIf="input?.parameterDataType === 4" id="dynamic-page-11">
                                            <div class="position-relative">
                                                <span class="p-float-label">
                                                    <p-calendar
                                                        [showIcon]="true"
                                                        inputId="icon"
                                                        dateFormat="dd mm yy"
                                                        [formControlName]="input?.parameterName"
                                                        id="dynamic-page-12"
                                                    ></p-calendar>

                                                    <label for="fromDate" id="dynamic-page-13">
                                                        {{ input?.displayName }}
                                                        <span class="text-danger required-star">*</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- Regular Input -->
                                        <!-- string -->
                                        <div *ngIf="input?.parameterDataType === 2" id="dynamic-page-14">
                                            <span class="p-float-label">
                                                <input
                                                    id="float-input"
                                                    type="text"
                                                    pInputText
                                                    [formControlName]="input?.parameterName"
                                                />
                                                <label for="float-input" id="dynamic-page-15">
                                                    {{ input?.displayName }}
                                                    <span class="text-danger required-star">*</span>
                                                </label>
                                            </span>
                                        </div>
                                        <!-- number -->
                                        <div *ngIf="input?.parameterDataType === 1" id="dynamic-page-16">
                                            <span class="p-float-label">
                                                <p-inputNumber
                                                    inputId="integeronly"
                                                    styleClass="w-100"
                                                    [useGrouping]="false"
                                                    [formControlName]="input?.parameterName"
                                                    id="dynamic-page-17"
                                                ></p-inputNumber>
                                                <label for="sub">{{ input?.displayName }}</label>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Dropdown list -->
                                    <div *ngIf="input?.inputMethod === 2" id="dynamic-page-18">
                                        <div class="position-relative">
                                            <span class="p-float-label">
                                                <p-dropdown
                                                    [options]="input?.dropdownList"
                                                    optionLabel="label"
                                                    inputId="typeDropdown"
                                                    [autoDisplayFirst]="false"
                                                    [filter]="true"
                                                    filterBy="label"
                                                    [formControlName]="input?.parameterName"
                                                    id="dynamic-page-19"
                                                ></p-dropdown>
                                                <label for="typeDropdown" id="dynamic-page-20">
                                                    {{ input?.displayName }}
                                                    <span class="text-danger required-star">*</span>
                                                </label>
                                            </span>
                                            <!--  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- List output parameters -->
                    </div>
                </form>
                <div class="row mt-4">
                    <div
                        *ngFor="let output of outputParameters[activeIndex]"
                        [ngClass]="
                            output?.parameterDataType === 3 ? 'item col-12' : 'item col-12 col-md-6 col-lg-4 mt-4'
                        "
                        id="dynamic-page-21"
                    >
                        <div>
                            <div class="title" id="dynamic-page-22">{{ output.parameterName }}</div>
                            <div
                                class="content roboto-medium"
                                *ngIf="!(output?.parameterDataType === 3)"
                                id="dynamic-page-23"
                            >
                                {{ output.parameterValue }}
                            </div>
                            <div class="data-table" *ngIf="output?.parameterDataType === 3" id="dynamic-page-24">
                                <p-table
                                    [value]="output.parameterValue"
                                    selectionMode="single"
                                    responsiveLayout="scroll"
                                    [rows]="5"
                                    #dt
                                    id="dynamic-page-25"
                                >
                                    <ng-template pTemplate="header">
                                        <tr class="heading-12">
                                            <th *ngFor="let header of output?.parameterValue[0] | keyvalue">
                                                <div class="d-flex">{{ header.key }}</div>
                                            </th>
                                            <th>
                                                <div class="d-flex" *ngIf="pageModel?.steps.length - 1 !== i && submitFlags[activeIndex]">Apply Action</div>
                                            </th>
                                            <!-- <th>
                                                <div class="d-flex">Sender Msisdn</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Status</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Receiver Msisdn</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Flexes Start Date</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Flexes Expiry Date</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Flexes Amount</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Fees</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Channel</div>
                                            </th>
                                            <th>
                                                <div class="d-flex">Apply Action</div>
                                            </th> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-row>
                                        <tr [pSelectableRow]="row" class="heading-12 break-word">
                                            <td *ngFor="let data of row | keyvalue">{{ data.value }}</td>

                                            <!-- <td>
                                                {{ value['Sender Msisdn'] }}
                                            </td>
                                            <td>
                                                {{ value['Status'] }}
                                            </td>
                                            <td>
                                                {{ value['Receiver Msisdn'] }}
                                            </td>
                                            <td>
                                                {{ value['Flexes Start Date'] }}
                                            </td>
                                            <td>
                                                {{ value['Flexes Expiry Date'] }}
                                            </td>
                                            <td>
                                                {{ value['Flexes Amount'] }}
                                            </td>
                                            <td>
                                                {{ value['Fees'] }}
                                            </td>
                                            <td>
                                                {{ value['Channel'] }}
                                            </td> -->
                                            <td *ngIf="pageModel?.steps.length - 1 !== i && submitFlags[activeIndex]">
                                                <fa-icon
                                                    [icon]="faCircleCheck"
                                                    class="ms-4"
                                                    [styles]="{'font-size': '20px'}"
                                                    pTooltip="Apply action"
                                                    tooltipPosition="bottom"
                                                    (click)="applyAction(output, row)"
                                                ></fa-icon>

                                                <!-- <button
                                                type="button"
                                                pButton
                                                pRipple
                                                icon="pi pi-check"
                                                class="p-mr-2 me-2 btn btn-black"
                                                pTooltip="Apply action"
                                                tooltipPosition="bottom"
                                                
                                            ></button> -->
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}" id="dynamic-page-26"></ngx-loading>
</div>
