{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "semi": true,
    "bracketSpacing": false,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true,
    "quoteProps": "as-needed",
    "tabWidth": 4,
    "disableLanguages": ["html"]
}
