<p-dialog
    [resizable]="false"
    [draggable]="false"
    [style]="{width: '50vw'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    [closable]="true"
    [contentStyle]="{overflow: 'visible'}"
    class="edit-admin-account-dialog"
    [closeOnEscape]="true"
    [(visible)]="isModalOpened"
    header=" "
    id="usageCounterThreshold"
>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <label>Usage counter ID:</label>
                <span class="ms-2 text-danger required-star">*</span>
                <p-inputNumber
                    formControlName="id"
                    inputId="integeronly"
                    placeholder="Usage counter ID"
                    styleClass="w-100"
                    id="usageCounterThreshold-1"
                ></p-inputNumber>
                <!-- <app-forms-errors class="text-danger" [control]="usageCounterForm.controls.id"></app-forms-errors> -->
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label>Usage counter value:</label>
                <span class="ms-2 text-danger required-star">*</span>
                <input
                    type="text"
                    placeholder="Business Plan Name"
                    formControlName="value"
                    pInputText
                    id="usageCounterThreshold-2"
                />
                <app-forms-errors class="text-danger"></app-forms-errors>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label>Usage counter monetary value 1:</label>
                <span class="ms-2 text-danger required-star">*</span>
                <input
                    type="text"
                    placeholder="Usage counter monetary value 1"
                    formControlName="monetaryValue1"
                    pInputText
                    id="usageCounterThreshold-3"
                />
                <!-- <app-forms-errors
                class="text-danger"
                [control]="usageCounterForm.controls.monetaryValue1"
            ></app-forms-errors> -->
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label>Usage counter monetary value 2:</label>
                <span class="ms-2 text-danger required-star">*</span>
                <input
                    type="text"
                    placeholder="Usage counter monetary value 2"
                    formControlName="monetaryValue2"
                    pInputText
                    id="usageCounterThreshold-4"
                />
                <!-- <app-forms-errors
                class="text-danger"
                [control]="usageCounterForm.controls.monetaryValue2"
            ></app-forms-errors> -->
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <!-- <label *ngIf="!editMode">Usage type id:</label> -->
                <span class="ms-2 text-danger required-star">*</span>
                <p-dropdown
                    filterBy="label"
                    [filter]="true"
                    formControlName="usageTypeId"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Select usage type ID"
                    class="full-width-dropdown"
                    id="usageCounterThreshold-5"
                ></p-dropdown>
                <app-forms-errors class="text-danger" id="usageCounterThreshold-6"></app-forms-errors>
            </div>
        </div>
    </div>

    <p-footer>
        <button type="button" class="btn-grey btn" id="usageCounterThreshold-7">Cancel</button>
        <button type="submit" class="btn-red btn" id="usageCounterThreshold-8">Save</button>
    </p-footer>
</p-dialog>
