<div class="page-container" id="ad-acc-group-div-1">
    <div class="row mb-2">
        <div class="col-6">
            <div class="heading-24 roboto-medium" id="ad-acc-group-div-2">Account Groups</div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button type="button" pButton pRipple icon="pi pi-plus" class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Add Account Group" tooltipPosition="bottom" (click)="switchToAddAccount()"
                    *ngIf="permissions.addAccountGroup" id="ad-acc-group-btn-1"></button>
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Search" tooltipPosition="bottom"
                    (click)="search=!search" [ngClass]="{'search-active' : search}"></button>
                <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                    icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                    pTooltip="Clear filter"></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label" *ngIf="permissions.getAccountGroup">
                <input [(ngModel)]="searchText" pInputText type="text" #input
                    (input)="dt.filterGlobal(input.value, 'contains')" id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
    </div>
    <p-table [value]="accountGroupsList" [paginator]="
            dt?.filteredValue?.length !== 0 && permissions.getAccountGroup && accountGroupsList?.length > 0
                ? true
                : false
        " id="ad-acc-group-table-1" [rows]="5" responsiveLayout="scroll" class="mt-3" [rowHover]="true" #dt
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]"
        [globalFilterFields]="['accountGroupId', 'accountGroupDescription']">
        <ng-template pTemplate="header" id="ad-acc-group-temp-2">
            <tr id="ad-acc-group-tr-1" *ngIf="accountGroupsList?.length > 0 && permissions.getAccountGroup">
                <th pSortableColumn="accountGroupId" id="ad-acc-group-th-1">
                    Group ID
                    <p-sortIcon field="accountGroupId" id="ad-acc-group-sort-1"></p-sortIcon>
                    <p-columnFilter id="ad-acc-group-filter-1" type="text" field="accountGroupId" display="menu"
                        class="p-ml-auto"></p-columnFilter>
                </th>
                <th pSortableColumn="accountGroupDescription" id="ad-acc-group-th-2">
                    Group Description
                    <p-sortIcon id="ad-acc-group-sort-2" field="accountGroupDescription"></p-sortIcon>
                    <p-columnFilter id="ad-acc-group-filter-2" type="text" field="accountGroupDescription"
                        display="menu" class="p-ml-auto"></p-columnFilter>
                </th>
                <th id="ad-acc-group-th-3">
                    <!-- <button id="ad-acc-group-btn-2" pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined"
                        icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue"></button> -->
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-accountGroup id="ad-acc-group-temp-3">
            <tr id="ad-acc-group-tr-2">
                <td id="ad-acc-group-td-1">{{ accountGroup.accountGroupId }}</td>
                <td id="ad-acc-group-td-2">{{ accountGroup.accountGroupDescription }}</td>
                <td id="ad-acc-group-th-3">
                    <span id="ad-acc-group-span-2" class="icon-circle" (click)="switchToEditAccount(accountGroup)"
                        *ngIf="permissions.updateAccountGroup">
                        <i class="pi pi-pencil heading-13 color-light-grey"></i>
                    </span>
                    <span id="ad-acc-group-span-3" class="icon-circle ms-1"
                        (click)="confirmDeleteAccount(accountGroup.accountGroupId)"
                        *ngIf="permissions.deleteAccountGroup">
                        <i class="pi pi-trash cursor-pointer"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found id="ad-acc-group-nodata-1"
        *ngIf="dt?.filteredValue?.length === 0 || accountGroupsList?.length === 0 || !permissions.getAccountGroup">
    </app-no-data-found>
    <form id="ad-acc-group-form-1" [formGroup]="accountGroupForm" (ngSubmit)="submitForm(accountGroupsList)">
        <p-dialog id="ad-acc-group-dia-1" [resizable]="false" [draggable]="false" header="Add Account Group"
            [(visible)]="addAccountGroupDialog" [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true"
            [blockScroll]="true" [modal]="true" [contentStyle]="{overflow: 'visible'}" [closeOnEscape]="true">
            <div class="container" id="ad-acc-group-div-7">
                <div class="row" id="ad-acc-group-div-8">
                    <div class="col-12" id="ad-acc-group-div-9">
                        <span class="p-float-label" id="ad-acc-group-span-4">
                            <p-inputNumber [useGrouping]="false" inputId="integeronly" class="w-100" inputId="groupID"
                                formControlName="accountGroupId" [disabled]="editMode"
                                (onBlur)="checkUniqueId($event, accountGroupsList)" #in></p-inputNumber>
                            <label for="groupID" id="ad-acc-group-label-2">
                                Group ID
                                <span id="ad-acc-group-span-5" class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors id="ad-acc-group-form-error-1" class="text-danger"
                            [control]="accountGroupForm.controls.accountGroupId"></app-forms-errors>
                        <div id="ad-acc-group-div-11" class="err text-danger" *ngIf="!isIdUnique">
                            This group id is already exists
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="ad-acc-group-div-12">
                    <div class="col-12" id="ad-acc-group-div-13">
                        <span class="p-float-label" id="ad-acc-group-span-6">
                            <input type="text" pInputText id="groupDesc"
                                (blur)="checkUniqueDesc($event, accountGroupsList)"
                                formControlName="accountGroupDescription" />
                            <label for="groupDesc" id="ad-acc-group-input-3">
                                Group Description
                                <span id="ad-acc-group-span-7" class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors id="ad-acc-group-form-error-2" class="text-danger"
                            [control]="accountGroupForm.controls.accountGroupDescription"></app-forms-errors>
                        <div class="err text-danger" *ngIf="!isDescUnique" id="ad-acc-group-div-14">
                            This group description is already exists
                        </div>
                    </div>
                </div>
            </div>
            <p-footer id="ad-acc-group-footer-1">
                <button type="button" id="ad-acc-group-btn-4" (click)="cancel()" class="btn-grey btn">Cancel</button>
                <button id="ad-acc-group-btn-5" type="submit" class="btn-red btn"
                    [disabled]="!accountGroupForm.valid || !isIdUnique || !isDescUnique">
                    Save
                </button>
            </p-footer>
        </p-dialog>
    </form>
</div>
<ngx-loading id="ad-acc-group-loading-1" [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}">
</ngx-loading>
<p-confirmDialog id="ad-acc-group-cofirm-1" header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>