<div class="err" *ngIf="control && (findSubscriber ? true : control.touched) && control.errors">
    <div id="validationErrorRequired" *ngIf="control.errors.required">*Required</div>
    <div id="validationErrorMaximum" *ngIf="control.errors.maxlength">
        *Maximum length {{ control.errors.maxlength.requiredLength }} characters
    </div>
    <div id="validationErrorMinimum" *ngIf="control.errors.minlength">
        *Minimum length {{ control.errors.minlength.requiredLength }} characters
    </div>
    <div id="validationError1" *ngIf="control.errors.min">
        *You cannot add values below {{ control.errors.min.min }}
    </div>

    <div id="validationError2" *ngIf="control.errors.email || control.errors.pattern?.requiredPattern == emailRegex">
        *Invalid email format
    </div>
    <!-- for msisdn validation -->
    <div id="validationError3" *ngIf="control.errors.pattern?.requiredPattern == msisdnRegex">
        *Invalid Subscriber number
    </div>
    <div id="validationError3" *ngIf="control.errors.pattern?.requiredPattern == validMobileNumberRegex">
        *Invalid Number Pattern
    </div>
    <div id="validationError4" *ngIf="control.errors.pattern?.requiredPattern == passwordRegex">
        *Password should contain capital letters, small letters, numbers, and special characters
    </div>
    <div id="validationError5" *ngIf="control.errors.pattern?.requiredPattern == numericalRegex">*Digits Only</div>
    <div id="validationError6" *ngIf="control.errors.pattern?.requiredPattern == whiteSpaceRegex">*Invalid Field</div>
    <div id="validationError7" *ngIf="control.errors.pattern?.requiredPattern == alphaRegex">*Letters only</div>
    <div id="validationError8" *ngIf="control.errors.unmatchedPasswords">
        *New password and retyped password do not match.
    </div>
    <!-- for ngbDatePicker component -->
    <div id="validationError9" *ngIf="control.errors.ngbDate?.invalid">*Invalid Date</div>
    <div id="validationError10" *ngIf="control.errors.ngbDate?.minDate">*choose an upcoming date</div>

    <!-- for credit card validation -->
    <div id="validationError11" *ngIf="!control.errors.luhnCheck && control.errors.hasOwnProperty('luhnCheck')">
        *Invalid Credit Card number
    </div>

    <!-- similiraity -->
    <!-- <div *ngIf="control.value === control2.value">*Two Values should be different</div> -->
</div>
