<div class="page-container" id="pam-div-1">
    <div class="row mb-2">
        <div class="col-6">
            <div class="page-title">PAM Adminstration</div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="pam-btn-1" type="button" *ngIf="permissions.addPam" pButton pRipple icon="pi pi-plus"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Add User" tooltipPosition="bottom"
                    (click)="toggleAddDialog()" [ngClass]="selectedPamTypeId ? 'valid-opacity' : ''"
                    [disabled]="!selectedPamTypeId"></button>
                <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Search" tooltipPosition="bottom"
                    (click)="search=!search" [ngClass]="{'search-active' : search}"></button>
                <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                    icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                    pTooltip="Clear filter"></button>
            </div>
        </div>
    </div>
    <p-table id="pam-table-1" [value]="tablePams"
        [paginator]="dt?.filteredValue?.length !== 0 && permissions.getAllPams && tablePams?.length > 0 ? true : false"
        [rows]="5" dataKey="id" responsiveLayout="scroll" class="mt-3" [rowHover]="true" #dt
        [globalFilterFields]="['id', 'description']" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]">
        <ng-template pTemplate="caption" class="border-0">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <span class="p-float-label">
                                <p-dropdown [options]="pamTypes$ | async" [(ngModel)]="selectedPamTypeId"
                                    optionLabel="type" optionValue="typeId" (onChange)="onChange()"
                                    class="full-width-dropdown" inputId="pamType" id="pamType"
                                    [autoDisplayFirst]="false" [filter]="true" filterBy="type"></p-dropdown>
                                <label for="pamType" id="pam-label-2">Select Pam Type</label>
                            </span>
                        </div>
                        <div class="col-lg-9 col-6">
                            <div class="row justify-content-end">
                                <div class="col-lg-4 col-6  hide-search"
                                    *ngIf="permissions.getAllPams && tablePams?.length > 0"
                                    [ngClass]="{'show-search':search}">
                                    <span class="p-float-label">
                                        <input pInputText type="text" #input [(ngModel)]="searchText"
                                            (input)="dt.filterGlobal(input.value, 'contains')" id="search" />
                                        <label for="search" id="pam-label-1">
                                            <i class="pi pi-search"></i>
                                            Global Search
                                        </label>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr *ngIf="permissions.getAllPams && tablePams?.length > 0">
                <th pSortableColumn="id">
                    <div class="d-flex">
                        PAM ID
                        <p-sortIcon field="id"></p-sortIcon>
                        <p-columnFilter type="text" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="description">
                    <div class="d-flex">
                        PAM Description
                        <p-sortIcon field="description"></p-sortIcon>
                        <p-columnFilter type="text" field="description" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th *ngIf="permissions.updatePam || permissions.getPam || permissions.deletePam">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pam>
            <tr>
                <td>{{ pam.id }}</td>
                <td>{{ pam.description }}</td>
                <td>
                    <span *ngIf="permissions.updatePam || permissions.getPam" class="icon-circle"
                        (click)="toggleEditDialog(pam)">
                        <i class="pi pi-pencil heading-13 color-light-grey"></i>
                    </span>
                    <span *ngIf="permissions.deletePam" class="icon-circle ms-1"
                        (click)="confirm(pam.id, pam.pamTypeId)">
                        <i class="pi pi-trash color-light-grey"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found id="pam-nodata-1"
        *ngIf="dt?.filteredValue?.length === 0 || !permissions.getAllPams || tablePams?.length === 0">
    </app-no-data-found>
</div>

<p-dialog id="pam-dia-1" [resizable]="false" [draggable]="false" header="Add PAM" [(visible)]="addDialog"
    [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true" [blockScroll]="true" [modal]="true"
    class="edit-admin-account-dialog" [closeOnEscape]="true" (onShow)="onOpenDialog()">
    <form name="addPamForm" [formGroup]="addPamForm" class="container" id="pam-form-1">
        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label">
                    <p-inputNumber inputId="id" id="id" #idInput class="w-100" formControlName="id"
                        [useGrouping]="false"></p-inputNumber>
                    <label for="id" id="pam-label-3">
                        ID
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <div id="pam-err-1" class="err text-danger"
                    *ngIf="addPamForm.controls.id.touched && !addPamForm.controls.id.value">
                    *Required
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label">
                    <input type="text" id="description" pInputText formControlName="description" />
                    <label for="description" id="pam-err-1">
                        Description
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors id="pam-err-1" class="text-danger" [control]="addPamForm.controls.description">
                </app-forms-errors>
            </div>
        </div>
    </form>

    <p-footer>
        <button type="button" (click)="addDialog = false" class="btn-grey btn">Cancel</button>

        <button type="button" (click)="addPam()" class="btn-red btn"
            [ngClass]="!addPamForm.valid ? 'valid-opacity' : ''" [disabled]="!addPamForm.valid">
            Save
        </button>
    </p-footer>
</p-dialog>

<p-dialog [resizable]="false" [draggable]="false" header="Edit PAM" [(visible)]="editDialog" [style]="{width: '40vw'}"
    [baseZIndex]="10000" [dismissableMask]="true" [blockScroll]="true" [modal]="true" class="edit-admin-account-dialog"
    [closeOnEscape]="true" (onShow)="onOpenDialog()">
    <form name="editPamForm" [formGroup]="editPamForm" class="container">
        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label">
                    <p-inputNumber [disabled]="true" inputId="editID" id="editID" class="w-100" formControlName="id"
                        inputId="editID"></p-inputNumber>
                    <label for="editID" id="pam-label-5">
                        ID
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <div class="err text-danger" *ngIf="editPamForm.controls.id.touched && !editPamForm.controls.id.value">
                    *Required
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="description" id="editDesc" />
                    <label for="editDesc" id="pam-label-6">
                        Description
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors id="pam-err-2" class="text-danger" [control]="editPamForm.controls.description">
                </app-forms-errors>
            </div>
        </div>
    </form>

    <p-footer>
        <button type="button" id="pam-btn-4" (click)="editDialog = false" class="btn-grey btn">Cancel</button>

        <button type="button" id="pam-btn-3" (click)="updatePam()" class="btn-red btn"
            [ngClass]="!editPamForm.valid ? 'valid-opacity' : ''" [disabled]="!editPamForm.valid">
            Save
        </button>
    </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>