<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="basePath">./logs</Property>
		<Property name="baseFilename">usage-simulator</Property>
	</Properties>
	<Appenders>

		<RollingFile name="businessFileAppender" fileName="${basePath}/${baseFilename}_business.log" filePattern="${basePath}/${baseFilename}_business_%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C{1}.%M] %X - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="debugLogger" level="debug" additivity="false">
			<appender-ref ref="businessFileAppender" level="debug"/>
			<appender-ref ref="console" level="debug"/>
		</Logger>
		<Root level="INFO" additivity="false">
			<appender-ref ref="console" level="debug"/>
			<appender-ref ref="businessFileAppender" level="debug"/>
		</Root>
	</Loggers>
</Configuration>
