<div class="page-container" id="add-user-profile-div-1">
    <div class="heading-24 roboto-medium">{{ addView ? 'Add' : 'Edit' }} Profile</div>
    <form [formGroup]="profileForm" (ngSubmit)="submit()" id="add-user-profile-form-1">
        <div class="row mt-3">
            <div class="col-12 col-lg-4">
                <span class="p-float-label">
                    <input
                        [appFocus]="true"
                        type="text"
                        formControlName="name"
                        pInputText
                        [(ngModel)]="addRequestBody.profileName"
                        id="profileName"
                    />
                    <label for="profileName" id="add-user-profile-label-1">
                        Profile Name
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    id="add-user-profile-err-1"
                    class="text-danger"
                    [control]="profileForm.controls.name"
                ></app-forms-errors>
            </div>
            <div class="col-12 col-md-4">
                <span class="p-float-label">
                    <p-inputNumber
                        class="w-100"
                        [(ngModel)]="addRequestBody.sessionLimit"
                        formControlName="sessionLimit"
                        inputId="session"
                        id="session"
                    ></p-inputNumber>
                    <label for="session" id="add-user-profile-label-2">
                        Session Limit
                        <span class="text-danger required-star">*</span>
                    </label>
                </span>
                <app-forms-errors
                    id="add-user-profile-err-2"
                    class="text-danger"
                    [control]="profileForm.controls.sessionLimit"
                ></app-forms-errors>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-start justify-content-center">
                <!--  !profileForm.valid ||  [disabled]="addRequestBody.ccFeatures.length === 0 && addRequestBody.sysFeatures.length === 0"-->
                <button
                    id="add-user-profile-btn-1"
                    class="btn btn-submit-red mt-2"
                    type="submit"
                    [disabled]="
                        !profileForm.valid ||
                        (addRequestBody.ccFeatures.length === 0 && addRequestBody.sysFeatures.length === 0)
                    "
                >
                    Submit
                </button>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col-12 position-relative">
            <ul class="d-flex color-light-grey w-100" id="add-user-profile-ul-1">
                <li id="add-user-profile-li-1" (click)="switchTab('features')" [ngClass]="{active: tab == 'features'}">
                    Features
                </li>
                <li
                    id="add-user-profile-li-2"
                    (click)="switchTab('serviceClasses')"
                    [ngClass]="{active: tab == 'serviceClasses'}"
                >
                    Service Classes
                </li>
                <li id="add-user-profile-li-3" (click)="switchTab('menus')" [ngClass]="{active: tab == 'menus'}">
                    Menu Order
                </li>
                <li id="add-user-profile-li-4" (click)="switchTab('settings')" [ngClass]="{active: tab == 'settings'}">
                    Settings
                </li>
            </ul>
            <div class="tabs-underline"></div>
        </div>
    </div>
    <div [ngSwitch]="tab" class="mt-2">
        <div *ngSwitchCase="'features'" id="add-user-profile-div-3">
            <p-accordion id="add-user-profile-acc-1">
                <p-accordionTab header="CC Features" id="add-user-profile-acc-2">
                    <app-profile-pick-list
                        [sourceType]="1"
                        [target]="addRequestBody.ccFeatures"
                        [sourceHeader]="'Unselected CC Features'"
                        [targetHeader]="'Selected CC Features'"
                        [searchPro]="'name'"
                        [features]="features"
                    ></app-profile-pick-list>
                </p-accordionTab>
                <p-accordionTab header="System Features" id="add-user-profile-acc-3">
                    <app-profile-pick-list
                        [sourceType]="2"
                        [target]="addRequestBody.sysFeatures"
                        [sourceHeader]="'Unselected System Features'"
                        [targetHeader]="'Selected System Features'"
                        [searchPro]="'name'"
                        [features]="features"
                    ></app-profile-pick-list>
                </p-accordionTab>
                <p-accordionTab header="Report Features" id="add-user-profile-acc-4">
                    <app-profile-pick-list
                        [sourceType]="3"
                        [target]="addRequestBody.dssReportsFeatures"
                        [sourceHeader]="'Unselected Report Features'"
                        [targetHeader]="'Selected Report Features'"
                        [searchPro]="'name'"
                        [features]="features"
                    ></app-profile-pick-list>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div *ngSwitchCase="'serviceClasses'" id="add-user-profile-div-4">
            <app-profile-pick-list
                [sourceType]="3"
                [target]="addRequestBody.serviceClasses"
                [sourceHeader]="'Unselected Service Classes'"
                [targetHeader]="'Selected Service Classes'"
                [searchPro]="'name'"
            ></app-profile-pick-list>
        </div>

        <div *ngSwitchCase="'menus'" id="add-user-profile-div-5">
            <p-accordion>
                <p-accordionTab header="CC Order Features" id="add-user-profile-acc-4">
                    <app-menu-order
                        [menus]="addRequestBody.ccFeatures"
                        [header]="'CC feature menus'"
                        (sendOrderdMenu)="setCCOrderedMenu($event)"
                    ></app-menu-order>
                </p-accordionTab>
                <p-accordionTab header="System Order Features" id="add-user-profile-acc-6">
                    <app-menu-order
                        [styleClass]="'mt-4'"
                        [menus]="addRequestBody.sysFeatures"
                        [header]="'System feature menus'"
                        (sendOrderdMenu)="setSysOrderedMenu($event)"
                    ></app-menu-order>
                </p-accordionTab>
                <p-accordionTab header="Report Order Features" id="add-user-profile-acc-7">
                    <app-menu-order
                        [styleClass]="'mt-4'"
                        [menus]="addRequestBody.dssReportsFeatures"
                        [header]="'Report feature menus'"
                        (sendOrderdMenu)="setRepOrderedMenu($event)"
                    ></app-menu-order>
                </p-accordionTab>
            </p-accordion>
        </div>

        <div *ngSwitchCase="'settings'" id="add-user-profile-div-6">
            <app-profile-limits-table
                [addView]="addView"
                [profileTargetLimits]="addRequestBody.monetaryLimits"
            ></app-profile-limits-table>
        </div>
    </div>
</div>
