.data {
    font-weight: 600;
}
textarea {
    resize: none;
}
.error-connectivitiy {
    font-size: 14px;
    font-weight: bold;
    color: #df4759;
}
.success-connectivitiy {
    font-size: 14px;
    font-weight: bold;
    color: #4bb543;
}
.btn-black{
    font-size: 13px !important;
}
.expanded-row {
    background: #80808012;
    border-radius: 10px;
}