<form [formGroup]="marqueeForm" (ngSubmit)="submitForm()" id="esa-marqu-form-for-1">
    <p-dialog
    id="esa-marqu-form-dia-1"
        [resizable]="false"
        [draggable]="false"
        [header]="editMode ? 'Edit Marquee' : 'Add Marquee'"
        [(visible)]="visability"
        [style]="{width: '40vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        [contentStyle]="{overflow: 'visible'}"
        class="edit-admin-account-dialog"
        (onHide)="hideDialog()"
        [closeOnEscape]="true"
    >
        <div class="container" id="esa-marqu-form-div-1">
            <div class="row" id="esa-marqu-form-for-2">
                <div class="col-12" id="esa-marqu-form-for-3">
                    <span class="p-float-label" id="esa-marqu-form-span-1">
                        <input type="text" formControlName="title" pInputText id="title" />
                        <label for="title" id="esa-marqu-form-label-1">
                            Title
                            <span class="text-danger required-star" id="esa-marqu-form-span-2">*</span>
                        </label>
                    </span>
                    <app-forms-errors id="esa-marqu-form-err-1" class="text-danger" [control]="marqueeForm.controls.title"></app-forms-errors>
                </div>
                <div class="col-12 mt-3" id="esa-marqu-form-for-4">
                    <span class="p-float-label" id="esa-marqu-form-span-3">
                        <input type="text" pInputText formControlName="description" id="desc" />
                        <label for="desc" id="esa-marqu-form-label-2">
                            Description
                            <span class="text-danger required-star" id="esa-marqu-form-span-4">*</span>
                        </label>
                    </span>
                    <app-forms-errors
                        class="text-danger"
                        [control]="marqueeForm.controls.description"
                        id="esa-marqu-form-err-2"
                    ></app-forms-errors>
                </div>
            </div>
        </div>
        <p-footer id="esa-marqu-form-footer-1">
            <button id="esa-marqu-form-btn-1" type="button" (click)="hideDialog()" class="btn-grey btn">Cancel</button>
            <button id="esa-marqu-form-btn-2" type="submit" class="btn-red btn" [disabled]="!marqueeForm.valid">Save</button>
        </p-footer>
    </p-dialog>
</form>
