/*colors variables*/
$black: #000000;
$white: #ffffff;
$lightGrey: #929292;
$darkGrey: #464646;
$red: #ed1b2e;
$green: #1c9e0b;

/*colors classes*/

.color {
    &-green {
        color: $green;
    }
    &-black {
        color: $black;
    }
    &-white {
        color: $white;
    }
    &-red {
        color: $red;
    }
    &-light-grey {
        color: $lightGrey;
    }
    &-dark-grey {
        color: $darkGrey;
    }
    &-transparent{
        color: transparent; 
    }
}
