<div class="row mb-2">
    <div class="col-6">
        <div class="heading-24 roboto-medium" id="extr-profile-div-3">Profile Users</div>
    </div>
    <div class="col-6" *ngIf="tableUsers?.length > 0">
        <div class="d-flex justify-content-end">
            <button type="button" id="extr-profile-btn-1" *ngIf="permissions.extractUsersProfiles" pButton pRipple
                icon="pi pi-download" class="p-mr-2 me-2 btn btn-black" (click)="exportProfilesUsers()"></button>
            <button id="user-access-btn-4" type="button" pButton pRipple icon="pi pi-search"
                class="p-mr-2 me-2 btn btn-black" pTooltip="Search" tooltipPosition="bottom" (click)="search=!search"
                [ngClass]="{'search-active' : search}"></button>
            <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                pTooltip="Clear filter"></button>
        </div>
    </div>
</div>
<div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
    <div class="col-lg-4 offset-lg-8">
        <span class="p-float-label" *ngIf="tableUsers?.length > 0">
            <input pInputText type="text" #input (input)="onSearchInput(input.value)" [(ngModel)]="searchText"
                id="search" />
            <label for="search" id="user-access-label-1">
                <i class="pi pi-search"></i>
                Global Search
            </label>
        </span>
    </div>
    <div class="col-12 col-lg-8 mt-3 mt-lg-0 d-flex justify-content-end"></div>
</div>

<p-table [value]="tableUsers" [rowHover]="true"
    [paginator]="dt?.filteredValue?.length !== 0 && tableUsers?.length > 0 ? true : false" [rows]="5"
    dataKey="profileId" responsiveLayout="scroll" class="mt-3" #dt [globalFilterFields]="['username']"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]" id="extr-profile-table-1">

    <ng-template pTemplate="header" id="extr-profile-temp-2">
        <tr *ngIf="tableUsers?.length > 0" id="extr-profile-tr-1">
            <th pSortableColumn="userID" id="extr-profile-th-1">
                <div class="d-flex" id="extr-profile-div-13">
                    User ID
                    <p-sortIcon field="userID" id="extr-profile-sort-1"></p-sortIcon>
                    <p-columnFilter type="text" field="userID" display="menu" class="p-ml-auto"
                        id="extr-profile-filter-1"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="username" id="extr-profile-th-2">
                <div class="d-flex" id="extr-profile-div-14">
                    Username
                    <p-sortIcon field="username" id="extr-profile-sort-2"></p-sortIcon>
                    <p-columnFilter type="text" field="username" display="menu" class="p-ml-auto"
                        id="extr-profile-filter-2"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="creationDate" id="extr-profile-th-3">
                <div class="d-flex" id="extr-profile-div-15">
                    Creation Date
                    <p-sortIcon field="creationDate" id="extr-profile-sort-3"></p-sortIcon>
                    <p-columnFilter id="extr-profile-filter-3" type="text" field="creationDate" display="menu"
                        class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="modificationDate" id="extr-profile-th-4">
                <div class="d-flex" id="extr-profile-div-16">
                    Update Date
                    <p-sortIcon field="modificationDate" id="extr-profile-sort-4"></p-sortIcon>
                    <p-columnFilter id="extr-profile-filter-4" type="text" field="modificationDate" display="menu"
                        class="p-ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="lastLogin" id="extr-profile-th-5">
                <div class="d-flex" id="extr-profile-div-17">
                    Last Login
                    <p-sortIcon field="lastLogin" id="extr-profile-sort-5"></p-sortIcon>
                    <p-columnFilter type="text" field="lastLogin" display="menu" class="p-ml-auto"
                        id="extr-profile-filter-5"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="source" id="extr-profile-th-6">
                <div class="d-flex" id="extr-profile-div-18">
                    Source
                    <p-sortIcon field="source" id="extr-profile-sort-6"></p-sortIcon>
                    <p-columnFilter type="text" field="source" display="menu" class="p-ml-auto"
                        id="extr-profile-filter-6"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profile id="extr-profile-temp-3">
        <tr id="extr-profile-tr-2">
            <td id="extr-profile-td-1">{{ profile.userId || '-' }}</td>
            <td id="extr-profile-td-2">{{ profile.username || '-' }}</td>
            <td id="extr-profile-td-3">{{ (profile.creationDate | timestamp) || '-' }}</td>
            <td id="extr-profile-td-4">{{ (profile.modificationDate | timestamp) || '-' }}</td>
            <td id="extr-profile-td-5">{{ profile.lastLogin || '-' }}</td>
            <td id="extr-profile-td-6">{{ profile.source || '-' }}</td>
        </tr>
    </ng-template>
</p-table>
<app-no-data-found id="extr-profile-nodata-1" *ngIf="dt?.filteredValue?.length === 0 || tableUsers?.length === 0">
</app-no-data-found>

<ngx-loading id="extr-profile-loading-1" [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}">
</ngx-loading>
<ngx-loading id="extr-profile-loading-2" [show]="loadingProfileFeatures$ | async"
    [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<div class="fetching-img" *ngIf="isFetchingList$ |async">
    <img src="./../../../../../assets/images/getData.png">
    <h3>Loading ...</h3>
</div>