<div class="row" id="tran-links-div-1">
    <div class="col-12 col-lg-4 col-md-4">
        <span class="p-float-label">
            <p-dropdown id="transactionType" class="full-width-dropdown" [options]="transactionTypes$ | async"
                optionLabel="name" optionValue="id" [(ngModel)]="selectedTypeID" (onChange)="onSelectTransactionType()"
                [filter]="true" filterBy="name" inputId="transactionType" [autoDisplayFirst]="false"></p-dropdown>
            <label for="transactionType" id="tran-links-label-1">Transaction Types</label>
        </span>
    </div>
    <div class="col-12 col-lg-4 col-md-4">
        <span class="p-float-label">
            <p-dropdown id="transactionCode" class="full-width-dropdown" [options]="transactionCodes$ | async"
                optionLabel="name" optionValue="id" [(ngModel)]="selectedCodeID" (onChange)="onSelectTransactionCode()"
                [filter]="true" filterBy="name" [disabled]="!selectedTypeID" inputId="transactionCode"
                [autoDisplayFirst]="false"></p-dropdown>
            <label for="transactionCode" id="tran-links-label-2">Transaction Codes</label>
        </span>
    </div>
    <div id="tran-links-div-2" class="col-12 col-md-4 text-center" *ngIf="selectedTypeID && selectedCodeID">
        <button id="tran-links-btn-1" class="btn btn-submit-red" (click)="linkOrUnlinkTransaction()">
            {{ unLinkMode ? 'Unlink' : 'Link' }}
        </button>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <span class="p-float-label">
            <input type="text" pInputText id="desc" />
            <label for="desc" id="tran-links-label-3">Description</label>
        </span>
    </div>
</div>
<p-table id="tran-links-table-1" [value]="linkedCodesTable" [rowHover]="true"
    [paginator]="linkedCodesTable?.length > 0 " [rows]="5" dataKey="id" responsiveLayout="scroll" class="mt-4"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]">
    <ng-template pTemplate="caption" class="border-0">
        <div class="p-d-flex d-flex justify-content-between mt-2">
            <span class="p-float-label w-25">
                <input type="text" pInputText [(ngModel)]="filterSearch" (input)="filterTable()" id="search" />
                <label for="search" id="tran-links-label-5">Search by name</label>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <!-- <tr>
            <td [attr.colspan]="!columns" class="text-center text-bold">No results found</td>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">
                Current Links
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>
                Unlink
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-code>
        <tr>
            <td>{{ code.name }}</td>
            <td>
                <span class="icon-circle ms-1"
                    (click)="unlink(code)">
                    <i class="pi pi-trash cursor-pointer"></i>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-no-data-found id="user-access-nodata-1" *ngIf="!linkedCodesTable">
</app-no-data-found>
<ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>