<button (click)="reset()" class="btn white me-2" title="Reset" id="navigator-reset">
    <i class="pi pi-undo" style="transform: scaleX(-1)"></i>
</button>
<button (click)="search()" class="btn white me-2" id="navigator-search">
    <i class="pi pi-search" title="Search"></i>
</button>
<button (click)="refresh()" class="btn white me-2" id="navigator-referesh">
    <i class="pi pi-sync" title="Referesh"></i>
</button>
<ngx-smart-modal class="msisdn-modal" #myModal identifier="myModal">
    <app-msisdn-search-popup></app-msisdn-search-popup>
</ngx-smart-modal>