<div class="left d-flex" id="header-1">
    <app-navigator id="header-navigator" *ngIf="subscriber$ | async as subscriber"></app-navigator>
    <span class="d-xl-flex d-none align-items-center ms-3 mt-1" id="header-2">
        <app-text-carousel [dataStrings]="allMarquess" id="header-carousel"></app-text-carousel>
    </span>
</div>
<div class="right">
    
    <app-date-time id="header-date-time"></app-date-time>
    <div class="me-3 mt-2"><p-badge [value]="'v1.2'" severity="danger" styleClass="version"></p-badge></div>
    <div
        class="notification mt-1"
        (click)="notificationMenuCollapse = !notificationMenuCollapse; notificationMenu.toggle($event)"
        id="header-toggle-button"
    >
        <p-dialog
            [resizable]="false"
            [draggable]="false"
            header="Notification"
            closeIcon="pi pi-times"
            (onHide)="notificationShowPopup = false"
            (onShow)="notificationMenu.toggle($event)"
            [modal]="true"
            [style]="{width: '40vw'}"
            *ngIf="notificationShowPopup"
            [(visible)]="notificationShowPopup"
            [dismissableMask]="true"
            class="edit-admin-account-dialog"
            [baseZIndex]="10000"
            [closable]="true"
            [closeOnEscape]="true"
            id="header-dialog"
        >
            <!-- <div class="row">hello</div> -->
            <p class="color-red modal-title" id="header-modal-title">{{ selectedNotification.title }}</p>
            <p id="header-modal-description">{{ selectedNotification.description }}</p>
            <p-footer id="modal-footer">
                <button
                    type="button"
                    id="modal-cancel-button"
                    (click)="notificationShowPopup = false"
                    class="btn-red btn"
                >
                    Cancel
                </button>
            </p-footer>
        </p-dialog>
        <div class="badge-parent" id="modal-badge">
            <fa-icon [icon]="faBullhorn" size="2x" id="modal-icon-badge" class="notification-img"></fa-icon>
            <div class="custom-badge" id="custom-badge">1</div>
        </div>

        <p-menu
            #notificationMenu
            [popup]="true"
            [model]="notificationsItems"
            separator="true"
            styleClass="menu-width"
            id="notification-items"
        ></p-menu>
    </div>

    <div *ngIf="session$ | async as session" class="user" id="user">
        <div
            class="avatar"
            (click)="isDropDownCollapsed = !isDropDownCollapsed; menu.toggle($event)"
            id="user-dropdown"
        >
            <img src="./assets/images/Oval.png" id="avatar" />
        </div>

        <p-menu #menu [popup]="true" [model]="items" id="header-menu"></p-menu>
        <!-- <div class="dropdown" *ngIf="isDropDownCollapsed">
            <ul>
                <li>home</li>
                <li (click)="logout()">logout</li>
            </ul>
        </div> -->
        <div class="name">
            <div class="first" id="first-name">{{ session.user.ntAccount }}</div>
            <div class="title" id="profile-name">{{ session.userProfile.profileName }}</div>
        </div>
        <div></div>
    </div>
</div>
