<div class="page-container" id="user-access-div-1">
    <div class="row mb-2">
        <div class="col-6">
            <div class="heading-24 roboto-medium">User Access</div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <button id="user-access-btn-1" type="button" *ngIf="permissions.addUser" pButton pRipple
                    icon="pi pi-plus" (click)="ShowAddUserDialog()" class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Add User" tooltipPosition="bottom"></button>
                <button id="user-access-btn-2" type="button" *ngIf="permissions.uploadUser" pButton pRipple
                    icon="pi pi-upload" (click)="ShowUploadSheetDialog()" class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Upload Sheet" tooltipPosition="bottom"></button>
                <button id="user-access-btn-3" type="button" pButton pRipple icon="pi pi-download"
                    (click)="exportSelectedExcel()" *ngIf="selectedUsers.length > 0 && permissions.exportUsers"
                    class="p-mr-2 me-2 btn btn-black" pTooltip="Export Selected" tooltipPosition="bottom"></button>
                <button id="user-access-btn-4" type="button" *ngIf="permissions.exportUsers" pButton pRipple
                    icon="pi pi-download" (click)="exportExcel()" class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Export All" tooltipPosition="bottom"></button>
                <button id="user-access-btn-4" type="button" *ngIf="permissions.exportUsers" pButton pRipple
                    icon="pi pi-search" class="p-mr-2 me-2 btn btn-black" pTooltip="Search" tooltipPosition="bottom"
                    (click)="search=!search" [ngClass]="{'search-active' : search}"></button>
                <button pButton [disabled]="!dt.filteredValue" class="btn p-button-outlined p-mr-2 me-2"
                    icon="pi pi-refresh" (click)="clear(dt)" *ngIf="dt.filteredValue" id="notepad-6"
                    pTooltip="Clear filter"></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label" *ngIf="permissions.getAllUsers">
                <input [(ngModel)]="searchText" pInputText type="text" #input
                    (input)="dt.filterGlobal(input.value, 'contains')" id="search" />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
    </div>

    <p-table id="user-access-tabel-1" [value]="tableUsers"
        [paginator]="dt?.filteredValue?.length !== 0 && permissions.getAllUsers ? true : false" [rows]="5"
        [(selection)]="selectedUsers" dataKey="userId" responsiveLayout="scroll" class="mt-3" #dt
        [globalFilterFields]="['userId', 'ntAccount', 'profileName']" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [autoLayout]="true">
        <ng-template pTemplate="header">
            <tr *ngIf="tableUsers?.length > 0 ">
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="userId">
                    <div class="d-flex">
                        User ID
                        <p-sortIcon field="userId"></p-sortIcon>
                        <p-columnFilter type="text" field="userId" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="ntAccount">
                    <div class="d-flex">
                        User Name
                        <p-sortIcon field="ntAccount"></p-sortIcon>
                        <p-columnFilter type="text" field="ntAccount" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="profileName">
                    <div class="d-flex">
                        Profile Name
                        <p-sortIcon field="profileName"></p-sortIcon>
                        <p-columnFilter type="text" field="profileName" display="menu" class="p-ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th *ngIf="permissions.updateUser || permissions.deleteUser">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>{{ user.userId }}</td>
                <td>{{ user.ntAccount }}</td>
                <td>{{ user.profileName }}</td>
                <td class="min-wid">
                    <span class="icon-circle" (click)="ShowUpdateUserDialog(user.userId)"
                        *ngIf="permissions.updateUser">
                        <i class="pi pi-pencil heading-13 color-light-grey"></i>
                    </span>
                    <span class="icon-circle ms-1" (click)="confirm(user.userId)" *ngIf="permissions.deleteUser">
                        <i class="pi pi-trash cursor-pointer"></i>
                    </span>
                </td>
                <td *ngIf="!permissions.updateUser">
                    <span class="icon-circle" (click)="ShowUpdateUserDialog(user.userId)">
                        <i class="pi pi-eye heading-13 color-light-grey"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found id="user-access-nodata-1" *ngIf="dt?.filteredValue?.length === 0 || !permissions.getAllUsers">
    </app-no-data-found>
</div>
<p-dialog id="user-access-dialog-1" [resizable]="false" [draggable]="false" header="Update User"
    [(visible)]="updateUserDialog" [style]="{width: '50vw'}" [baseZIndex]="10000" [dismissableMask]="true"
    [blockScroll]="true" [modal]="true" class="edit-admin-account-dialog" [closeOnEscape]="true" (onShow)="focusEdit()">
    <form name="updateUserForm" [formGroup]="updateUserForm" id="user-access-form-1">
        <div class="container" *ngIf="userAccess$ | async as user">
            <div class="row py-2">
                <div class="col-12 col-md-6">
                    <span class="p-float-label">
                        <input type="text" [disabled]="!permissions.updateUser" pInputText formControlName="ntAccount"
                            id="usernameEdit" #inpEdit />
                        <label for="usernameEdit" id="user-access-flabel-1">
                            Username
                            <span class="text-danger required-star">*</span>
                        </label>
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <span class="p-float-label">
                        <p-dropdown placeholder="Add profile" [options]="allProfiles$ | async" optionLabel="profileName"
                            [disabled]="!permissions.updateUser" optionValue="profileId" class="full-width-dropdown"
                            formControlName="profileId" inputId="profileEdit" id="profileEdit" filterBy="profileName"
                            [filter]="true"></p-dropdown>
                        <label for="profileEdit" id="user-access-flabel-2">
                            Profile
                            <span class="text-danger required-star">*</span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 roboto-medium heading-20 px-0">Daily Totals</div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">Rebate Total: {{ selectedUpdatedUser.rebateLimit || 0 }}</div>
                <div class="col-12 col-md-6">
                    <p-checkbox id="user-access-check-1" formControlName="resetRebateLimit"
                        [disabled]="!permissions.updateUser" [binary]="true"></p-checkbox>
                    <label class="switch-label mb-0 ms-2" id="user-access-flabel-3">Reset Rebate Total</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">Debit Total:{{ selectedUpdatedUser.debitLimit || 0 }}</div>
                <div class="col-12 col-md-6">
                    <p-checkbox id="user-access-check-2" formControlName="resetDebitLimit"
                        [disabled]="!permissions.updateUser" [binary]="true"></p-checkbox>
                    <label class="switch-label mb-0 ms-2" id="user-access-flabel-4">Reset Debit Total</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6" id="user-access-div-3">
                    Session Limit: {{ selectedUpdatedUser.sessionCounter || 0 }}
                </div>
                <div class="col-12 col-md-6">
                    <p-checkbox id="user-access-check-3" formControlName="resetSessionCounter"
                        [disabled]="!permissions.updateUser" [binary]="true"></p-checkbox>
                    <label id="user-access-flabel-5" class="switch-label mb-0 ms-2">Reset Session Limit</label>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button id="user-access-fbtn-1" type="button" (click)="updateUserDialog = false" class="btn-grey btn">
            Cancel
        </button>

        <button id="user-access-fbtn-2" type="button" class="btn-red btn" (click)="updateUser()">Save</button>
    </p-footer>
</p-dialog>
<p-dialog id="user-access-dia-2" [resizable]="false" [draggable]="false" [contentStyle]="{overflow: 'visible'}"
    header="Add New User" [(visible)]="addUserDialog" [style]="{width: '40vw'}" [baseZIndex]="10000"
    [dismissableMask]="true" [blockScroll]="true" [modal]="true" class="edit-admin-account-dialog short-dropdown"
    [closeOnEscape]="true" (onShow)="focusAdd()">
    <form name="addUserForm" [formGroup]="addUserForm" id="user-access-form-">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span class="p-float-label">
                        <input id="username" type="text" pInputText formControlName="ntAccount" #inpAdd />
                        <label for="username" id="user-access-flabel-6">
                            User Name
                            <span class="text-danger required-star">*</span>
                        </label>
                    </span>
                    <app-forms-errors id="user-access-err-5" class="text-danger"
                        [control]="addUserForm.controls.ntAccount"></app-forms-errors>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="allProfiles$ | async" optionLabel="profileName" optionValue="profileId"
                            class="full-width-dropdown" formControlName="profileId" [required]="true"
                            (onFocus)="onFocus()" inputId="profile" id="profile" [(ngModel)]="profile"
                            [autoDisplayFirst]="false" [filter]="true" filterBy="profileName"></p-dropdown>
                        <label for="profile" id="user-access-flabel-7">
                            Profile
                            <span class="text-danger required-star">*</span>
                        </label>
                    </span>
                    <app-forms-errors id="user-access-err-6" class="text-danger"
                        [control]="addUserForm.controls.profileId"></app-forms-errors>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button id="user-access-fbtn-3" type="button" (click)="addUserDialog = false" class="btn-grey btn">
            Cancel
        </button>

        <button id="user-access-fbtn-4" type="button" class="btn-red btn" (click)="addUser()"
            [ngClass]="!addUserForm.valid ? 'valid-opacity' : ''" [disabled]="!addUserForm.valid">
            Save
        </button>
    </p-footer>
</p-dialog>

<p-dialog id="user-access-dia-3" [resizable]="false" [draggable]="false" header="Upload Sheet"
    [(visible)]="uploadSheetDialog" [style]="{width: '40vw'}" [baseZIndex]="10000" [dismissableMask]="true"
    [blockScroll]="true" [modal]="true" class="edit-admin-account-dialog" [closeOnEscape]="true">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <p-radioButton id="user-access-rad-1" name="uploadState" value="1" [(ngModel)]="uploadState"
                            inputId="add" styleClass="me-2"></p-radioButton>
                        <label id="user-access-dialabel-1" for="add">Add/Update Users</label>
                    </div>
                    <div class="col-12">
                        <p-radioButton id="user-access-rad-2" name="uploadState" value="2" [(ngModel)]="uploadState"
                            inputId="delete" styleClass="me-2" id="user-access-rad-2"></p-radioButton>
                        <label id="user-access-dialabel-2" for="delete">Delete Users</label>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 text-end">
                <span class="btn-black p-button">
                    <!-- /\./assets/files/batchInstallation.txt  -->
                    <a style="color: #000" id="user-access-lin-1" [href]="
                            uploadState === '1' ? './assets/files/add-users.xlsx' : './assets/files/delete-users.xlsx'
                        " [download]="uploadState === '1' ? 'add-users.xlsx' : 'delete-users.xlsx'">
                        Download template
                        <i class="pi pi-download ms-2"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p-fileUpload #file id="user-access-file-1" [showCancelButton]="false" [customUpload]="true"
                    name="demo[]" accept=".xlsx,.xls" (uploadHandler)="onUpload($event, file)" chooseLabel="Browse">
                </p-fileUpload>
            </div>
        </div>
    </div>

    <p-footer>
        <button id="user-access-foobtn-1" type="button" (click)="uploadSheetDialog = false" class="btn-grey btn">
            Cancel
        </button>
    </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red" acceptIcon="" rejectIcon=""></p-confirmDialog>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<ngx-loading [show]="fileuploadLoading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>