<div [class]="'page-container account-history ' + classNameCon" *ngIf="GET_ALL_ACCOUNT_HISTORY">
    <div class="mb-3">
        <div class="heading-24 roboto-medium" id="account-history-title">Account History</div>
        <div class="text-end">
            <button
                type="button"
                pButton
                pRipple
                icon="pi pi-download"
                label="Export Subscriber Activities"
                class="p-mr-2 me-2 btn btn-black"
                pTooltip="Export Subscriber Activities"
                tooltipPosition="bottom"
                (click)="exportSubscriberActivities()"
                id="accountHistory-form-5"
            ></button>
            <button
                type="button"
                pButton
                pRipple
                icon="pi pi-download"
                class="p-mr-2 me-2 btn btn-black"
                pTooltip="Export Subscriber Activity details"
                tooltipPosition="bottom"
                label="Export Subscriber Activities Details"
                (click)="exportSubscriberActivityDetails()"
                id="accountHistory-form-6"
            ></button>
            <button
                pButton
                class="btn p-button-outlined p-mr-2 me-2"
                icon="pi pi-refresh"
                (click)="resetHistory()"
                id="notepad-6"
                pTooltip="Clear filter"
                label="Clear filter"
            ></button>
        </div>
    </div>
    <form [formGroup]="accountHistoryForm" (ngSubmit)="getAllDate()" id="accountHistoryForm">
        <div class="dates row mb-2">
            <div class="col-12 d-flex">
                <div class="item col-12 d-flex">
                    <!-- <span class="text-danger required-star">*</span> -->
                    <div class="p-field ms-2">
                        <span class="p-float-label">
                            <p-calendar
                                #startDate
                                formControlName="dateFrom"
                                [showIcon]="true"
                                inputId="icon"
                                id="accountHistory-form-1"
                                (onSelect)="onDateSelect($event, 'dateFrom')"
                            ></p-calendar>
                            <label for="fromDate">
                                Date From
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                    </div>
                    <div class="p-field ms-2">
                        <span class="p-float-label">
                            <p-calendar
                                [minDate]="startDate.value"
                                formControlName="dateTo"
                                [showIcon]="true"
                                inputId="icon"
                                id="accountHistory-form-2"
                                (onSelect)="onDateSelect($event, 'dateTo')"
                            ></p-calendar>
                            <label for="fromDate">
                                Date To
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                    </div>
                    <button
                        [disabled]="!accountHistoryForm.valid"
                        class="p-mr-2 ms-2 btn btn-submit-red align-text-top"
                        id="accountHistory-form-3"
                    >
                        View
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div>
        <p-table
            #table
            [value]="allAccountHistory"
            [autoLayout]="true"
            scrollHeight="500px"
            responsiveLayout="scroll"
            (onRowSelect)="onRowSelect($event)"
            [paginator]="table?.filteredValue?.length !== 0 && allAccountHistory?.length > 0 ? true : false"
            [rows]="rowsDisplayed"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            sortMode="single"
            (onLazyLoad)="filterAction($event)"
            [totalRecords]="totalRecords"
            [lazyLoadOnInit]="false"
            [lazy]="true"
            id="accountHistory-form-4"
            class="no-flex-table"
            selectionMode="single"
        >
            <ng-template pTemplate="header">
                <tr *ngIf="table?.filteredValue?.length !== 0 && allAccountHistory?.length > 0">
                    <th
                        *ngFor="let column of accountColumns"
                        [pSortableColumn]="column.headerName"
                        style="min-width: 150px"
                    >
                        <span class="d-flex align-items-center">
                            <span>{{ column.displayName }}</span>
                            <p-sortIcon
                                [field]="column.headerName"
                                *ngIf="column.headerName !== 'subscriber'"
                            ></p-sortIcon>
                            <p-columnFilter
                                *ngIf="column.headerName === 'accountStatus' || column.headerName === 'subType'"
                                [field]="column.headerName"
                                display="menu"
                                [showAddButton]="false"
                                [showOperator]="false"
                                [placeholder]="column.displayName"
                                id="accountHistory-form-12"
                            ></p-columnFilter>

                            <p-columnFilter
                                *ngIf="column.headerName === 'balance' || column.headerName === 'amount'"
                                [field]="column.headerName"
                                display="menu"
                                [showAddButton]="false"
                                [showOperator]="false"
                                [placeholder]="column.displayName"
                                [showMatchModes]="false"
                                id="accountHistory-form-11"
                            ></p-columnFilter>
                            <p-columnFilter
                                *ngIf="column.headerName === 'activityType'"
                                [field]="column.headerName"
                                display="menu"
                                matchMode="equals"
                                [showOperator]="false"
                                placeholder="Type.."
                                [showMatchModes]="false"
                                [showAddButton]="false"
                                id="accountHistory-form-8"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown
                                        display="menu"
                                        [options]="types"
                                        [(ngModel)]="typeValue"
                                        optionLabel="name"
                                        optionValue="value"
                                        placeholder="Select a type.."
                                        [showClear]="true"
                                        (onChange)="filter($event.value)"
                                        id="accountHistory-form-7"
                                    ></p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </span>
                    </th>
                    <!--
                    <th>
                        <button
                            pButton
                            [disabled]="filtersOff"
                            *ngIf="!filtersOff"
                            class="btn p-button-outlined"
                            icon="pi pi-replay"
                            (click)="resetHistory()"
                            id="accountHistory-form-13"
                        ></button>
                    </th>
                    -->
                </tr>
            </ng-template>
            <ng-template let-item pTemplate="body">
                <tr [pSelectableRow]="item" class="heading-13" id="accountHistory-form-15">
                    <!--<td>{{ item.activityType || '-' }}</td>
                    <td>{{ item.activityId || '-' }}</td>
                    <td>{{ item.subscriber || '-' }}</td>
                    <td>{{ (item.date | date) || '-' }} {{ item.date | date : 'd/M/y, h:mm:ss a' }}</td>
                    <td>{{ item.subType || '-' }}</td>
                    <td>{{ item.amount || '-' }}</td>
                    <td>{{ item.balance || '-' }}</td>
                    <td>{{ item.accountStatus || '-' }}</td>
                    <td>{{ item.transactionCode || '-' }}</td>
                    <td>{{ item.transactionType || '-' }}</td>-->
                    <td *ngFor="let i of accountColumns">
                        {{
                            i.headerName === 'date'
                                ? (item[i.headerName] | date : 'd/M/y, h:mm:ss a')
                                : item[i.headerName] || '-'
                        }}
                    </td>
                    <td [id]="item.activityId">
                        <a (click)="exportDetailsExcel(item, $event)" title="Download Account">
                            <span class="icon-circle">
                                <i class="pi pi-download color-light-grey"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data-found
            *ngIf="table?.filteredValue?.length === 0 || (allAccountHistory?.length === 0 && !allDataLoading)"
            id="account-group-no-data-found"
        ></app-no-data-found>
    </div>
    <p-dialog
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [blockScroll]="true"
        [modal]="true"
        [contentStyle]="{overflow: 'visible'}"
        [closeOnEscape]="true"
        header="Reason"
        [(visible)]="ReasonDialog"
        [style]="{width: '35vw'}"
        [resizable]="false"
        [draggable]="false"
        id="accountHistory-form-18"
        (onHide)="reason = null"
        (keydown.enter)="submitReason(true)"
    >
        <div class="container">
            <input type="text" [(ngModel)]="reason" class="form-control" id="accountHistory-form-19" />
        </div>
        <p-footer>
            <button (click)="ReasonDialog = false" class="btn-grey btn" id="accountHistory-form-20">Cancel</button>
            <button
                [disabled]="!reason"
                (click)="submitReason()"
                class="btn btn-submit-red"
                id="accountHistory-form-21"
            >
                Save
            </button>
        </p-footer>
    </p-dialog>
    <div class="fetching-img" *ngIf="isFetchingList$ | async">
        <img src="./../../../../../assets/images/getData.png" />
        <h3>Loading ...</h3>
    </div>
</div>
<!-- history details dialog -->
<p-dialog
    [resizable]="false"
    [draggable]="false"
    header="Account history details"
    [(visible)]="detailsDialog"
    [style]="{width: '50vw', minHeight: '100vh', overflowY: 'scroll'}"
    [baseZIndex]="10000"
    [dismissableMask]="true"
    [modal]="true"
    class="edit-admin-account-dialog reason-dialog"
    [closeOnEscape]="true"
    [closeOnEscape]="true"
    id="accountHistory-form-22"
    [contentStyle]="{overflow: 'visible', height: '80%'}"
>
    <p-table
        [value]="rowSelectedArray"
        [paginator]="true"
        [rowHover]="true"
        [scrollable]="true"
        [rows]="3"
        dataKey="id"
        responsiveLayout="scroll"
        class="mt-3 acc-his-table"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[3, 5, 10]"
        id="notepad-2"
        [totalRecords]="rowSelectedArray?.length"
    >
        <ng-template pTemplate="caption" class="border-0">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <span class="p-float-label">
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="value"
                            (keyup)="detailsSearch()"
                            id="accountHistory-form-23"
                        />
                        <label for="accountHistory-form-23" id="tab-3">
                            <i class="pi pi-search"></i>
                            Global Search
                        </label>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="key">
                    <div class="d-flex">
                        Field
                        <p-sortIcon field="key" id="tab-8"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="data">
                    <div class="d-flex">
                        value
                        <p-sortIcon field="data" id="tab-12"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.key }}</td>
                <td>{{ item.data || '-' }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
        <div class="text-center">
            <button class="btn btn-submit-red" (click)="backToHistory()" id="accountHistory-form-26">
                Back To History
            </button>
        </div>
    </p-footer>
</p-dialog>
<div
    class="row d-flex justify-content-center align-items-center text-center h-100"
    *ngIf="!GET_ALL_ACCOUNT_HISTORY"
    id="accountHistory-form-27"
>
    <app-not-authorized></app-not-authorized>
</div>
<ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
<ngx-loading [show]="allDataLoading" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>
