<div class="page-container" id="account-group-1">
    <div class="d-flex justify-content-between mb-2" id="account-group-2">
        <div class="heading-24 roboto-medium" id="account-group-3">Account Group</div>
        <button class="btn btn-submit-red" (click)="submit()" [disabled]="!dropDownValue" id="account-group-submit">
            Submit
        </button>
    </div>
    <div class="row" id="account-group-4">
        <div class="col-12 col-md-6 col-lg-4" id="account-group-5">
            <span class="p-float-label">
                <input
                    id="float-input"
                    [value]="currentAccountGroup?.name"
                    type="text"
                    pInputText
                    disabled
                    id="account-group-input-1"
                />
                <label for="float-input" id="account-group-label-1">Current Account Group</label>
            </span>
        </div>
        <div class="col-lg-4 col-12 col-md-6 position-relative">
            <span class="p-float-label">
                <p-dropdown
                    [options]="accountGroups"
                    optionLabel="name"
                    optionValue="id"
                    inputId="acc-gropdrop-down"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    [(ngModel)]="dropDownValue"
                    (onChange)="setTableDate($event.value)"
                    [autoDisplayFirst]="false"
                    id="account-dropdown-20"
                ></p-dropdown>
                <label for="acc-gropdrop-down" id="account-group-dropdown-label-1">
                    New Account Group
                    <span class="text-danger required-star">*</span>
                </label>
            </span>
        </div>
        <div class="mt-2">
            <p-table
                [value]="tableData"
                responsiveLayout="scroll"
                selectionMode="single"
                [rows]="5"
                #dt
                id="account-group-table-1"
            >
                <ng-template pTemplate="header">
                    <tr class="heading-12" *ngIf="tableData?.length >0">
                        <th>
                            <div class="d-flex">Account Group</div>
                        </th>
                        <th>
                            <div class="d-flex">Enabled</div>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-bit id="account-group-table-body-1">
                    <tr class="heading-12 break-word">
                        <td>{{ bit?.bitName }}</td>
                        <td>
                            <p-checkbox [binary]="true" [(ngModel)]="bit.isEnabled" class="me-2"></p-checkbox>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <app-no-data-found
                *ngIf="dt?.filteredValue?.length === 0"
                id="account-group-no-data-found"
            ></app-no-data-found>
        </div>
    </div>
    <div class="fetching-img" *ngIf="isFetchingList$ |async">
        <img src="./../../../../../assets/images/getData.png">
        <h3>Loading ...</h3>
    </div>
</div>
<ngx-loading
    [show]="loading$ | async"
    [config]="{backdropBorderRadius: '22px'}"
    id="account-group-loader"
></ngx-loading>
