<div class="page-container external-service-nodes" id="external-nodes-div-1">
    <div class="row header mb-0" id="external-nodes-div-2">
        <div class="col-6 heading-24 roboto-medium" id="external-nodes-div-3">External Service Nodes Page</div>
    </div>
    <div class="row mt-3" id="external-nodes-div-4">
        <div class="col-12" id="external-nodes-div-5">
            <ul class="d-flex color-light-grey" id="external-nodes-ul-1">
                <li id="external-nodes-li-1" (click)="switchTab('Air Nodes')" [ngClass]="{active: tab == 'Air Nodes'}">
                    AIR Nodes</li>
                <li id="external-nodes-li-2" (click)="switchTab('ODS Nodes')" [ngClass]="{active: tab == 'ODS Nodes'}">
                    ODS Nodes</li>
                <li id="external-nodes-li-3" (click)="switchTab('DSS Nodes')" [ngClass]="{active: tab == 'DSS Nodes'}">
                    DSS Nodes</li>
                <li id="external-nodes-li-4" (click)="switchTab('FlexShare Nodes')"
                    [ngClass]="{active: tab == 'FlexShare Nodes'}">
                    Flex Share Nodes
                </li>
            </ul>
            <div class="tabs-underline" id="external-nodes-div-6"></div>
        </div>
    </div>
    <div [ngSwitch]="tab" class="mt-0" id="external-nodes-div-7">
        <div *ngSwitchCase="'Air Nodes'" id="external-nodes-div-8">
            <app-air-nodes id="external-nodes-node-1"></app-air-nodes>
        </div>
        <div *ngSwitchCase="'ODS Nodes'" id="external-nodes-div-9">
            <app-ods-nodes id="external-nodes-node-2"></app-ods-nodes>
        </div>
        <div *ngSwitchCase="'DSS Nodes'" id="external-nodes-div-10">
            <app-dss-nodes id="external-nodes-node-3"></app-dss-nodes>
        </div>
        <div *ngSwitchCase="'FlexShare Nodes'" id="external-nodes-div-11">
            <app-flexshare-nodes id="external-nodes-node-4"></app-flexshare-nodes>
        </div>
    </div>
</div>
<ngx-loading id="bp-loading-1" [show]="loading | async" [config]="{backdropBorderRadius: '22px'}"></ngx-loading>