<div class="page-container account-admin" id="scratchCards">
    <form>
        <div class="d-flex justify-content-between">
            <div class="heading-24 roboto-medium">Voucher</div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="d-flex color-light-grey" id="scratchCards-1">
                    <li
                        (click)="switchTab('voucher-info')"
                        [ngClass]="{active: tab == 'voucher-info'}"
                        *ngIf="permissions.viewVoucherInfo"
                        id="scratchCards-2"
                    >
                        Voucher Info
                    </li>
                    <li
                        (click)="switchTab('voucherBased-refill')"
                        [ngClass]="{active: tab == 'voucherBased-refill'}"
                        *ngIf="permissions.viewVoucherBasedRefill"
                        id="scratchCards-3"
                    >
                        VoucherBased Refill
                    </li>
                    <li
                        (click)="switchTab('overScratch')"
                        [ngClass]="{active: tab == 'overScratch'}"
                        *ngIf="permissions.viewOverScratch"
                        id="scratchCards-4"
                    >
                        OverScratch
                    </li>
                </ul>
                <div class="tabs-underline"></div>
            </div>
        </div>
        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'voucher-info'" id="scratchCards-5">
                <app-voucher-info *ngIf="permissions.viewVoucherInfo || permissions.viewUpdateVoucher"></app-voucher-info>
            </div>
            <div *ngSwitchCase="'voucherBased-refill'" id="scratchCards-6">
                <app-voucher-based-refill *ngIf="permissions.viewVoucherBasedRefill"></app-voucher-based-refill>
            </div>
            <div *ngSwitchCase="'overScratch'" id="scratchCards-7">
                <app-over-scratch *ngIf="permissions.viewOverScratch"></app-over-scratch>
            </div>
        </div>
    </form>
</div>
