.add-thrshold{
    cursor: pointer;
    &:hover{
        color: #ed1b2e;
        text-decoration: underline;
    }
}
.custom-padding{
    padding: 7px 5px;
}
.custom-padding-2{
    padding: 6px 6px;
}