<div class="page-container account-history" id="serviceOffering">
    <div class="d-flex justify-content-between mb-2">
        <div class="heading-24 roboto-medium">Service Offering</div>
        <button class="btn btn-submit-red" (click)="submit()" id="serviceOffering-1">Submit</button>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span class="p-float-label">
                <input id="float-input" [value]="currentServiceOffering?.name" type="text" pInputText disabled />
                <label for="float-input">Current Service Offering</label>
            </span>
        </div>
        <div class="col-lg-4 col-12 col-md-6 position-relative">
            <span class="p-float-label">
                <p-dropdown [options]="serviceOfferingList" optionLabel="name" optionValue="id" inputId="typeDropdown"
                    [autoDisplayFirst]="false" [filter]="true" filterBy="name" [(ngModel)]="dropDownValue"
                    (onChange)="setTableDate($event.value)" id="serviceOffering-2"></p-dropdown>
                <label for="typeDropdown">
                    New Service Offering
                    <span class="text-danger required-star">*</span>
                </label>
            </span>
        </div>
        <div class="mt-2">
            <p-table [value]="tableData" responsiveLayout="scroll" selectionMode="single" [rows]="5" #dt
                id="serviceOffering-3">
                <ng-template pTemplate="header">
                    <tr class="heading-12">
                        <th>
                            <div class="d-flex">Service Offering</div>
                        </th>
                        <th>
                            <div class="d-flex">Enabled</div>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-bit>
                    <tr class="heading-12 break-word">
                        <td>{{ bit?.bitName }}</td>
                        <td>
                            <p-checkbox [binary]="true" [(ngModel)]="bit.isEnabled" class="me-2"></p-checkbox>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <app-no-data-found *ngIf="dt?.filteredValue?.length === 0" id="serviceOffering-4"></app-no-data-found>
        </div>
    </div>
    <ngx-loading [show]="loading$ | async" [config]="{backdropBorderRadius: '22px'}" id="serviceClass-12"></ngx-loading>
</div>