<!-- <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of dataStrings; let i=index;">
        <ng-template carouselSlide>
         {{item}}
        </ng-template>
      </ng-container>
</owl-carousel-o> -->
<!-- <div>{{currentValue}}</div> -->
<!-- <div *ngIf="counter$ | async as counter">
    <marquee width="100%" direction="left" height="30%">
        <span class="title" id="text-carousel-title">{{ counter.title }} :</span>
        <span class="data" id="text-carousel-description">{{ counter.description }}</span>
    </marquee>
    
    allMarques

</div> -->

<marquee width="100%" direction="left" height="40%">
    <div [innerHTML]="allMarques" class="marquee">

    </div>
</marquee>
<!-- <div *ngFor="let item of dataStrings; let i = index" [ngClass]="{'d-none': i !== currentIndex}">{{item}}</div> -->