marquee {
    background-color: #f5f7fa;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 125ms all ease-in-out;
    margin-top: 2%;
}

:host ::ng-deep span {
    color: #f33939;
    font-weight: 600;
    margin-right: 5px;
}

:host ::ng-deep strong {
    // animation: fadeInAnimation ease-in-out 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    margin-inline-end: 30px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    // 30% {
    //     opacity: 1;
    // }

    // 100% {
    //     opacity: 0.9;
    // }
}