<div class="page-container" id="usageThreshold">
    <div class="row mb-2">
        <div class="col-6 heading-24 roboto-medium" id="usageThreshold-1">
            Usage Counter Thresholds ({{ usageCounterData.id }})
        </div>
        <div class="col-6 ">
            <div class="d-flex justify-content-end">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-arrow-left"
                    class="p-mr-2 me-2 btn btn-black mt-2 mt-lg-0"
                    (click)="backToUsageCounter()"
                    id="usageThreshold-4"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-mr-2 me-2 btn btn-black mt-2 mt-lg-0"
                    (click)="addNewThreshold()"
                    id="usageThreshold-6"
                ></button>
                <button
                    id="user-access-btn-4"
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-search"
                    class="p-mr-2 me-2 btn btn-black"
                    pTooltip="Export All"
                    tooltipPosition="bottom"
                    (click)="search=!search"
                    [ngClass]="{'search-active' : search}"
                ></button>
            </div>
        </div>
    </div>
    <div class="row mb-2 hide-search" [ngClass]="{'show-search':search}">
        <div class="col-lg-4 offset-lg-8">
            <span class="p-float-label">
                <input
                [(ngModel)]="searchText"
                    pInputText
                    type="text"
                    #input
                    (input)="dt.filterGlobal(input.value, 'contains')"
                    id="search"
                />
                <label for="search" id="user-access-label-1">
                    <i class="pi pi-search"></i>
                    Global Search
                </label>
            </span>
        </div>
    </div>
    <!-- threshold table -->
    <p-table
        [value]="thresholds"
        [paginator]="dt?.filteredValue?.length !== 0 && thresholds?.length > 0 ? true : false"
        [rows]="5"
        #dt
        responsiveLayout="scroll"
        [globalFilterFields]="['usageThresholdID', 'usageThresholdSource', 'usageThresholdValue']"
        id="usageThreshold-2"
    >
        <ng-template pTemplate="header">
            <tr *ngIf="dt?.filteredValue?.length !== 0 && thresholds?.length > 0">
                <th pSortableColumn="usageThresholdID">
                    <div class="d-flex">
                        ID
                        <p-sortIcon field="usageThresholdID"></p-sortIcon>
                        <p-columnFilter
                            type="text"
                            field="usageThresholdID"
                            display="menu"
                            class="p-ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="usageThresholdSource">
                    <div class="d-flex">
                        Source
                        <p-sortIcon field="usageThresholdSource"></p-sortIcon>
                        <p-columnFilter
                            type="text"
                            field="usageThresholdSource"
                            display="menu"
                            class="p-ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="usageThresholdValue">
                    <div class="d-flex">
                        Value
                        <p-sortIcon field="usageThresholdValue"></p-sortIcon>
                        <p-columnFilter
                            type="text"
                            field="usageThresholdValue"
                            display="menu"
                            class="p-ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-threshold>
            <tr>
                <td>{{ threshold.usageThresholdID }}</td>
                <td>{{ threshold.usageThresholdSource }}</td>
                <td>{{ threshold.usageThresholdValue }}</td>
                <td>
                    <div>
                        <span class="icon-circle" (click)="onUpdateThreshold(threshold)">
                            <i class="pi pi-pencil heading-13 color-light-grey"></i>
                        </span>
                        <span class="icon-circle" (click)="confirmDelete(threshold)">
                            <i class="pi pi-trash heading-13 color-light-grey"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-no-data-found
        *ngIf="dt?.filteredValue?.length === 0 || thresholds?.length === 0"
        id="usageThreshold-7"
    ></app-no-data-found>
    <ngx-loading
        [show]="loading$ | async"
        [config]="{backdropBorderRadius: '22px'}"
        id="usageThreshold-8"
    ></ngx-loading>
    <!-- ADD dialog -->
    <p-dialog
        [resizable]="false"
        [draggable]="false"
        [style]="{width: '40vw'}"
        [baseZIndex]="10000"
        [dismissableMask]="true"
        [modal]="true"
        [closable]="true"
        [contentStyle]="{overflow: 'visible'}"
        class="edit-admin-account-dialog"
        [closeOnEscape]="true"
        [(visible)]="isThresholdModalOpened"
        [header]="isUpdate ? 'Edit Threshold' : 'Add New Threshold'"
        (onHide)="hideDialog()"
        (onShow)="focusThresholdIDInput()"
        id="usageThreshold-9"
    >
        <div class="container">
            <form [formGroup]="thresholdForm">
                <div class="row">
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-inputNumber
                                formControlName="usageThresholdID"
                                class="w-100"
                                inputId="usageThresholdID"
                                [useGrouping]="false"
                                [disabled]="isUpdate"
                                (onInput)="checkIDExist($event)"
                                #threIDInput
                                id="usageThreshold-10"
                            ></p-inputNumber>
                            <label for="usageThresholdID">
                                Usage Threshold ID
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <div class="err text-danger" id="usageThreshold-11" *ngIf="isFoundedError">
                            Threshold ID should be unique
                        </div>
                        <!-- <app-forms-errors class="text-danger" [control]="usageCounterForm.controls.id"></app-forms-errors> -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-inputNumber
                                class="w-100"
                                formControlName="usageThresholdSource"
                                inputId="usageThresholdSource"
                                [useGrouping]="false"
                                id="usageThreshold-12"
                            ></p-inputNumber>
                            <label for="usageThresholdSource">
                                Usage Threshold Source
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <app-forms-errors class="text-danger" id="usageThreshold-13"></app-forms-errors>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="p-float-label">
                            <p-inputNumber
                                class="w-100"
                                formControlName="usageThresholdValue"
                                inputId="usageThresholdValue"
                                [useGrouping]="false"
                                id="usageThreshold-14"
                            ></p-inputNumber>
                            <label for="usageThresholdValue">
                                Usage Threshold Value
                                <span class="text-danger required-star">*</span>
                            </label>
                        </span>
                        <!-- <app-forms-errors
                class="text-danger"
                [control]="usageCounterForm.controls.monetaryValue1"
            ></app-forms-errors> -->
                    </div>
                </div>
            </form>
        </div>

        <p-footer>
            <button
                type="button"
                class="btn-grey btn"
                (click)="isThresholdModalOpened = !isThresholdModalOpened"
                id="usageThreshold-15"
            >
                Cancel
            </button>
            <button
                (click)="onSubmitThreshold()"
                type="submit"
                class="btn-red btn"
                [disabled]="!thresholdForm.valid || isFoundedError"
                id="usageThreshold-16"
            >
                Save
            </button>
        </p-footer>
    </p-dialog>
</div>
<p-confirmDialog
    header="Confirmation"
    rejectButtonStyleClass="btn btn-transparent"
    acceptButtonStyleClass="btn btn-submit-red"
    acceptIcon=""
    rejectIcon=""
    id="usageThreshold-17"
></p-confirmDialog>
